# use glob syntax.
syntax: glob
*.pyc
*.swp
*~
lextyrtab.py
parsetyrtab.py
parser.out
distribute-0.6.10.tar.gz
.vim_maindev
.vimsession
tayra.egg-info
# switch to regexp syntax.
syntax: regexp
^\.pc/
^tayra-env/*
^eggs/*
^_build/*
^dist/*
^tayra.egg-info/*
