body {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 11px;
    color: White; }

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../images/bg-halo.jpg?771);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #222;
    min-height: 1200px; }

a {
    color: #FF8;
    text-decoration: none; }

a:hover {
    text-decoration: underline; }

a:visited {
    color: #AA6; }

h1, h2, h3, h4, h5, h6 {
    color: #9BE; }

h1 {
    margin-top: 0px; }

h2 {
    border-bottom: 1px solid #666; }

h2.noline {
    border-bottom-width: 0px; }

form {
    margin: 0px;
    padding: 0px; }

input, select, button, textarea {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px; }

img {
    border: 0px; }


/* ads */

div.ad.top.wrapper {
    padding-top: 10px;
    text-align: center; }

div.ad.top.wrapper table.frame {
    margin-left: auto;
    margin-right: auto; }

div.ad300x250 {
    width: 300px;
    margin-bottom: 15px; }

div.ad300x250news {
    position: relative;
    text-align: center;
    margin-bottom: 10px; }
    
div.ad300x250news div.divider {
    top: 0px;
    left: 60px;
    position: absolute;
    text-align: left;
    width: 530px;
    border-top: 1px solid #666;
    color: #888; }


/* Yahoo ads */

div.ad728x90 .sponsoredLink {
    font-size: 10px;
    color: #999;
    margin: 0px 2px;
    padding: 5px 0px; }

div.ad728x90 .ad_column {
    margin: 0px 9px 0px 0px;
    float: left;
    width: 230px;
    padding-bottom: 5px;
    text-align: left; }

div.ad728x90 .ad_column.first {
    margin-left: 11px; }

div.ad728x90 .ad_column .line1 a {
    color: #FFFF66;
    font-size: 13px; }

div.ad728x90 .ad_column .line2 a {
    color: #FFF; }

div.ad728x90 .ad_column .url a {
    color: #9BE; }

div.ad300x250 .sponsoredLink {
    font-size: 10px;
    color: #999;
    padding: 5px 0px; }

div.ad300x250 .ad_row {
    padding-bottom: 10px;
    margin: 0px 10px;
    text-align: left; }

div.ad300x250 .ad_row.first {
    padding-top: 5px; }

div.ad300x250 .ad_row .line1 a {
    color: #FFFF66;
    font-size: 13px }

div.ad300x250 .ad_row .line2 a {
    color: #FFF; }

div.ad300x250 .ad_row .url a {
    color: #9BE; }


/* chrome */

div.chromeHeader {
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../Images/chrome-header.png?771);	}

div.chromeMainTop {
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../Images/chrome-main-top.png?771);
    padding-top: 15px; }

div.chromeMainBottom {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../Images/chrome-main-bottom.png?771);
    padding-bottom: 30px; }

div.chromeMainMiddle {
    background-repeat: repeat-y;
    background-position: center top;
    background-image: url(../Images/chrome-main-middle.png?771); }


/* dark menu */

table.darkMenu {
    position: absolute;
    z-index: 100000; }

table.darkMenu td.shadow11 {
    width: 10px;
    height: 20px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-11.png?771);
    background-position: left top;
    background-repeat: no-repeat; }

table.darkMenu td.shadow11 div {
    width: 10px;
    height: 20px;
    overflow: hidden; }

table.darkMenu td.shadow12 {
    height: 20px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-12.png?771);
    background-position: center top;
    background-repeat: no-repeat; }

table.darkMenu td.shadow13 {
    width: 10px;
    height: 20px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-13.png?771);
    background-position: left top;
    background-repeat: no-repeat; }

table.darkMenu td.shadow13 div {
    width: 10px;
    height: 10px;
    overflow: hidden; }

table.darkMenu td.shadow21 {
    vertical-align: top;
    width: 10px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-21.png?771);
    background-repeat: repeat-y; }

table.darkMenu td.shadow22 {
    background-color: #313131; }

table.darkMenu td.shadow23 {
    width: 10px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-23.png?771);
    background-position: left top;
    background-repeat: repeat-y; }

table.darkMenu td.shadow31 {
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-31.png?771);
    background-position: left top;
    background-repeat: no-repeat; }

table.darkMenu td.shadow32 {
    height: 10px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-32.png?771);
    background-position: left top;
    background-repeat: repeat-x; }

table.darkMenu td.shadow33 {
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-image: url(../images/dark-menu-flyout-33.png?771);
    background-position: left top;
    background-repeat: no-repeat; }
    
table.darkMenu table.columns td.column.first {
    padding-right: 5px;
    border-right: 1px solid #222; }

table.darkMenu table.columns td.column.middle {
    padding-right: 5px;
    padding-left: 5px;
    border-left: 1px solid #444;
    border-right: 1px solid #222; }

table.darkMenu table.columns td.column.last {
    padding-left: 5px;
    border-left: 1px solid #444; }    

table.darkMenu div.group.first {
    padding-bottom: 2px;
    border-bottom: 1px solid #222; }

table.darkMenu div.group.middle {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222; }

table.darkMenu div.group.last {
    padding-top: 2px;
    border-top: 1px solid #444; }

table.darkMenu a {
    display: block;
    padding: 3px 6px;
    line-height: 11px;
    color: White;
    text-decoration: none;
    white-space: nowrap; }

table.darkMenu a:hover {
    background-color: #222; }
    

/* header */

div.siteHeader {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding: 15px 0px 0px 0px;
    height: 50px;
    position: relative;
    z-index: 1000; }

div.siteHeader img.siteLogo {
    float: left; }

div.siteHeader ul.mainMenu {
    display: block;
    padding: 0px;
    margin: 0px;
    height: 50px; }

div.siteHeader ul.mainMenu li {
    position: relative;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none; }

div.siteHeader ul.mainMenu li a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: White; }

div.siteHeader ul.mainMenu li a span.left {
    display: block;
    padding-left: 5px; }

div.siteHeader ul.mainMenu li.active a span.left {
    background-image: url(../images/main-menu-left.png?771);
    background-repeat: no-repeat;
    background-position: left top; }

div.siteHeader ul.mainMenu li a span.right {
    display: block;
    padding-right: 5px; }

div.siteHeader ul.mainMenu li.active span.right {
    background-image: url(../images/main-menu-right.png?771);
    background-repeat: no-repeat;
    background-position: right top; }

div.siteHeader ul.mainMenu li a span.middle {
    display: block;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20px;
    padding-bottom: 19px;
    line-height: 11px; }

div.siteHeader ul.mainMenu li.active a span.middle {
    background-image: url(../images/main-menu-middle.png?771);
    background-repeat: repeat-x;
    background-position: right top; }
    
div.siteHeader ul.mainMenu li a span.middle span.tag {
    color: #333333;
    background-color: #FFCC00;
    font-weight: bold;
    font-size: 10px;
    margin-left: 4px;
    padding: 1px 4px; 
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }

div.siteHeader ul.mainMenu li table.subItems {
    position: absolute;
    z-index: 100000;
    top: 35px;
    left: 50%;
    margin-left: -50px; }

div.siteHeader ul.mainMenu li table.subItems a {
    font-weight: normal; }

div.siteHeader ul.mainMenu li table.subItems a span.tag {
    display: inline-block;
    margin-top: -2px;
    padding: 3px 4px;
    font-size: 9px;
    line-height: 9px;
    background-color: #666;
    font-weight: bold;
    border-radius: 2px; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; }

div.siteHeader ul.mainMenu li table.subItems a.reviewCamera,
div.siteHeader ul.mainMenu li table.subItems a.reviewCameraGroupTest,
div.siteHeader ul.mainMenu li table.subItems a.reviewLens,
div.siteHeader ul.mainMenu li table.subItems a.reviewSoftware {
    background-repeat: no-repeat;
    padding-left: 28px;
    background-position: 2px center;
    background-repeat: no-repeat; }

div.siteHeader ul.mainMenu li table.subItems a.reviewCamera {
    background-image: url(../images/main-menu-icon-camera.png?771); }

div.siteHeader ul.mainMenu li table.subItems a.reviewCameraGroupTest {
    background-image: url(../images/main-menu-icon-camera.png?771); }

div.siteHeader ul.mainMenu li table.subItems a.reviewLens {
    background-image: url(../images/main-menu-icon-lens.png?771); }
    
div.siteHeader ul.mainMenu li table.subItems a.reviewSoftware {
    background-image: url(../images/main-menu-icon-cd.png?771); }

#site-searchbox {
    float: right;
    padding: 14px 10px 0px 0px;
    width: 115px; }

#site-searchbox div.left {
    height: 22px;
    padding-left: 10px;
    background-image: url(../images/header/site-search-left.gif?771);
    background-position: left center;
    background-repeat: no-repeat; }

#site-searchbox div.right {
    height: 22px;
    padding-right: 18px;
    background-image: url(../images/header/site-search-right.gif?771);
    background-position: right center;
    background-repeat: no-repeat; }

#site-searchbox div.middle {
    position: relative;
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    padding-top: 5px;
    padding-bottom: 6px;
    background-image: url(../images/header/site-search-middle.gif?771);
    background-position: left center;
    background-repeat: repeat-x;
    color: #AAA; }

#site-searchbox input {
    position: absolute;
    left: 0px;
    top: 5px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 85px;
    background-color: transparent; }


/* content */

div.contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    background-image: url(../images/chrome-content-sep.png?771);
    background-position: top left;
    background-repeat: repeat-y; }

div.mainContent {
    padding-left: 15px;
    padding-right: 15px;
    width: 590px;
    float: left;
    background: #000;
    min-height: 500px;}

div.sideBar {
    padding-left: 15px;
    width: 300px;
    padding-right: 15px;
    float: left; }

div.mainContent div.content,
div.mainContent table.contentTable td {
    font-size: 12px; }


/* footer */

div.siteFooter {
    margin-top: -5px;
    text-align: center;
    padding-bottom: 20px; }

div.siteFooter div.links {
    line-height: 11px; }

div.siteFooter div.links a {
    color: White; }
    
div.siteFooter div.links a.logo img {
    vertical-align: -8px; }

div.siteFooter div.copyright {
    margin-top: 5px;
    color: #888;
    font-size: 7pt; }


/* standard footer used on news, reviews, ... */	
    
div.mainContent div.articleFooter {
    position: relative;
    background: url(../images/main-content-bar.png?771) no-repeat;
    margin-top: 5px;
    padding: 2px 8px;
    height: 24px;
    line-height: 11px; }
    
div.mainContent div.articleFooter div.paging {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    text-align: center;
    padding-top: 6px;
    line-height: 11px; }
    
div.mainContent div.articleFooter div.tools {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    padding-top: 6px; }
    
div.mainContent div.articleFooter div.tools span.tool {
    vertical-align: top;
    display: inline-block;
    padding-left: 18px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-position: left 0px;
    line-height: 11px;
    height: 12px; }	
    
div.mainContent div.articleFooter div.tools span.tool.email {
    background-image: url(../images/news/icon-email.png?771); }
    
div.mainContent div.articleFooter div.tools span.tool.print {
    background-image: url(../images/news/icon-print.png?771); }

div.mainContent div.articleFooter div.tools span.tool.postComment {
    background-image: url(../images/news/icon-forum.png?771); }

div.mainContent div.articleFooter div.tools span.tool.readComment {
    background-image: url(../images/news/icon-forum.png?771); }

div.mainContent div.articleFooter div.tools span.tool a {
    line-height: 11px; }

div.mainContent div.articleFooter div.share {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 4px;
    padding-right: 10px;
    text-align: right; }

div.mainContent div.articleFooter span.label {
    display: inline-block;
    vertical-align: top;
    line-height: 11px;
    padding-top: 2px; }
    

/* mostly used in reviews but occasionally also somewhere
   else which is why we need to have it here */

div.mainContent .h4size {
    color: #AAC4FF;
    font-size: 14px;
    font-weight: bold; }

div.mainContent .small10 {
    font-size: 10px; }

div.mainContent .small11 {
    font-size: 11px; }

div.mainContent .small {
    font-size: 12px; }

div.mainContent .green {
    color: #33FF33; }

div.mainContent .blue {
    color: #AAC4FF; }

div.mainContent .img-border {
    border: 6px solid #555555; }

div.mainContent a.white {
    text-decoration: none;
    color: #EEEEEE; }

div.mainContent a.white:hover {
    text-decoration: none;
    color: #F4FF1A; }

div.mainContent a.nobg:hover {
    text-decoration: none;
    background: none; }

div.mainContent a.hover:hover {
    color: #FFFF66;
    text-decoration: none;
    background: #555555; }

div.mainContent .clickable {
    cursor: pointer; }

div.mainContent td.tdcontentsm {
    background: #555555;
    font-size: 11px; }

div.mainContent td.tdlabelsimpsm {
    background: #333333;
    font-size: 11px; }

div.mainContent td.tdlabelsm {
    background: #333333;
    vertical-align: top;
    padding-top: 1px;
    font-size: 11px; }

div.mainContent td.tdcontent {
    background: #555555; }

div.mainContent td.tdlabelsimp {
    background: #333333; }

div.mainContent td.tdlabel {
    background: #333333;
    vertical-align: top;
    padding-top: 1px; }

div.mainContent td.tdinputlabel {
    background: #555555;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 6px; }

div.mainContent td.tdcontentsmhigh {
    background: #557755;
    font-size: 11px; }

div.mainContent td.tdcontentsmlow {
    background: #775555;
    font-size: 11px; }

div.mainContent table.table-std {
    border-style: none;
    border-collapse: collapse; }

div.mainContent table.table-std td {
    border: 1px solid #000000;
    padding: 2px;
    background: #555555;
    font-size: 11px;
    vertical-align: top; }

div.mainContent table.table-std td.bg_high {
    background: #557755; }

div.mainContent table.table-std td.bg_low {
    background: #775555; }

div.mainContent table.table-std td.bg_black {
    background: #000000; }

div.mainContent table.table-std th {
    border: 1px solid #000000;
    padding: 2px;
    background: #333333;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    vertical-align: top; }

div.mainContent table.table-std-c {
    border-style: none;
    border-collapse: collapse; }

div.mainContent table.table-std-c td {
    border: 1px solid #000000;
    padding: 2px;
    background: #555555;
    font-size: 11px; }

div.mainContent table.table-std-c th {
    border: 1px solid #000000;
    padding: 2px;
    background: #333333;
    font-size: 11px;
    font-weight: normal;
    text-align: left; }

div.mainContent table.table-headcc {
    border-style: none;
    border-collapse: collapse; }

div.mainContent table.table-headcc td {
    border: 1px solid #000000;
    padding: 2px;
    background: #555555;
    font-size: 11px;
    vertical-align: top; }

div.mainContent table.table-headcc th {
    border: 1px solid #000000;
    padding: 2px;
    background: #333333;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle; }

div.mainContent table.table-std6px {
    border-style: none;
    border-collapse: collapse; }

div.mainContent table.table-std6px td {
    border: 1px solid #000000;
    padding: 6px;
    background: #555555;
    font-size: 12px;
    vertical-align: top; }

div.mainContent table.table-std6px th {
    border: 1px solid #000000;
    padding: 6px;
    background: #333333;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    vertical-align: top; }

div.mainContent table.table-std6px td.bg_black {
    background: #000000; }

div.mainContent table.table-std6px-sm {
    border-style: none;
    border-collapse: collapse; }

div.mainContent table.table-std6px-sm td {
    border: 1px solid #000000;
    padding: 6px;
    background: #555555;
    font-size: 11px;
    vertical-align: top; }

div.mainContent table.table-std6px-sm td.bg_black {
    background: #000000; }

div.mainContent table.table-std6px-sm th {
    border: 1px solid #000000;
    padding: 6px;
    background: #333333;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    vertical-align: top; }

div.mainContent table.table-tdpad-6px {
    border-style: none;
    border-collapse: collapse; }

div.mainContent table.table-tdpad-6px td {
    border: 1px solid #000000;
    padding: 6px;
    background: #555555;
    font-size: 11px; }

div.mainContent table.table-tdpad-6px th {
    border: 1px solid #000000;
    padding: 2px;
    background: #333333;
    font-size: 11px;
    font-weight: normal; }


/* MVC form fields */

fieldset {
    margin: 0px;
    border: 0px;
    padding: 0px; }

div.mainContent div.formRow {
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px dotted #444; }
    
div.mainContent div.formRow: first-child {
    border-top-width: 0;
    padding-top: 0; }

div.mainContent div.formRow .field-validation-error,
div.mainContent .validation-summary-errors {
    color: #F13338; }
    
div.mainContent div.formSuccess {
    color: #02A42E;
    margin: 10px 0px;
    font-weight: bold; }
    
div.mainContent div.formSeparator {
    background: url(../images/main-content-bar.png?771) no-repeat; }

div.mainContent div.formSeparator div.legend,
div.mainContent fieldset legend {
    line-height: 24px;
    font-weight: bold;
    font-size: 13px;
    padding-left: 10px;
    color: White; }

div.mainContent div.formLabel {
    float: left;
    text-align: right;
    width: 90px;
    padding-right: 12px;
    font-weight: bold;
    color: #aaa; }

div.mainContent div.formLabel.only {
    float: none;
    text-align: left;
    width: auto;
    line-height: 24px;
    padding-right: 0px; }

div.mainContent div.formField {
    margin-left: 102px; }

div.mainContent div.formField.only {
    margin-left: 0px; }

.formInfo {
    display: block;
    color: #aaa;
    margin-top: 5px; }

.formRadioInfo {
    display: block;
    color: #aaa;
    margin-left: 16px; }

div.mainContent div.formField input[type=checkbox],
div.mainContent div.formField input[type=radio] {
    padding: 0px;
    margin: 0px;
    vertical-align: middle; }
    
div.mainContent div.formField label {
    vertical-align: middle; }

div.mainContent div.formFieldItem {
    margin: 5px 0px; }

div.mainContent div.formFieldItem:first-child {
    margin: 0px; }
    
div.mainContent div.formControls {
    margin: 10px 0;
    text-align: right; }

div.mainContent div.formRow:after {
    content: .;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }


/* round frames */

div.mainContent div.roundFrame {
    }

div.mainContent div.roundFrameMiddle {
    background-position: left top;
    background-repeat: repeat-y;
    background-image: url(../images/round-frame-middle.png?771); }

div.mainContent div.roundFrameTop {
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../images/round-frame-top.png?771); }
    
div.mainContent div.roundFrameBottom {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url(../images/round-frame-bottom.png?771); }
    
div.mainContent div.smallRoundFrame00 {
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../images/round-frame-small-00.png?771); }
    
div.mainContent div.smallRoundFrame01 {
    background-position: left top;
    background-repeat: repeat-x;
    background-image: url(../images/round-frame-small-01.png?771); }

div.mainContent div.smallRoundFrame02 {
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url(../images/round-frame-small-02.png?771); }

div.mainContent div.smallRoundFrame10 {
    background-position: left top;
    background-repeat: repeat-y;
    background-image: url(../images/round-frame-small-10.png?771); }
    
div.mainContent div.smallRoundFrame12 {
    background-position: right top;
    background-repeat: repeat-y;
    background-image: url(../images/round-frame-small-12.png?771); }

div.mainContent div.smallRoundFrame20 {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: url(../images/round-frame-small-20.png?771); }
    
div.mainContent div.smallRoundFrame21 {
    background-position: left bottom;
    background-repeat: repeat-x;
    background-image: url(../images/round-frame-small-21.png?771); }

div.mainContent div.smallRoundFrame22 {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(../images/round-frame-small-22.png?771); }


/* share widget */

table.shareWidget {
    }

table.shareWidget td.label {
    padding-right: 5px; }

table.shareWidget td.icon.first,
table.shareWidget td.icon.middle {
    padding-right: 2px; }

table.shareWidget td.icon div {
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer; }

table.shareWidget td.icon div.facebook {
    background-image: url(/resources/images/share-widget-icons.png?771);
    background-position: 0px 0px; }

table.shareWidget td.icon div.twitter {
    background-image: url(/resources/images/share-widget-icons.png?771);
    background-position: -16px 0px; }


/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.clearfix {
    display: inline-block; }

* html .clearfix {
    height: 1%; }

.clearfix {
    display: block; }
    
    