
/******************** reset ********************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-style:inherit;
	font-size:12px;
	font-family:"Times New Roman";
	vertical-align:baseline;
}
em {font-style:italic; font-size:16px}
h1 {font-size:1.8em}
h2 {font-size:1.6em}
h3 {font-size:1.4em}
h4 {font-size:1.25em;}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }

/******************** common ********************/
a{color:#3300cc}
a:visited {color:#660066}
/*active {color:#f00;color:#3300cc}*/
a.none:link {text-decoration:none}
ul.right_align{*margin:0;}
ul {list-style:none}
ul.{
	list-style:outside disc;
	margin:2.3em 0 0 4.6em;
}
ul.disc-large {
	list-style:outside disc;margin:0;
	float:left;width:100%;
}
ul.disc-large li {
	font-size:1.25em;font-weight:normal;
}
ul.disc-large li a{font-size:13px;font-weight:400;}
span.span-cite ul {width:100%;
	list-style:outside disc;
}
ul.circle {
	list-style:outside circle;
	margin-left:1.5em;
}
li.splitter {
	color:#30c;
	margin-top:-1px;
}

dl.blk {
	margin-bottom:1em;
	padding:2px;
}
dl.blk dt {
	background-color:#eed;
	font-size:1.2em;
	margin-bottom:.4em;
	padding:3px 6px;
	position:relative;
}
dl.blk dd {
	padding:3px 6px;
}
dl.note {background-color:#a6caf0}
dl.gray {background-color:#dd9}
dl.tip {background-color:#cff}

.float-l {float:left}
.float-r {float:right}
.text-l {text-align:left}
.text-r {text-align:right}
.clear {clear:both}
.center {text-align:center}
.none {display:none}
.hidden {visibility:hidden}

.font-italic {font-style:italic}

.font-red {color:red; font-size:inherit}
.font-green {color:green; font-size:inherit}
.font-yellow {color:yellow; font-size:inherit}
.font-bust {color:#040; font-size:inherit}
.font-purple {color:purple; font-size:inherit}
.font-regular {color:purple; font-size:inherit}

/*.btn {
	background-color:#693;
	border-bottom-color:#c3e4a3 #3f631c #3f631c #c3e4a3;
	border-style:solid;
	border-width:1px;
	color:#fff;
	font-family:"Times New Roman";
	font-size:12px;
	margin-top:.5em;
	padding:1px 6px;
}*/
.btn {
/*	background-color:#F7F7F5;
	border:1px solid #003C74;
	color:#000;*/
	/* Declan's Changes - removed font-family:verdana; */
	margin-top:.4em;
	/* Declan's Changes - removed font-size:1em; */
	/* Declan's Changes - removed padding:2px 6px; */
}
.searchbtnADV{ FONT-SIZE: 1.0em;  FONT-FAMILY: verdana; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px; width:148px;position:relative;top:1px;margin-left:4px;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.searchbtnADV{ FONT-SIZE: 1.0em;  FONT-FAMILY: verdana; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-TOP: 1px; PADDING-BOTTOM: 1px; width:110px;position:relative;top:1px;}
}
#bd-cross .btn {margin:0;_padding:0;} /* Declan's Changes - used to be: margin:0 2px; - Also added 0 padding for ie6: _padding:0;*/
*+html #bd-cross .btn {margin:0 2px; height:22px; width:65px}
.btn-cancel {
	background-color:#999;
	border-bottom-color:#c3e4a3 #3f631c #3f631c #c3e4a3;
	border-style:solid;
	border-width:1px;
	color:#fff;
	font-family:"Times New Roman";
	font-size:12px;
	margin-top:.5em;
	padding:2px 6px;
}
.btn-warn {
	background-color:#f99;
	border-bottom-color:#c3e4a3 #3f631c #3f631c #c3e4a3;
	border-style:solid;
	border-width:1px;
	color:#222;
	font-family:"Times New Roman";
	font-size:12px;
	margin-top:.5em;
	padding:2px 6px;
}
* html .btn {padding:2px 0px}

/******************** layout ********************/
body {
	background-color:#fff;
	color:#000;
	line-height:1.5em;
	margin:8px;
	text-align:center;
}
#doc {
	margin:0 auto;
	text-align:left;
	width:100%;
}
#hd {
	background-color:#693;
	height:34px;
	width:100%;
}
#logo {
	background:url(../../img/odphead.gif) no-repeat;
	display:inline;
	float:left;
	height:25px;
	width:222px;
}
#partnership {
	float:right;
	margin:7px 11px 0 0;_margin-right:5px; /* Declan's Changes - used to be margin:7px 12px 0 0; */
}
#hd-bar{
	background-color:#ccc;
	padding:2px 0; /* Declan's Changes - changed padding:4.5px 0px 3px 0; */
	width:100%;
	height:22px;
}
#hdADV-bar{
	background-color:#ccc;
	padding:0px 0px 3px 0;
	float:left;
	width:100%;font-family:arial;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
 #hdADV-bar{
        background-color:#ccc;
        padding:0px 0px 3px 0;
        float:left;
        width:100%;font-family:arial;
height:18px;
}
}

+*html #hd-bar{
	background-color:#ccc;
	padding:5px 0px 3px 0;
	float:left;
	width:100%;font-family:arial;
}
*html #hd-bar{
	background-color:#ccc;
	padding:5px 0px 3px 0;
	float:left;
	width:100%;font-family:arial;
}
/*#narrow-doc #hd-bar{
	width:580px;border:1px solid red;
}*/
* html #narrow-doc #hd-bar{
	width:100%;
}
#bd {
	height:auto !important;
	/*width:77.5%;_width:76.7%;*/
}
#bd footer {
	margin:1em 10px 1em 0;
	width:709px;
}
#side {
	height:auto !important;width:20%;
	margin:1em 0 0;


}
#side-extra {
	background-color:#fff;
	float:right;
	margin:0;
	width:170px;
	clear:right;
}
#ft {
	background-color:#693;
	clear:both;
	color:#fff;
	width:100%;
	height:20px;
}
#ft .float-l, #ft .copy{float:left;font-family:arial;font-size:10px;padding:0 10px;}
#ft .float-r{font-family:arial;font-size:10px;padding:0 10px;}

/******************** bllll ********************/
dt ul {
	font-size:.9em;
	position:absolute;
	right:10px;
	top:3px;
}
* html dt ul {right:20px}
dt ul li {
	float:left;
	margin-left:.5em;
}
ul.square {
	list-style:square;
	margin-left:1.6em;
}
ul.fn li {
	background:url(../../img/li-arrow.gif) no-repeat left center;
	display:inline;
	float:left;
	padding:1px 0 1px 10px;
	width:48%;
}

#side div {
	margin-bottom:1em;
}
#side ul {
	margin-left:.0em;list-style-type:none;
}
#side ul li {
	/*background:url(../../img/li-arrow.gif) no-repeat left center;*/
	padding-left:10px;
}

#side-extra div {
	margin-bottom:1em;
}
#side-extra ul {
	margin-left:.2em;
}
#side-extra ul li {
	background:url(../../img/li-arrow.gif) no-repeat left center;
	padding-left:10px;
}

fieldset.top-border{
	border-top:1px solid #999;
	padding:.5em 1em;
	text-align:left;
}
legend{
	font-size:1.5em;
}
fieldset p{
	clear:both;
	padding:2px;
}
fieldset.top-gradient{
	background:url(../../img/gradient-bg.png) repeat-x left top;
	margin-top:1em;
}
* html fieldset.top-gradient {
	background-image:url(../../img/gradient-bg.gif);
	background-position:left 1.15em;
}
* html fieldset.top-gradient legend {
	margin-left:-.7em;
}
fieldset li {padding:2px 0}
fieldset label{
	color:#444;
	display:block;
	float:left;
	width:110px;
}

p.focus{
	background-color:#dde;
}
.paragraph, .paragraph p{
	margin-bottom:1em;
}
.text-important {
	color:red;
	font-weight:bold;
}

div.navigate {float:left;width:100%;
	position:relative;
}
#nav-tgl {
	background:url(../../img/arrow-up.gif) no-repeat left top;
	cursor:pointer;
	height:16px;
	position:absolute;
	right:8px;
	top:5px;
	width:9px;
}
* html #nav-tgl {
	right:15px;
}
ul.navigate {
	/*background-color:#dde;
	border:1px solid #bbb;*/
	line-height:1.6em;
	font-size:1.2em;
	float:left;
	margin-left:0;
}
ul.navigate li {
	
	display:block;
	float:left;
	height:23px;/*background:url(../../img/navigate-arrow.gif) no-repeat right center;
	line-height:23px;
	padding:0 20px 0 10px;*/
}
ul.navigate li a {margin-left:6px;}
ul.navigate li.first a, ul.navigate li a {
	/*background:url(../../img/home.gif) no-repeat left 42%;
	padding-left:15px;*/font-size:1.5em;font-weight:700;
}
ul.navigate li.last {
	background-image:none;font-size:1.4em;color:#000;
	padding-right:0px;
}
ul.navigate a {
	display:block;
	text-decoration:none;
}
ul.navigate em {font-size:.8em;}
.nav-pnl {
	background-color:#f2f2fb;
	padding:1em;
}
.nav-pnl ul {
	clear:both;
}
.nav-pnl ol {
	padding-left:1.4em;
	*padding-left:1.6em;
}
ul.edit {
	list-style:none;
}
ul.edit li {
	clear:both;
	line-height:1.5em;
}
ul.edit li img{
}
.nav-pnl hr, hr.separator {
	border:0;
	border-top:1px solid #ddc;
	clear:both;
	float:left;
	height:1px;
	overflow:hidden;
	width:100%
}
fieldset{
	padding:0.5em 1em;
}
fieldset.login{
	border:1px solid #999;
	padding:.5em 1em;
}
fieldset label, #side fieldset a{
	font-size:1em;
}
fieldset .txt{
	height:1.2em;
	padding:0;
	width:138px;
}

td{
	padding:4px 8px;
	vertical-align:top;
}

/*#directory a {line-height:1.7em;}*/

#profileNotes dl{
	display:inline;
	float:left;
	margin:1em;
	overflow:hidden;
	width:200px;
}
#profileNotes dt{
	font-weight:bold;
	margin:0;
	padding:4px 8px;
}
#profileNotes dd{
	min-height:100px;
	height:auto !important
	height:100px;
	padding:8px 8px 56px 8px;
	position:relative;
}
* html #profileNotes dd{
	height:100px;
	overflow-x:hidden;
	text-overflow: ellipsis;
	width:184px;
}

#requestNotes dl{
	display:inline;
	float:left;
	margin:1em;
	overflow:hidden;
	width:200px;
}
#requestNotes dt{
	font-weight:bold;
	margin:0;
	padding:4px 8px;
}
#requestNotes dd{
	min-height:100px;
	height:auto !important
	height:100px;
	padding:8px 8px 56px 8px;
	position:relative;
}
* html #requestNotes dd{
	height:100px;
	overflow-x:hidden;
	text-overflow: ellipsis;
	width:184px;
}

#applicationNotes dl{
	display:inline;
	float:left;
	margin:1em;
	overflow:hidden;
	width:200px;
}
#applicationNotes dt{
	font-weight:bold;
	margin:0;
	padding:4px 8px;
}
#applicationNotes dd{
	min-height:100px;
	height:auto !important
	height:100px;
	padding:8px 8px 56px 8px;
	position:relative;
}
* html #applicationNotes dd{
	height:100px;
	overflow-x:hidden;
	text-overflow: ellipsis;
	width:184px;
}

#urlNotes dl{
	display:inline;
	float:left;
	margin:1em;
	overflow:hidden;
	width:200px;
}
#urlNotes dt{
	font-weight:bold;
	margin:0;
	padding:4px 8px;
}
#urlNotes dd{
	min-height:100px;
	height:auto !important
	height:100px;
	padding:8px 8px 56px 8px;
	position:relative;
}
* html #urlNotes dd{
	height:100px;
	overflow-x:hidden;
	text-overflow: ellipsis;
	width:184px;
}

.note-bot{
	bottom:0;
	left:0;
	padding:.5em;
	position:absolute;
}
dl.red dt{
	background-color:#f00;
}
dl.red dd{
	background-color:#f99;
}
dl.yellow dt{
	background-color:#fc0;
}
dl.yellow dd{
	background-color:#fff000;
}
dl.green dt{
	background-color:#6c6;
}
dl.green dd{
	background-color:#cfa;
}
dl.purple dt{
	background-color:#a9f;
}
dl.purple dd{
	background-color:#ccf;
}
dl.regular dt{
	background-color:#a9f;
}
dl.regular dd{
	background-color:#ccf;
}

/************ 2 ****************/
#bd-cross{
	height:auto !important
	margin:0em;
	width:100%;	
}

#bd-left{
	min-height:400px;
	height:auto !important
	height:400px;
	float:left;
	margin:1em 0;
	width:49%;
}
#bd-right{
	min-height:400px;
	height:auto !important
	height:400px;
	float:right;
	margin:1em 0;
	width:49%;
}
.descript{
	height:46px;
	width:95px;
	float:right;
	background:#f0f0f0;text-align:center;
	padding:4px 0;
}
.descript a {font-size:16px;font-weight:bold;}
ul.directory{
	list-style:disc inside;
	padding:0 0 .5em 2.5em;
	margin:0;
}
li.last{margin-left:8px;
}
ul.directory li a{
	font-size:1.33em;
	font-weight:bold;
}
ul.directory-url{
	list-style:disc outside;
	padding:.1em 0 .5em 3.3em;
}
ul.directory-url li {font-size:1.17em;}
ul.directory-url li a{
	font-size:1.14em;
	/*line-height:1.5em;*/
}

li.margin-top {
	margin-top:1em;
}
li.star a{
	background:url(../../img/star.gif) no-repeat right -2px;
	font-weight:bold;
	padding-right:16px;
}
a.star{
	background:url(../../img/star.gif) no-repeat right -2px;
	padding-right:16px;
}
ul.language{
	margin-left:1.5em;width:50%;
}
ul.language li{
	display:block;
	float:left;
	width:180px;
}
ul.language a{
	font-size:1.2em;
}
.dir-1{
	/*background-color:#eec;*/
	margin-bottom:0em;
}
.dir-2{
	background-color:#eeb;
	border-left:4px solid #bbb;
	margin-bottom:1em;
	margin-left:3em;
	padding-left:1.5em;
}
.dir-3{
	background-color:#eec;
	border-left:4px solid #ccc;
	margin-bottom:1em;
	margin-left:5em;
	padding-left:1.5em;
}
.dir-col{
	float:left;
	margin-right:1em;margin-left:0;
}
.dir-col li{font-size:1em;}
.dir-col em{font-size:1.2em;}

.fieldcap{margin:0;
	padding-left:0;display:block;margin-top:10px;_margin-top:4px;
}
.fieldcap .directory{margin-top:10px;_margin-top:16px;}
.fieldcap legend{
	font-size:1.35em;
}
.fieldcapN ul.language{margin-top:0;float:left;padding-bottom:10px;}
.mt1em{
	margin-top:26px; /* Declan's Changes - this used to be: margin-top:1em;margin-bottom:1em; */
}
#ft-bar{
	float:left;
	line-height:1.8em;
	text-align:center;
	width:100%;
	margin-top:8px;
	color:#666;
        font-size:13px;
        font-family:sans-serif, Arial, Helvetica;color:#666666;
}
blockquote{
	background:#eec url(../../img/bg_blockquote.gif) no-repeat left top;
	margin:0 0 1em;
	padding:1em 1em .5em 1.5em;
}
div.descript{
	clear:both;
	width:auto;
	padding:0 5px;
}
.desc-head{
	background-color:#EEEEDD;
	border-top:1px solid #DDDDDD;
	font-size:1.2em;
	padding:3px 6px;
}
.desc-body{
	background-color:#F2F2FB;
	margin-bottom:1em;
	padding:1em;
}
ol.dir, ol.site{
	list-style-position:outside;
	margin:21px 0 0 41px;
}
ol.dir li, ol.site li{
	font-size:1.2em;
}
ol.dir li{
	margin-bottom:.5em;
}
ol.site .ref{
	font-size:.8em;
	font-style:italic;
	margin-bottom:1em;
}
.nav-label{
	background-color:#dee;
	font-size:1.2em;
	margin-left:1em;
	padding:2px 6px;
}
.search-alt{
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	font-size:1.2em;
	margin-top:1.5em;
	padding:1em;
	text-align:center;
}
#narrow-doc{
	margin:8px auto; /* Declan's Changes - used to be margin:1.35em auto; */
	width:600px;
}
#catalogs span, span.catalog{
	display:block;
	font-family:"Times New Roman";
	font-size:16px; /* Declan's Changes - used to be: font-size:1.342em; */
	font-style:normal;
	font-weight:bold;
	margin:7px 0 -4px; /* Declan's Changes - used to be: margin-top:.55em; */
}
samp{
	display:block;
	font-family:"Times New Roman";
	font-style:normal;
	/* Declan's Changes - removed line-height:2em; */
	font-size:13px /* Declan's Changes - used to be: font-size:1.1em;; */
}
div.clear{
	/*background-image:url(../../img/space.gif);*/
	clear:both;
	height:1px;
	overflow:hidden;
}
.info-blk{
	background-color:#eec;
	border:1px solid #aaa;
	margin:1em 0;
	clear:both;
	padding:1em;
}
.info-blk p {
	margin-bottom:1em;
}
.info-blk h3 {
	margin-bottom:1em;
}
.info-blk ul {
	list-style:outside disc;
	margin-left:1.5em;
	margin-bottom:1em;
}
.info-blk ol {
	margin-left:1.5em;
}
.error-blk{
	background-color:#F8F8BA;
	border:1px solid #f90;
	color:red;
	margin:1em 0;
	padding:1em;
}

hr.separator{
	border:0;
	border-top:1px solid #ddc;
}
.form-ct-item{
	border-bottom:1px solid #ddd;
	clear:both;
	float:left;
	padding:.5em 0;
	width:100%;
}
.form-ct-item table.categories {width:350px;}
.form-ct-item table.categories td, .form-ct-item table.categories th {padding:0;}
.form-ct fieldset{
	background-color:#eef;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	clear:both;
	float:left;
	padding:0;
	width:100%;
}
.form-ct fieldset .form-ct-item{
	border:0;
	padding:.5em 0;
}
.form-ct-item label{
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2em;
	padding-left:.5em;
	width:150px;
}
#bd-left .form-ct-item label{
	width:50px;
}
#bd-right .form-ct-item label{
	width:50px;
}
.form-ct-item div.text{
	margin-left:180px;
}
.form-ct-item div.text-full{
	margin-left:0px;
	margin-right:2em;
}
.form-ct-item div.text p{
	margin-top:1em;
	font-family:times new roman;
	font-size:15px;
}
.error-item {
	background-color:#f99;
}
td.label{
	font-weight:bold;
	width:150px;
}
td.border-bottom{
	border-bottom:1px solid #999999;
}
.form-ct-item cite{
	color:#bbb;
	display:block;
	float:right;
	width:280px;
}
.focus{
	background-color:#dde;
}
.form-ct-item.focus cite,
.form-ct-item.focus .span-cite{
	color:#060;
}
.no-border{
	border:0;
}
.span-cite{
	color:#666;
	display:inline;
	float:left;
	margin:8px 0 0 180px;
}
#verification-image{
	display:block;
	margin:5px 0;
}
.help-blk{
	float:left;
	margin:0em .3em .3em 0;
}
.help-blk-cap{
	background-color:#693;
	color:#fff;
	font-size:1.3em;
	font-weight:bold;
	padding:5px 0px 3px 5px;
}
.help-blk dt{
	background-color:transparent;
	border:0;
	font-size:1.2em;
	font-weight:bold;
	margin:0;
	padding:4px 6px 0px 4px;
}
.help-blk dd{
	padding:3px 6px;
}
.bd-red{
	background-color:#f99;
}
.bd-yellow{
	background-color:#fff000;
}
.bd-green{
	background-color:#cfa;
}
.bd-purple{
	background-color:#ccf;
}
.bd-regular{
	background-color:#ccf;
}
.bd-darkgreen{
	background-color:#3d3;
}
.bd-grey{
	background-color:#ccc;
}
.bd-white{
}
/******************** pagination ********************/
.pagination {
    padding: 3px;
    margin: 3px;
    text-align:center;
  }
.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #000099;
}
.pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
}
.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #693;
    color: #FFF;
}
.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
}
/******************** alphanumeric navigation ********************/
td.alphanumeric{
	padding:8px;
}
.alphanumeric {
	padding-bottom:7px;
	text-align:center;
	color:#000;
}
.alphanumeric a {
	color:#000099;
	text-decoration:underline;
}
.alphanumeric .links, .alphanumeric .pipe, .alphanumeric .complete, .alphanumeric .end , .alphanumeric .start {font-size:1.34em;font-weight:bold;} 
.alphanumeric .pipe{padding:0 4px;}
.alphanumeric .complete {padding:0 4px;}
.alphanumeric .start {padding-right:4px;}

.alphanumeric span.current {
	background-color:#669933;
	border:1px solid #000099;
	color:#fff
	font-weight:bold;
	margin-right:4px;
	padding:0 2px;
}
/******************** table ********************/
.tabulation, .tabulation a {
	clear:both;
	font-size:12px;
}
.tabulation .head a:visited {
	color:#fff;
}
.tabulation .head a:hover {
	color:#f00;
}
.tabulation td, .tabulation th {
	padding:3px 6px;
}
.tabulation tr.even {
	background-color:#eee;
}
.tabulation tr.even td {
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	padding:2px 6px;
}
tr.foot, tr.head td, tr.head th, tr.foot td {
	background-color:#999;
	color:#fff;
	font-weight:bold;
}
tr.head a:link{
	color:#fff;
}

.docs h1, .docs h2, .docs h3{
	border-bottom:1px solid #693;
}
.docs p{float:left;
	font-size:16px;
}
label.normal{
	display:inline;
	float:none;
	font-weight:normal;
	padding-left:0;
}
/* Data Tables <table class="data"> */
table.data,
table.data th,
table.data td {
  border-style: solid;
  border-color: #669933;
  border-width: 1px;
}
table.data { border-collapse: collapse; }
table.data th, table.data td {
  padding: 1px 2px 1px 2px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
}
table.data {
  border-color: #669933;
  border-width: 2px;
  border-style: double;
}
table.data th { background: #D7CD9D; }
table.data td { background: #F0F5EB; }
table.data tr.odd  td {  background: #D9E5CC; }
table.data tr.even td {  background: #F0F5EB; }

/*New Styles Added on 16 September 2009*/


/* Declan's Changes - removed .float-r a{font-size:16px;font-family:"Times New Roman"} */
.logoN {margin:6px 0 3px 11px;_margin-bottom:6px;}
.logoNh{margin:6px 0 3px 11px;_margin-bottom:6px;}
.qN {width:206px;height:22px;}
.float-ln{font-family:arial;font-size:10px;margin-left:16px;font-family:"Times New Roman"}
#catalogs {clear:both;float:left;margin-top:6px;padding:0 31px;width:100%;*padding:0 10 0 30px;}
.one-third{
	float:left;
	text-align:left;
	margin-top:3px; /* Declan's Changes - adding this */
	width:30%;
	margin-right:2px;
}
*html .one-third{margin-right:14px; width:32%;_margin-right:0;}

.mt1em {margin-top:26px;} /* Declan's Changes - used to be: margin-top:21px;} */
img.float-r {float:right;margin-top:21px;} /* Declan's Changes - used to be: margin-top:16px;} */
.text-ln {text-align:left;padding-left:31px;} /* Declan's Changes - removing: margin-bottom:2px; */
#ft .float-l {font-family:arial;font-size:10px;padding-left:9px;}
.advN {font-size:13px;color:#3300cc;font-style:italic;}
/*bug fix #520459*/
a:visited .advN{color:#660066}

.pipeN {font-size:17px;color:#000;}
.sideN {float:left;}
.sideN h3 {font-size:13px;color:#fff; background:#669933;padding:3px 0 2px 4px;}
/*.sideN a.oprN{padding:6px 0 3px 5px;border-bottom:1px solid #E4E6E2;width:98%;float:left;font-size:13px;font-weight:bold; text-decoration:underline;color:#00c}
.sideN a:hover, .sideN a:active {color:#551a8b}
.sideN li{border-bottom:1px solid #E4E6E2; list-style-type:none;font-size:13px;padding-bottom:2px;}
*/
.sideN a.oprN{width:98%;float:left;padding:1px 0 1px 5px;border-bottom:1px solid #E4E6E2;font-size:13px;font-weight:bold; text-decoration:underline;color:#00c}

.bdN{float:right;margin:1.6em 0px 1em 0;width:77%;_width:76.7%;}
.bdN h2 {font-size:21px;font-weight:700;color:#000;float:left;padding-bottom:4px;border-bottom:1px solid #693;width:100%;}
.bdN h3 {font-size:19px;font-weight:700;color:#000;float:left;padding-bottom:4px;border-bottom:1px solid #693;width:100%;margin-top:30px}
.bdN h4 {font-size:18px;font-weight:700;color:#000;float:left;padding-bottom:4px;border-bottom:1px dotted #0000cc;width:100%;margin-top:30px}
#bd h2, #bd h3 {padding-bottom:3px;float:left}
#bd h4 {padding-bottom:2px;float:left;margin-bottom:18px;}
.odphN {float:left;margin-top:18px;margin-left:30px;_margin-left:15px}
#ft {
	background-color:#693;
	clear:both;
	color:#fff;
	text-align:left;
	width:100%;
}
#ft .float-l, #ft .copy{*float:left;font-family:arial;font-size:10px;padding-left:10px;}
#ft .float-r{font-family:arial;font-size:10px;padding-right:10px;}
.docs p{padding:14px 0 3px 26px;}
.mb1em-form{margin-top:14px;}
.mb1em li {clear:both;font-size:16px;}
#bd-cross .mb1em h4{font-size:16px;font-weight:normal;}
dl.faq dt{float:left;width:100%;font-size:16px;padding:5px 0 5px 5px;border:1px solid #666;background:#eee;margin-top:24px;}
.dividerN{margin-top:34px;}
.bottom-dividerN{height:17px;}
.open-dir-sites{margin-top:21px;}

#hd-bar .float-r a{padding-right:4px;color:#3300cc;}
#hd-bar .float-r a:visited {color:#660066;}

.searchN #hd-bar .float-r a{font-family:arial;font-size:13px;padding-right:4px;color:#30c;}
.searchN #hdADV-bar .float-r a{font-family:arial;font-size:13px;padding-right:4px;color:#30c;}
#bd-cross h4 {font-weight:700;padding:18px 0;}
*html #bd-cross h4 {padding-bottom:16px;padding-top:16px}

.adasN {font-size:14px;margin-top:8px;}
.hosN, .search-alt a {font-size:13px;}
span.volEditN {background:#f0f0f0;padding:4px;}
.ft-barN  {font-size:1.33em;color:#000;font-family:"Times New Roman";}
.ft-barN a{font-size:.94em;}
.ft-barUpN {font-size:.82em;color:#666;}
.ft-barUpN{font-size:.74em;}
#bd-cross .center {margin:16px 0 7px 40px;}
.logoNh{margin:4px 0 1px 3px;_margin-bottom:6px;}
#doc #hd {border-bottom:5px solid #ccc;}

.menuN {clear:both;float:left;width:100%;background:#F1F6EC;margin-bottom:13px;}
.menuN li {display: block;text-decoration: none;border-bottom: 1px solid #ddd;border-top:1px solid #fff;border-right:1px solid #ddd;}
.menuN li a{display: block;  padding: 2px 5px; background: #F1F6EC;}
.menuN ul li a {display: block; padding: 2px 5px 2px 15px;}
.menuN a:hover { background: #E3ECDA;}
ul.helpUl li a{padding-left:0px;}
.help-blk  dt {margin-top:5px}
.help-blk  dt a{font-size:16px;color:#00c;}
.help-blk  dt a:visited{color:#00c;color:#551a8b;}
ul.dir-col {margin:13px 0 19px;}
*+html ul.dir-col {margin:13px -10px 19px;}

ul.disc-large .float-l li{margin:0px 0 0px 39px;}

.helpN {float:left;width:98%;display:block;}
.helpN .bdN {width:77.27%;}
.helpN .odphN{width:57%;}
.helpN .bdN .help-blk {width:49.2%;}

.searchN #bd-cross .center {margin-top:1px;}
.searchN #bd-cross h4{font-weight:normal;margin-top:21px}
.adasN {width:420px;margin:0 auto;text-align:left;padding-left:44px;_padding-left:6px;margin-top:6px;_margin-top:5px;}
.adasNl{font-size:14px;margin-top:6px;_margin-top:2px;}
.searchN a.hosN {font-size:13px;display:block;margin:19px 0 15px 0;}

.searchN .search-alt {border:0;margin-top:1em;padding:14px 0 14px;_padding:0px 0 14px; font-size:15px}
*html .searchN .search-alt {margin-top:-3px}

.searchNod {width:206px;height:22px}
/*.selectNod {width:144px;height:20px;border:1px solid #7e9db9;font-family:verdana;font-size:12px;}*/
.selectNod {width:auto;height:20px;border:1px solid #7e9db9;font-family:verdana;font-size:12px;}
.nodViewN .ft-barUpN{font-size:13px;}
.nodViewN .ft-barUpN a{font-size:11px;color:#30c;}
.nodViewN ul.navigate li b {float:left;padding-left:5px;padding-right:5px;}
.nodViewN ul.navigate li a {margin-left:0px;float:left;text-decoration:underline;}
.nodViewN .navigate {margin-top:3px;}
.faqN {margin-top:6px;}
.descriptN {margin-top:2px}
.fieldcap ul.directory-url {margin-top:0px;_margin-top:12px;padding-bottom:9px;}
.fieldcapRn {margin-top:3px;padding-bottom:23px;}
.nodViewN .ft-barN {padding-top:17px;}
ul.disc li {list-style-type:disc;margin-left:45px;}
.docs em {font-size:.9em;}
.xmlFedsTxt{font-family:times,serif;font-size:16px;font-weight:bold;}
.srchOnFrstLnk{margin-left:160px;}
.mnCat{font-size:1.5em;}
.remBld{font-weight:normal} 
.addCatSpac{line-height:2.3em;}

/* vspradeepitc added */
ul.navigate li.last strong {float:left;}
.nodViewN ul.navigate li b {float:left;font-size:1.4em;padding:1px 5px 0 0;}
.nodViewN ul.navigate li.last {margin-left:0px;}
span.normalFont {font-weight:normal;}
/* vspradeepitc added End */