  /*  START: global, top level  */ 
body {
	text-align: center;  /*  centers panel  */ 
	font-family: verdana, arial, sans-serif;  /*  default font of text  */ 
}

img {  /*  default image border is none  */ 
	border: 0;
	margin: 0px;
	padding: 0px;}

sup {  /*  Properties for superscripted elements anywhere  */ 
	font-size: smaller;
	vertical-align: baseline;
	position: relative;
	bottom: 5px
}

sub {  /*  Properties for subscripted elements anywhere  */ 
	font-size: smaller;
	vertical-align: baseline;
	position: relative;
	bottom: -2px
}

.centered {  /*  Properties for centered elements anywhere  */ 
	text-align: center
}

a:link {  /*  default link color rust red without underlining etc.  */ 
	color: #000000;
	text-decoration: none
}

a:visited {  /*  default visited link color rust red without underlining etc.  */ 
	color: #000000;
	text-decoration: none
}

a:active {  /*  default unvisited link color rust red without underlining etc.  */ 
	color: #000000;
	text-decoration: none
}

a:hover {  /*  default hover/mouseover link color rust red underlined.  */ 
	color: #000000;
	text-decoration: none
}

a.white {text-decoration: none; font-weight: normal;}  /*  used for links that might appear in a green bar with white text  */
a.white:link {color: #f2f2f2;}
a.white:visited {color: #f2f2f2;}
a.white:hover {color: #f2f2f2;}
a.white:active {color: #f2f2f2;}

#page_wrapper {  /*  container for everything in body  */
	margin: 0;
	float: none;
	width: 100%;
	text-align: left;  /*  default text alignment  */ 
	position: relative;
}

  /*  END: global, top level  */ 

  /*  START: header  */ 
#page_header {
	height: 60px;  /*  height of entire header  */ 
	clear: both;  /*  No floating elements allowed on left or right sides  */ 
}

#page_header h2 {  /*  spacing and font properties of <h2> in header  */ 
	margin: 0px;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 20px;
	padding: 10px 15px 0px 15px;
	margin-bottom: 20px;
	float: left;
	text-align: left;
}

  /*  END: header  */ 

  /*  START: top nav  */ 
#menu_bar {  /*  orange 'rolled' bar at foot of header banner  */ 
	display: none
}

#active a {
	color: #000000;
}
  /*  END: top nav  */ 

  /*  START: content, everything - visually - under the header, bar and top menu
		 that is: the left and right hand side columns
		 		 the central, 'content' panel  */ 

  /*  center content specific styles  */ 

#content_wrapper {  /*  the wrapper containing lhs, rhs columns, inner content box  */ 
	margin-top: 2px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;  /*  border is white dashed no pixels in width!  */ 
}

#center {  /*  the center box - the main content here  */ 
	margin-left: 20px;
	  /*  left side offset 20 pixels right from leftmost extent from parent container, viz 'content_wrapper'  */ 
	margin-right: 20px;
	  /*  right side offset 20 pixels left from rightmost extent from parent container, viz 'content_wrapper'  */ 
	border: none;
	  /*  border is gray dashed no pixels in width!  */ 
}

#center h1 {  /*  Properties for center container's <h1> tag for Moving Type Blog */ 
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 4px;
	vertical-align: middle;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;  /*  black  */ 
	border: none;
}

h1 sup {  /*  This modifies the <sup> tag for center container's <h1> tag for Moving Type Blog  */ 
	font-size: 10px
}

#center h2 {  /*  Properties for center container's <h2> tag  */ 
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 4px;
	vertical-align: middle;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;  /*  black  */ 
	border: none;
}

h2 sup {  /*  This modifies the <sup> tag for center container's <h2> tag  */ 
	font-size: 9px
}

#center h3 {  /*  Properties for center container's <h3> tag  */ 
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;  /*  white  */
	border: none;
	font-variant: small-caps
}

h3 sup {  /*  This modifies the <sup> tag for center container's <h3> tag  */ 
	font-size: 9px
}

#center h4 {  /*  Properties for center container's <h4> tag  */ 
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bolder;
	padding: 4px;
	border: none;
}

h4 sup {  /*  This modifies the <sup> tag for center container's <h4> tag  */ 
	font-size: 9px
}

#center h5 {  /*  Properties for center container's <h5> tag  */ 
	margin-top: 0px;
	margin-bottom: 5px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	border: none;
}

h5 sup {  /*  This modifies the <sup> tag for center container's <h5> tag  */ 
	font-size: 7px
}

#center h6 {  /*  Properties for center container's <h6> tag  */ 
	margin-top: 0px;
	margin-bottom: 2px;
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	font-weight: bold;
	padding: 4px;
	border: none;
	background-color: #000000;  /*  white  */
	display: inline-block
}

h6 sup {  /*  This modifies the <sup> tag for center container's <h6> tag  */ 
	font-size: 6px
}

#center p {  /*  Properties for center container's <p> tag  */ 
	margin-top: 4px;
	margin-bottom: 12px;
	padding: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
}

#center ol {  /*  Properties for center container's <ol> tag  */ 
	margin-top: 4px;
	margin-right: 20px;
	margin-bottom: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	line-height: 13px;
	text-align: left;
}

p sup {  /*  This modifies the <sup> tag for use in paragraphs  */ 
	font-size: 8px
}

#center blockquote {  /*  Properties for center container's <blockquote> tag  */ 
	margin-top: 0px;
	margin-left: 24px;
	margin-right: 36px;
	margin-bottom: 12px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #3A3D38;  /*  dark charcoal  */
	text-indent: 0px;
	text-align: justify;
}

#center table {  /*  Properties for center container's <table> tag  */ 
	margin-top: 4px;
	margin-bottom: 12px;
	padding: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

#center td {  /*  Properties for center container's <td> tag  */
	padding-right: 12px;
	line-height: 15px;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #000000;
}
#center dl {  /*  Properties for center container's <dl> tag  */ 
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 12px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #000000
}

#center dt {  /*  Properties for center container's <dt> tag  */ 
	margin: 0;
	padding-bottom: 2px;
	line-height: 13px;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #000000
}
#center dd {  /*  Properties for center container's <dd> tag  */ 
	line-height: 11px;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #000000;
	margin-bottom: 12px;
	margin-top: 0px;
	margin-left: 4px;
	margin-right: 0px;
	text-align: justify;
}

#center pre {  /*  Properties for center container's <pre> tag  */
	line-height: 12px;
	font-family: Courier, "Courier New", monospace;
	font-size: 9px;
	margin-left: 4px;
	word-spacing: 0px;
}

#center hr {  /*  Properties for center container's <hr> tag  */
	margin-bottom: 12px;
}

#logo_left {  /*  logo align left for print header */ 
	float: left;
	margin-bottom: 5px;
	font-family: verdana, arial, sans-serif;
	display: block;
}

.thumbnail_left {  /*  thumbnails align left  */ 
	float: left;
	margin-bottom: 5px;
	font-family: verdana, arial, sans-serif;
	display: block;
}

.thumbnail_right {  /*  thumbnails align right  */ 
	float: right;
	margin-bottom: 5px;
	font-family: verdana, arial, sans-serif;
	display: block;
}

.announce_box_right {  /*  floating box to hold site news and other annuncements in a scrolling marquee */
	color: #000000;  /*  black  */ 
	float: right;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	height: 155px;
	width: 160px;
	line-height: 14px;
	vertical-align: middle;
	padding:5px;
	margin-top:10px;
	margin-left:10px;
	margin-bottom: 20px;
	text-align: center;
}

.music_quote {  /*  Properties for musical quotations  */ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #000000;  /*  white  */
	border: none;
	background-color: #82a448;  /*  lighter olive green  */
	text-align: center;
}

.featured_review {  /*  Properties for the "featured review" tag  */ 
	color: #000000;  /*  black  */ 
	border: none;
	font-family: verdana, arial, sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	vertical-align: middle;
	font-size: 10px;
	line-height: 12px;
}

.centerwidthspacer {  /*  This is an image to provide a separation between review contents/pictures in a multi-disc review  */ 
	float: none;
	border: none;
	padding: 0px;
	display: block;
	visibility: hidden;
}
#reviewindexcontainer {  /*  This holds all of the review indices for a composer or composers; contains one or more composerindexcontainers, one per composer  */ 
	margin: 0px;
	padding: 0px; 
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 2px dotted  /*  This container has a bottom border of very light green dots  */ 
}

.composerindexcontainer {  /*  This holds the review indices for a composer  */ 
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px
}

.content-nav {  /*  Properties for center container's content-nav tag for Moving Type Blog  */ 
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	padding: 4px;
	border: none;
}

.archive-list {  /*  Properties for archive-list <ul> tag for Moving Type Blog  */ 
	margin-top: 4px;
	margin-right: 20px;
	margin-bottom: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-align: left;
	display: list-item;
	list-style-type: none;
}

.simple {  /*  Properties for simple <ul> tag  */ 
	margin-top: 4px;
	margin-right: 20px;
	margin-bottom: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 13px;
	text-align: left;
	display: list-item;
	list-style-type: none;
}

.simpleindent1 {  /*  it is a sublist with dash etc  */ 
	display: list-item;
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 40px;
	line-height: 13px
}

.simpleindent2 {  /*  it is a subsublist with square etc  */ 
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
	margin-left: 75px;
	line-height: 13px;
	text-indent: 15px
}

.simpledot {  /*  Properties for center container's <ul> tag with dot  */ 
	margin-top: 4px;
	margin-right: 20px;
	margin-bottom: 4px;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	line-height: 13px;
	text-align: left;
}

#offsitelinkinfocontainer {  /*  This holds all of the offsite link info for a category; contains one or more offsitelinkscontainer  */ 
	border-bottom: 2px dotted
}

.offsitelinkcontainer {  /*  This holds the list of offsite links for a category  */ 
	margin: 0px;
	padding: 0px;
}

.offsitelinks {  /*  Properties for center container's <ul> tag with dot  */ 
	margin-top: 4px;
	margin-right: 20px;
	margin-bottom: 13px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 17px;
	text-align: left;
}

.composerindex li {
	display: list-item;
	margin: 0;
	line-height: 12px;
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	color: #000000
}

.composerindexindent1 {  /*  it is a sublist with dash etc  */ 
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
	margin-left: 70px;
	line-height: 11px
}

.composerindexindent2 {  /*  it is a subsublist with square etc  */ 
	display: list-item;
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 125px;
	line-height: 10px;
	text-indent: 15px
}

.composerindexindent3 {  /*  it is a subsublist with square etc  */
	display: list-item;
	list-style-type: disc; 
	list-style-position: inside;
	margin-left: 125px;
	line-height: 10px;
	text-indent: 18px
}

#reviewcontainer {  /*  This holds all of the recording info for a review; contains one or more reviewitemcontainers  */ 
	border-bottom: 2px dotted
}

.reviewitemcontainer {  /*  This holds the recording info for an item under review  */ 
	margin: 0px;
	padding: 0px;
}

.worklistcontainer {  /*  This holds the work list for an item under review  */ 
	padding: 0px;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: -10px;
	margin-left: -12px
}

.worklist ol {
	list-style: none;
	display: list-item;
}

.worklist ul {
	list-style: none;
	list-style-position: inside;
}

.worklist li {
	display: list-item;
	list-style-type: none;
	margin: 0;
	line-height: 12px;
	font-size: 10px;
	text-indent: -16px;
	color: #000000
}

.worklistindent1 {  /*  it is a sublist with circle etc  */ 
	list-style-type: none;
	list-style-position: inside;
	line-height: 12px;
	padding-left: 6px;
}

.worklistindent2 {  /*  it is a subsublist with square etc  */ 
	list-style-type: none;
	list-style-position: inside;
	line-height: 12px;
	padding-left: 28px;
}

.worklistindent3 {  /*  it is a subsublist with no bullet (less padding needed), etc  */ 
	list-style-type: none;
	list-style-position: inside;
	line-height: 10px;
	padding-left: 48px;
}

.worklistcontainer sup {  /*  This modifies the <sup> tag for use in the works lists for reviews  */ 
	font-size: 6px
}

.infocontainer {  /*  This holds the compsoer biography, etc. */
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 18px;
	margin-right: 0px;
	text-indent: 0px;
	border-bottom: 2px dotted;
	padding-bottom: 18px;}

#recommendationcontainer {  /*  This holds the complete list of recommended pieces/recordings for a composer, etc., i.e., one or more recommendedpiececontainer  */ 
	margin: 0px;
	padding: 0px;
	border-bottom: 2px dotted
}

.recommendedpiececontainer {  /*  This holds the complete list of recommended recordings for given piece, i.e., one or more recommendeditemcontainer  */ 
	margin: 0px;
	padding: 0px
}

.recommendeditemcontainer {  /*  This holds the complete list of recommended recordings for a composer, etc.  */ 
	margin: 0px;
	padding: 0px
}

.buybuttons {   /* This is for the buy buttons that appear on review pages and elsewhere. */
	display: none;
}

.buylinks {   /* This is for the buy liks that appear with recording info. */
	display: none;
}

#endgraphic {  /*  End-of-text graphic not displayed for printout  */ 
	display: none
}

#morecomposerslist li {  /*  bottom list  */ 
	list-style-image: url(../music/images/css_img/greenball.gif);
	margin: 0;
	line-height: 20px;
	font-family: verdana;
	font-size: 10px
}

#featurelist li {	  /*  bottom list  */ 
	margin: 0;
	line-height: 20px;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	list-style: disc
}

#reviewlist li {	  /*  bottom list  */ 
line-height: 12px;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	list-style: disc;
	margin-top: 0px;
	margin-left: -15px;
	margin-bottom: 0px;
	margin-right: 0px
}

.player_banner {  /*  Properties for player banner class  */ 
	margin-top: -12px;
	margin-bottom: 0px;
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	color: #000000;
	border: none;
	background-color: #000000;
	text-align: center;
	padding-top: 1px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-right: 2px
}

  /*  START: left column  */ 

#left_side {  /*  Properties for wrapper, left navigation. Its parent is 'content_wrapper'  */ 
	display: none
}

#linkcontainer {  /* This contains a list of links  */
	width: 140px
}

#linkcontainer ul {
	margin-top: 2px;
	margin-bottom: 4px;
}

#linkcontainer li {
	list-style: none;  /*  This is a list in the linkcontainer but with no marker or bullet etc  */
	line-height: 12px;  /*  was 20 px  */ 
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
}

#linkcontainer li a {  /*  Properties for anchors in the list object in linkcontainer  */ 
	color: #000000;
	text-decoration: none;  /*  no underlining etc  */ 
}

.linklist {  /*  Properties for list of links in lhs nav  */ 
	padding-left: 0;
	margin-left: 0;  /*  margin setting with respect to parent, technically 'linkcontainer', which is empty but effectively 'left_side'  */ 
}

.linklist li {  /*  Further properties for list of links in lhs nav  */ 
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
}

.llindent {  /*  This is to indent the links on the left  */
	margin-left: 8px
}
.youarehereleft {  /*  Properties for the current item in the list - that is, 'this' page  */ 
	font-weight: bold
}

.listtitle {  /*  Properties for list titles in the lefthand side  */ 
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;
}

  /*  END: left column  */ 

  /*  START: right column  */

#right_side {  /*  Properties for right hand side column, its parent is 'content_wrapper'  */ 
	display: none
}

  /*  END: right column  */ 

  /*  START: footer  */ 

#page_footer {  
	height: 70px;  /*  total height of all items in the footer  */ 
	clear: both;  /*  no floating elements allowed on left or right sides  */ 
	border-top: 1px solid #000000;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#page_footer_home {  
	height: 70px;  /*  total height of all items in the footer  */ 
	clear: both;  /*  no floating elements allowed on left or right sides  */ 
	border-top: 1px solid #000000;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

#google_chunk {
	display: none
}

#bottom_banner {
	display: none
}

#footer_nav {
	display: none
}

#footer_links {
	display: none
}

#page_footer p {  /*  Properties for <p> tags in footer  */ 
	padding-top: 5px;
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #000000;  /*  Pearl, oyster gray  */ 
}

#page_footer a:link {  /*  Footer link properties: orange text, no underline etc  */ 
	color: #000000;
	text-decoration: none
}

#page_footer a:visited {  /*  Footer visited link properties: orange text, no underline etc  */ 
	color: #000000;
	text-decoration: none
}

#page_footer a:active {  /*  Footer unvisited link properties: orange text, no underline etc  */ 
	color: #000000;
	text-decoration: none
}

#page_footer a:hover {  /*  Footer hover properties: orange text, underline  */ 
	text-decoration: none
}
#page_footer_home p {  /*  Properties for <p> tags in footer  */ 
	padding-top: 15px;
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	line-height: 14px;
	color: #000000;  /*  Pearl, oyster gray  */ 
}

#page_footer_home a:link {  /*  Footer link properties: orange text, no underline etc  */ 
	color: #000000;
	text-decoration: none
}

#page_footer_home a:visited {  /*  Footer visited link properties: orange text, no underline etc  */ 
	color: #000000;
	text-decoration: none
}

#page_footer_home a:active {  /*  Footer unvisited link properties: orange text, no underline etc  */ 
	color: #000000;
	text-decoration: none
}

#page_footer_home a:hover {  /*  Footer hover properties: orange text, underline  */ 
	text-decoration: none
}
  /*  END: footer  /* 