#container {
	margin-right: auto;
	margin-left: 5px;
	text-align: left;
	padding: 5px;
                float: left;
	border: 1px solid #999999;
	}


body         {
                text-align: left;    
	margin: 5px 0px 0px 5px;
                align: left;
	padding: 0px;
	width: 1044px;
                float: left;

	}

.topnav {
	font-family: verdana; arial, sans-serif;
	font-size: x-small;
	text-align: left;
	font-weight: bold;
	padding-right: 0px;
	padding-left: 3px;
	}

.mainnav {
	font-family: verdana; arial, sans-serif;
	font-size: x-small;
	text-align: left;
	font-weight: bold;
	padding-right: 0px;
	padding-left: 0px;
	}

.mainnavrss {
	font-family: verdana; arial, sans-serif;
	font-size: x-small;
	text-align: left;
	font-weight: bold;
	padding-right: 0px;
	padding-left: 0px;
	}

#center {
	float: left;
	width: 310px;
                padding: 3px;
                border-top: 1px solid #999999;

	}

#left {
	float: left;
	width: 396px;
                padding-right: 3px;
	overflow: hidden;
	border-top: 1px solid #999999;
                border-right: 1px dotted #999999;
	}

#right        {
	float: left;
	width: 304px;
                padding-top: 5px;
                padding-left: 3px;
	border-top: 1px solid #999999;
                border-right: 1px dotted #999999;
                border-left: 1px dotted #999999;
	}

#left1{
	float: left;
	width: 244px;
                padding: 3px;
	border-top: 1px solid #999999;
	}

#center1 {
	float: left;
	width: 378px;
                padding: 10px;

	border-top: 1px solid #999999;
	border-right: 1px dotted #999999;
	border-left: 1px dotted #999999;
	}


#right1      {
	float: left;
	width: 244px;
                padding: 3px;
	border-top: 1px solid #999999;
	}

form         { 
               margin-top: 3px;
               margin-bottom: 3px;
               }
#blogs         {



	border-bottom: 1px dotted #999999;
	padding-top: 0px;
	padding-right: 5px;
                margin-top: 6px;
	}

#blogsx     {

                margin-top: 6px;
	padding-top: 0px;
	padding-right: 5px;
	}

.topnav a {
	color: #990000;
	text-decoration: none;
	}

.topnav a:hover {
	color: #999966;
	}

.mainnavrss a {
	color: #ff9900;
	text-decoration: none;
	}

.mainnavrss a:hover {
	color: #999966;
	}

.mainnav a {
	color: #999966;
	text-decoration: none;
	}

.mainnav a:hover {
	color: #990000;
	}


.topgrey    { 
                font-family: Arial; 
                font-size: small; 
                color: #999999; 
                }

a.linkclass  {
                font-family: arial; 
                text-decoration: underline; 
                font-variant: small-caps;
                }

a.redmenu {
                font-family: century gothic; arial; 
                color: #000000; 
                text-decoration: none; 
                font-size: small; 
                font-weight: bold;
                }

a.redmenu:visited  {
                 font-family: arial; 
                 color: #999999; 
                 text-decoration: 
                 none; font-size: small; 
                 }

a.redmenu:hover  {
                font-family: arial; 
                color: #003399 ; 
                text-decoration: 
                none; font-size: small; }

.TextBody {
                font-family: Arial, Helvetica, sans-serif; 
                font-size: small; 
                color: #000000
                }

.Endtag     {  
                font-family: Verdana, Arial, Helvetica, sans-serif; 
                font-size: x-small; 
                font-style: italic; 
                color: #999900
                 }

.HeadTags {  
                font-family: Verdana, Arial, Helvetica, sans-serif; 
                font-size: x-small; 
                color: #660000 
                }



#Endtag   {  
               font-family: Verdana, Arial, Helvetica, sans-serif; 
               font-size: x-small; 
               font-style: italic; 
               color: #999900;
               padding-left: 20px;
               }

#item       {
               font-family:  Arial, Helvetica, sans-serif; 
               font-size: small; 
               color: #000000;
               text-decoration: none;
               margin-left: 20px;
               }

#item a            {
	font-family: Arial, helvetica, sans-serif;
                color: #333399;
	font-weight: bold;
	text-decoration: underline;
                font-size: small;
	}

#item a:hover {
	color: #990000;
	text-decoration: underline;
                font-size: small;
	}

#item a:visited {
                color: #c2ce99;
	text-decoration: underline;
                font-size: small;
                }

#siders      {
	font-family: Verdana, Arial, sans-serif;
                color: #FFFFFF;
	font-weight: strong;
	line-height: 100%;
                margin-right: auto;
	margin-left: auto;
	text-align: left;
                font-size: x-small;
	padding: 3px;
	background-color: #999966;
	border: 2px solid #999966;
	}

.siders1      {
	font-family: Century Gothic, Arial, sans-serif;
                color: #990000;
	font-weight: strong;
	line-height: 120%;
	text-decoration: none;
	text-align: left;
                font-size: small;
	padding: 0px;
	}
.siders1 a     {
	font-family: Century Gothic, Arial, sans-serif;
                color: #990000;
	font-weight: strong;
	line-height: 120%;
	text-align: left;
	text-decoration: none;
                font-size: small;
	padding: 0px;
	}

#newsletterx {
	font-family: Verdana, Arial, sans-serif;
                margin-right: auto;
	margin-left: auto;
	line-height: 110%;
	font-size: x-small;
                text-align: left;
	padding-left: 7px;
	padding-top: 3px;
	background-color: #FFFFFF;
	border: 2px dotted #999966;
	height: 145px;
	width: 162px;
	}

#classifieds {
	font-family: Verdana, Arial, sans-serif;
                margin-right: auto;
	margin-left: auto;
	margin-top: 8px;
	line-height: 110%;
	font-size: x-small;
                text-align: left;
	padding: 4px;
                margin-right: 2px;
	border-top: 1px solid #999999;

	border-bottom: 1px dotted #999999;
	}

#newsletter {
	font-family: Verdana, Arial, sans-serif;
                margin-right: auto;
	margin-left: auto;
	line-height: 110%;
	font-size: x-small;
                text-align: left;
	padding: 2px;
	background-color: #FFFFFF;
	border: 3px solid #990000;
	}

#newsletter1 {
	font-family: Verdana, Arial, sans-serif;
                color: #FFFFFF;
	font-weight: strong;
	line-height: 120%;
                margin-right: auto;
	margin-left: auto;
	text-align: left;
                font-size: x-small;
	padding: 5px;
	background-color: #999966;
	border: 0px solid #990000;
                }

.smallred     {
                  font-family: arial, helvetica, sans-serif; 
                  color: #990000; 
                  text-decoration: none; 
                  font-size: x-small; 
                  padding: 0px;
                  }

#blogheadline            {  
                 font-family: arial, helvetica, sans-serif; 
                 font-size: 8pt; 
                 font-weight: normal; 
                 padding-left: 10px;
                 padding-bottom: 3px;
                 }

#blogheadline a  {
	 color: #333399;
	font-weight: bold;

	 }

#blogheadline a:hover {
	 color: #990000;
	 }

.smallgrey  {  
                 font-family: arial, helvetica, sans-serif; 
                 font-size: x-small; 
                 color: #999999;
                 }
#smallgrey {  
                 font-family: arial, helvetica, sans-serif; 
                 font-size: x-small; 
                 padding-right: 6px;
                 color: #999999;
                 text-align: right;
                 }
#smallgrey a {
	 color: #999999;
	 }

#smallgrey a:hover {
	color: #990000;
	}

.rednav      {
	font-family: verdana; arial, sans-serif;
	font-size: x-small;
                font-weight: normal;
	text-align: left;
	padding-right: 0px;
	padding-left: 3px;
	}

.rednav a   {
	color: #990000;
	text-decoration: none;
                font-weight: normal;
	}

.rednav a:hover {
	color: #999966;
	text-decoration: none;
                font-weight: normal;
	}

#video       {
	font-family: arial, sans-serif;
	font-size: x-small;
	line-height: 250%;
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
	}

.blogtitle 	{
		font-family: Verdana, Arial, sans-serif;
                                font-size: 8pt;
		color: #006699;
		margin-left: 10px;
		text-decoration: underline;
                                }

.blogtitle a:hover	{
		color: #990000;
		text-decoration: none;



                                }

.blogtag	{
		font-family: Arial, sans-serif;
                                font-size: 8pt; 
		padding-bottom: 10px;
		margin-left: 10px;
                                }
		
.blogcategory	{
		color: #990000;
		font-family: Verdana, Arial, sans-serif;
                                font-size: 8pt; 
		padding-bottom: 10px;
                                }




.item       {
               font-family:  Arial, Helvetica, sans-serif; 
               font-size: small; 
               color: #000000;
               text-decoration: none;
               margin-left: 20px;
               }

.item a            {
	font-family: Arial, helvetica, sans-serif;
                color: #333399;
	font-weight: bold;
	text-decoration: none;
                font-size: small;
	}

.item a:hover {
	color: #990000;
	text-decoration: underline;
                font-size: small;
	}

.item a:visited {
                color: #999999;
	text-decoration: none;
                font-size: small;
                }


#modContainer{
	width:108px; 
	height:99px; 
	max-height:99px; 
	overflow:hidden; 
	background-image:url(http://www.vividseats.com/v2/newimages/searchbox/108x99.gif); 
	background-repeat:no-repeat; 
	background-color:#ffffff; 
	padding:0px; 
	margin:0px; 
	font-family:Verdana, Geneva, sans-serif;
	}
	


#modHeader{
	padding:2px 0px 0px 0px; 
	float:left; 
	width:108px; 
	font-size:11px; 
	text-transform:uppercase; 
	font-weight:bold; 
	color:#FFFFFF;
	text-align:center
	}


	
#modHeader a{	
	 color:#ffffff; 
	 text-decoration:none
	}
	
#modContent{
	font-size:10px; 
	color:#676767; 
	float:left; 
	width:106px; 
	padding:5px 0px 0px 2px; 
	margin:0px; 
	font-weight:normal; 
	line-height:13px
	}
	


#modContent a{
	color:#bc0026; 
	text-decoration:underline
	}

