/* --- consumer services styles - prefix: ybbr --- */
/* global */
body { background:#F3F3F3; color:#404040; margin: 0; padding: 0; text-align: center; }
.hide { display: none; }
.show { display: block; }
.ymemreq { color: #d70404; }
span.ymemreq { font-weight: bold; display: inline !important; float: none !important; }
.ymemforminput .ymemreq { padding: 0 2px 0 0; }

/* headers */
h1.hidden, h2.hidden, h3.hidden, h4.hidden, h5.hidden, h6.hidden { display: none; }
.title { font-size: 1.2em; font-weight: bold; margin: 0; }

/* anchor styles */
a { text-decoration: none; color: #247cd4; }
a:hover { text-decoration: underline; }
a:active { color: #0050a1; }
a:visited { color: #9136ad; }
a.ybbrma, a.ybbrma:visited { color: #ffffff; }
a.spy, a.spy:hover, a.spy:visited { color: #000000; }
a.back, a.back:visited { color: #247cd4; background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/back.gif) no-repeat 0 50%; padding-left: 13px; height: 1em; }	/* back links */
a.next, a.next:visited { color: #247cd4; background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/next.gif) no-repeat 100% 50%; padding-right: 13px; height: 1em; }
a.dwld { padding-left: 18px; height: 1.3em; background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/download_1.gif) no-repeat 0 50%; padding-left: 13px; height: 1em; }
a.prnt { padding-left: 18px; background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/printpage1.gif) no-repeat 0 50%; }
a.email { padding-left: 18px; background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/mail_16_1.gif) no-repeat 0 50%; }
a.view { background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/tour_1.gif) no-repeat 0 50%; padding-left: 20px; }
a.fkbt { background: #c1c1c1 url(../imgs/bg_ygbt.gif) repeat-x 0 0; border: 1px solid #9a9a98; cursor: pointer;cursor:hand; padding: 3px 10px 2px; color: #000; }
	html>body a.fkbt { padding: 1px 13px; }
	a.fkbt:hover { text-decoration: none; color: #000; }
	a.fkbt:visited { color: #000; }
a.fkbtem { background: #ffbb16 url(../imgs/bg_ygbtem.gif) repeat-x 0 0; border: 1px solid #9a9a98; cursor: pointer;cursor:hand; padding: 3px 10px 2px; color: #000; font-weight: bold; }
	html>body a.fkbtem { padding: 1px 13px; }
	a.fkbtem:hover { text-decoration: none; color: #000; }
	a.fkbtem:visited { color: #000; }
a.fkbtsm { background: #cecece url(../imgs/bg_ygbt.gif) repeat-x 0 0; border: 1px solid #9a9a98; cursor: pointer;cursor:hand; padding: 2px 10px 2px; color: #000; }
	html>body a.fkbtsm { padding: 1px 7px; }
	a.fkbtsm:hover { text-decoration: none; color: #000; }
	a.fkbtsm:visited { color: #000; }
a.fkbtemsm { background: #ffbb16 url(../imgs/bg_ygbtem.gif) repeat-x 0 0; border: 1px solid #565656; cursor: pointer;cursor:hand; padding: 2px 10px 2px; color: #000; font-weight: bold; }
	html>body a.fkbtemsm { padding: 1px 7px; }
	a.fkbtemsm:hover { text-decoration: none; color: #000; }
	a.fkbtemsm:visited { color: #000; }

/* expand height container */
#ybbreh { display: block; width: 100%; font-size: 0; height: 1px; margin-top: 1px; }

/* layout elements */
#doc { width: 59.82em; min-width: 800px; border: 1px solid #fff; border-width: 0 1px; text-align: center; }
html>body #doc { width: 60.67em; }

/* header */
#hd { height: 63px; margin: 0; padding: 0 30px; }
	/* steps content */
		/*#logo { float: left; width: 100%; margin-top: 15px; }*/
		#logo { width: 100%; height: 50px;}
		
		#ybbrsteps2, #ybbrsteps3, #ybbrsteps4, #ybbrsteps5, #ybbrsteps6 { float: right; width: 335px; margin-top: 10px; }
		
		#hd.steps ol { margin: 0; padding: 0; list-style-type: none; z-index: 2; background: transparent url(../imgs/ybbrstep_bg.gif) no-repeat 50% 0; width: 100%; height: 22px; }
			#hd.steps ol li { display: block; float: left; margin: 0; padding: 0; list-style-type: none; color: #85898a; font: 70% Verdana; }
			#hd.steps ol li span { display: block; padding: 25px 5px 0; text-align: center; background: transparent url(../imgs/ybbrstep_stnd.gif) no-repeat 50% 0; }
			#hd.steps ol li .sel { color: #404040; background: transparent url(../imgs/ybbrstep_sel.gif) no-repeat 50% 0; }
			
			#ybbrsteps2 ol li { width: 167px; }
			#ybbrsteps2 ol li.first span { background: transparent url(../imgs/ybbrstep_start_stnd.gif) no-repeat -105px 0; }
			#ybbrsteps2 ol li.first span.sel { background: transparent url(../imgs/ybbrstep_start_sel.gif) no-repeat -105px 0; }
			#ybbrsteps2 ol li.last span { background: transparent url(../imgs/ybbrstep_end_stnd.gif) no-repeat 72px 0; }
			#ybbrsteps2 ol li.last span.sel { background: transparent url(../imgs/ybbrstep_end_sel.gif) no-repeat 72px 0; }
			
			#ybbrsteps3 ol li { width: 111px; }
			#ybbrsteps3 ol li.first span { background: transparent url(../imgs/ybbrstep_start_stnd.gif) no-repeat -133px 0; }
			#ybbrsteps3 ol li.first span.sel { background: transparent url(../imgs/ybbrstep_start_sel.gif) no-repeat -133px 0; }
			#ybbrsteps3 ol li.last span { background: transparent url(../imgs/ybbrstep_end_stnd.gif) no-repeat 44px 0; }
			#ybbrsteps3 ol li.last span.sel { background: transparent url(../imgs/ybbrstep_end_sel.gif) no-repeat 44px 0; }

			#ybbrsteps4 ol li { width: 83px; }
			#ybbrsteps4 ol li.first span { background: transparent url(../imgs/ybbrstep_start_stnd.gif) no-repeat -147px 0; }
			#ybbrsteps4 ol li.first span.sel { background: transparent url(../imgs/ybbrstep_start_sel.gif) no-repeat -147px 0; }
			#ybbrsteps4 ol li.last span { background: transparent url(../imgs/ybbrstep_end_stnd.gif) no-repeat 30px 0; }
			#ybbrsteps4 ol li.last span.sel { background: transparent url(../imgs/ybbrstep_end_sel.gif) no-repeat 30px 0; }

			#ybbrsteps5 ol li { width: 65px; }
			#ybbrsteps5 ol li.first span { background: transparent url(../imgs/ybbrstep_start_stnd.gif) no-repeat -156px 0; }
			#ybbrsteps5 ol li.first span.sel { background: transparent url(../imgs/ybbrstep_start_sel.gif) no-repeat -156px 0; }
			#ybbrsteps5 ol li.last span { background: transparent url(../imgs/ybbrstep_end_stnd.gif) no-repeat 21px 0; }
			#ybbrsteps5 ol li.last span.sel { background: transparent url(../imgs/ybbrstep_end_sel.gif) no-repeat 21px 0; }

			#ybbrsteps6 ol li { width: 54px; }
			#ybbrsteps6 ol li.first span { background: transparent url(../imgs/ybbrstep_start_stnd.gif) no-repeat -161px 0; }
			#ybbrsteps6 ol li.first span.sel { background: transparent url(../imgs/ybbrstep_start_sel.gif) no-repeat -161px 0; }
			#ybbrsteps6 ol li.last span { background: transparent url(../imgs/ybbrstep_end_stnd.gif) no-repeat 16px 0; }
			#ybbrsteps6 ol li.last span.sel { background: transparent url(../imgs/ybbrstep_end_sel.gif) no-repeat 16px 0; }

			
/* tabs */
#tabs { margin: 0; padding: 0; list-style-type: none; z-index: 2; position: relative; top: 3px;}
#tabs li { position: relative; display: block; float: left; margin: 0px 4px 0px 0px; padding: 0; background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_l.gif) no-repeat 0 0; }
#tabs li em { position: relative; float: left; font-style: normal; display: block; background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_r.gif) no-repeat top right; }
#tabs a { display: block; float: left; white-space: nowrap; color: #5E5E5E; text-decoration: none; margin: 0; padding: 7px 10px 5px; font: bold .75em Verdana; }
#tabs a:hover { text-decoration: underline; }

#tabs li.sel em { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_sel_r.gif) no-repeat top right; }
#tabs li.sel { border-bottom: 2px solid #919191; background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_sel_l.gif) no-repeat; }
#tabs li.sel a { color: #fff; }


/* body */	
#bd { padding: 0; margin: 0; }

/* footer */
#ft { width: 92.5%; margin: 7px 30px 0; padding-bottom: 20px; }
#ybb_copy { margin: 5px 15px 15px 25px; }

/* module elements */
.mod { background: #fff; text-align: left; margin: 0; padding: 0; margin-left:auto; margin-right:auto; }
	.mod .bd { _height: 20px; min-height: 20px; }
	.mod .ft { margin: 50px 30px 20px; text-align: right; }

/* outer container */
.ybbrotr { margin: 0 30px; background: #fff url(../imgs/bg_modotr_efefef.gif) repeat-x 0 0; }
	.ybbrotr .hd { margin: 22px 24px 10px; }
	html>body .ybbrotr .hd { margin-bottom: 20px; }
	.ybbrotr .fd { margin: 10px 5px 0 10px; }
		.ybbrotr .hd h1, .ybbrotr .fd h1 { font-size: 200%; font-weight: normal }
			.ybbrotr .hd h1 span, .ybbrotr .fd h1 span { font-size: 60%; color: #676565; }
	.ybbrotr .bd { margin: 0 24px; }
    
.hub .ybbrotr .fd { margin: 10px 5px 0 0px; }

.ybb_cont { border-right: 1px solid #9A9A9A; margin: 0 0 1em .75em; padding: 0; }
.ybb_cont fieldset h2 { color: #666666; }
.ybb_cont_name span { display: inline !important; float: left; padding: 0 8px 0 8px; }
.ybb_cont h2 { color: #666; font-size: 130%; font-weight: bold; margin: 0 0 16px 2px; }
.ybb_cont h2 span { font-size: 70%; }

/* cornered containers */
.ct, .cl, .cb { display: block; height: 5px; position: relative; font-size: 0; line-height: 0; margin: 0; }
.cl { width: 5px; }
.ct, .cb { width: 100%; }

/* more info modules */
.ymemfldinfo { clear: both; margin: 0.38em 0 0 7.7em; width: 25.08em; overflow: hidden; position: relative; padding: 1px 0; border: 1px solid #fff; }
html>body .ymemfldinfo { margin: 1.92em 0 0 7.95em; width: 25.07em; }
.ymemfldinfo .cnt { background: #edf7d4; font: 77% Verdana; border: 1px solid #999; position: relative; bottom: 0; }
.ymemfldinfo .cnt * { line-height: 1.4em; }
.ymemfldinfo .cnt .ct .cl { background: transparent url(../imgs/ybbrfldinfo_crnr.gif) no-repeat 0 0; left: -2px; height: 6px; }
.ymemfldinfo .cnt .cb .cl { background: transparent url(../imgs/ybbrfldinfo_crnr.gif) no-repeat 0 -6px; left: -2px; height: 6px; }
.ymemfldinfo .cnt .ct { background: transparent url(../imgs/ybbrfldinfo_crnr.gif) no-repeat 100% -12px; top: -1px; height: 6px; }
.ymemfldinfo .cnt .cb { clear: both; background: transparent url(../imgs/ybbrfldinfo_crnr.gif) no-repeat 100% -18px; bottom: -1px; right: -1px; height: 6px; }
.ymemfldinfo .cnt .bd { padding: 0 6px; margin: 0; }

/* standard */
.ct { background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 100% -10px; top: -1px; right: -1px; }
.ct .cl { background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 0 0; left: -1px; }
.cb { clear: both; background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 100% -15px; }
.cb .cl { background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 0 -5px; }

/* Sidebar Styles */
.ybb_side_cont { border-top: 1px dotted #ccc; margin: 20px 1em .75em 0; width: 90%; }
.ybb_side_cont_first { border-top: none; margin-top: 0; }
.ybb_side_cont h3 { margin-bottom: 5px; }
.ybb_side_cont_first h3 { margin: 0 0 5px 0; }
.ybb_side_cont span { display: block; padding: .5em .5em .75em 0; margin: .5em 0 .5em 0; }
.ybb_sidebar { margin: 0; }
.ybb_sidebar h2 { color: #666; font-size: 130%; font-weight: bold; margin-bottom: 20px; }
.ybb_side_cont ul li span { padding: 0; margin: 0; }

#sechd { margin: 0; padding: 0px 30px 10px; }

#search { clear: both; float: right; width: 20.5em; margin: .5em 0 0; padding: 0; color: #fff; }
#search form { margin: 0; padding: 0; }
#search label { font: .85em Verdana; display: block; margin-bottom: 3px; }
#search input { width: 175px; }
#search input.ygbtemsm { width: auto; position:relative; top:-1px; }

#avatar { float: left; text-align: left; width: 30em;  margin-top: .5em; padding: 0; }
#avatar img { margin-right: 10px; float: left; }
#avatar img.avatar { border: 1px solid #666; }
#avatar strong { display: block; margin-top: 5px; }
#avatar h2 { color: #000; font-size: 108%; margin: 5px 0 0; }
.hub #avatar h2 { color: #fff; }
/* start: form elements */
.ybb_bf_buttons { margin: 5px; padding-right: 15px; }
.ybb_bf_buttons input { float: right; margin: 3px; }
.ybb_sh { margin: .5em 0 .5em 0; }

/* form button */
.ygbt { background: #c1c1c1 url(../imgs/bg_ygbt.gif) repeat-x 0 0; border: 1px solid #9a9a98; color: #000; padding: 1px 5px 0; cursor: pointer;cursor:hand; }
html>body .ygbt { padding: 0 10px; }
/* form button emphasized */
a.ygbtem { color: #000; text-decoration: none; }
.ygbtem { background: #ffbb16 url(../imgs/bg_ygbtem.gif) repeat-x 0 0; border: 1px solid #9a9a98; color: #000; padding: 1px 5px 0; cursor: pointer;cursor:hand; font-weight: bold; }
html>body .ygbtem { padding: 0 10px; }
.ygbtsm, .ygbtemsm, .ygbtemsm_off, .ygbtdssm, .fkbtsm, .fkbtemsm { font: 83% Verdana; }
/* small form button */
a.ygbtemsm { color: #000; text-decoration: none; font-size: 75%; }
a.ygbtsm { color: #000; text-decoration: none; font-size: 75%; }
.ygbtsm { background: #c1c1c1 url(../imgs/bg_ygbt.gif) repeat-x 0 0; border: 1px solid #9a9a98; color: #000; padding: 1px 5px 0; cursor: pointer;cursor:hand; }
html>body .ygbtsm { padding: 0 5px; }
/* small form button emphasized */
.ygbtemsm { background: #ffbb16 url(../imgs/bg_ygbtem.gif) repeat-x 0 0; border: 1px solid #9a9a98; color: #000; padding: 1px 5px 0; cursor: pointer;cursor:hand; font-weight: bold; }
.ygbtemsm_off { background: #ccc repeat-x 0 0; border: 1px solid #9a9a98; color: #000; padding: 1px 5px 0; cursor: pointer;cursor:hand; }
html>body .ygbtemsm { padding: 0 5px; }
html>body .ygbtemsm_off { padding: 0 5px; }

#bcn { display: none; }

/* std0 - gray on gray */
#bbreg.std0 { background:#f3f3f3; }
.std0 #doc { background: #a8a8a8 url(../imgs/bg_doc_a8a8a8.gif) repeat-x 0 0; }
.hub #hd { padding-left: 1em; margin: 0 0 1em; }
.hub #hd img { margin-bottom: 5px; }
.std0 .ybbrotr { background-image: url(../imgs/bg_modotr_efefef.gif); }
.std0 h1 { color: #666666; }
.std0 .ct { background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 100% -10px; top: 0px; right: -1px; }
.std0 .ct .cl { background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 0 0; left: -1px; }
.std0 .cb { clear: both; background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 100% -15px; }
.std0 .cb .cl { background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 0 -5px; }
.std0 #ft { padding: 5px; margin: 0; background-color: #a8a8a8; color: #fff; font-size: 70%; }

/* std1 - blue on blue */
#bbreg.std1 { background:#f3f3f3; }
.std1 #doc { background: #66afdb url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_doc_66afdb.gif) repeat-x 0 0; }
.std1 .ybbrotr { background-image: url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_modotr_e6f2f8.gif); }
.std1 .ct { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/d9ebf6_e1ecf3_66afdb_ffffff.gif) no-repeat 100% -10px; top: -1px; right: -1px; }
.std1 .ct .cl { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/d9ebf6_e1ecf3_66afdb_ffffff.gif) no-repeat 0 0; left: -1px; }
.std1 .cb { clear: both; background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/d9ebf6_e1ecf3_66afdb_ffffff.gif) no-repeat 100% -15px; }
.std1 .cb .cl { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/d9ebf6_e1ecf3_66afdb_ffffff.gif) no-repeat 0 -5px; }
.std1 #ft { color: #d9ebf6; }

/* std2 - yellow on blue */
#bbreg.std2 { background:#ecf5fb; }
.std2 #doc { background: #abd3ee url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_doc.gif) repeat-x 0 0; }
.std2 .ybbrotr { background-image: url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_modotr_ecca63.gif); }
.std2 .ct { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/e1eff9_abd3ee_ecca63_ffffff.gif) no-repeat 100% -10px; top: -1px; right: -1px; }
.std2 .ct .cl { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/e1eff9_abd3ee_ecca63_ffffff.gif) no-repeat 0 0; left: -1px; }
.std2 .cb { clear: both; background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/e1eff9_abd3ee_ecca63_ffffff.gif) no-repeat 100% -15px; }
.std2 .cb .cl { background: transparent url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/e1eff9_abd3ee_ecca63_ffffff.gif) no-repeat 0 -5px; }
.std2 #ft { color: #fff; }

/* popup gray undertones */
#bbreg.popup { background:#fff; }
.popup #doc_popup { width: auto; min-width: 330px; margin: 0; padding: 35px 25px; background: #fff url(../imgs/bg_popup.gif) repeat-x 0 0; border: none; }
.popup #hd { display: none; }
.popup h1 { font-size: 200%; font-weight: normal; margin-bottom: 30px; color: #007ac2; }
.popup .mod { background: none; }
.popup #ft { width: auto; margin: 0; }
.popup .ct, .popup .cl, .popup .cb { background-image: none; }

/* hub - gray on gray */
.hub #bd { position: relative; background-color: #a8a8a8; background-image: url(../imgs/bg_bd_a8a8a8.gif); background-repeat: repeat-x; background-attachment: scroll; }
.hub .ybbrotr { background: #fff url(../imgs/bg_modotr_efefef.gif) repeat-x 0 0; }
.hub .ct { background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 100% -10px; top: 0; right: 0; }
.hub .ct .cl { background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 0 0; left: 0; }
.hub .cb { clear: both; background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 100% -15px; }
.hub .cb .cl { background: transparent url(../imgs/e7e7e7_ececec_b1b1b1_ffffff.gif) no-repeat 0 -5px; }
.hub #tabs li { background-image: url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_l.gif); }
.hub #tabs em { background-image: url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_r.gif); }
.hub #tabs li.sel em { background-image: url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_sel_r.gif); }
.hub #tabs li.sel { background-image: url(http://ue.corp.yahoo.com/ava/ConsumerServices/Broadband/Tuna/mockups/imgs/bg_tab_sel_l.gif); }

.ybb_notice { background-color: #FCFFDB;}

/* IE7 adjustments */
<!--[if IE]>
html>body .ymemfldinfo { margin: 0.38em 0 0 7.1em; }
<![endif]-->

