/* --- consumer services base styles - prefix: ybbr --- */
strong { font-weight: bold; }
small { font: 77% Verdana; }

/* headers */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: bold; margin: 0; padding: 0; }
h3 { margin-top: 1em; }

/* paragraphs */
p { margin: 0.5em auto 1em; padding: 0; }

/* horizontal line */
hr { color: #ebebeb; margin: 10px 0; border-bottom: none; }

/* forms */
fieldset { border: none; margin: 0; padding: 0; }
legend { display: none; margin: 0; padding: 0; }
.input { width: 10.88em; }
html>body .input { width: 11.15em; }
input.focus, select.focus { background: #edf7d4; }

/* form fields and labels */
.ymemforminput { clear: both; padding: 0; margin-top: 8px; }
html>body .ymemforminput { padding-top: 8px; margin-top: 0; }
.ymemformlabel { float: left; width: 6.75em; text-align: right; margin-right: 5px; padding: 0 .75em 0 0; }
html>body .ymemformlabel { width: 6.92em; }
.ymemformfield { float: left; }

/* tables */
table th { font-weight: normal; text-transform: uppercase; font: 77% Verdana; }

/* lists */
ol { list-style-type: decimal; margin: 0 0 1em 2em; padding: 0; }
html>body ol { margin: 0 0 1em 1.7em; }
	ol li { margin-left: 1px; padding-left: 0; }
	
ul { list-style: none; margin: 0; padding: 0; }
	ul li { margin-left: 1px; padding-left: 10px; background: url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/cn/blt_sqr.gif) no-repeat 0 .5em; }
	ul li.pad5 { margin-top: 5px; }
	ul li.pad10 { margin-top: 10px; }
ul.dash li { background: url(http://us.i1.yimg.com/us.yimg.com/i/us/my/gr/bulletdash.gif) no-repeat 0 .5em; }

/* --- yahoo global classes - prefix: yg --- */
/* float clear fix */
.ygcl { clear: both; height:1px; }
.ygcl:after{ content:"."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }/*\*/
* html .ygcl { height:1px; }/* */

/* error text */
.yger { color: #ea3307; padding: 0 0 2px 20px; background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/alrt_s.gif) no-repeat 0 0; }
html>body .yger { padding-bottom: 5px; }
.ymemforminput .yger { margin-left: 8em; }
html>body .ymemforminput .yger { margin-left: 8.1em; }
.yger strong { font-weight: bold; }
.prim { margin-left: 0; }
html>body .prim { margin-left: 0; }

/* error input background */
.ygeritbg { background-color: #edf7d4; }

/* dialogue elements */
.ycsdlgerr { background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/alrt_error_nodrop_1.gif) no-repeat 0 50%; padding-left: 45px; }
.ycsdlgalt { background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/alrt_notice_nodrop_1.gif) no-repeat 0 50%; padding-left: 45px; }
.ycsdlgcfm { background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/alrt_block_nodrop_1.gif) no-repeat 0 50%; padding-left: 45px; }
.ycsdlgwrn { background: transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/plus/gr/alrt_ques_nodrop_1.gif) no-repeat 0 50%; padding-left: 45px; }

/* cornered containers */
.ct, .cl, .cb { display: block; height: 5px; position: relative; font-size: 0; line-height: 0; margin: 0; }
.cl { width: 5px; }
.ct, .cb { width: 100%; }
.ct { background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 100% -10px; top: -1px; right: -1px; }
.ct .cl { background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 0 0; left: -1px; }
.cb { clear: both; background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 100% -15px; }
.cb .cl { background: transparent url(../imgs/d9d9d9_ececec_b1b1b1_ffffff.gif) no-repeat 0 -5px; }


/* IE7 adjustments */
<!--[if IE]>
html>body .ymemforminput { padding: 0; margin-top: 8px; }
html>body .ybbrotr .hd { margin-bottom: 10px; }
<![endif]-->
