li {
list-style-image:none !important;
list-style-position:outside !important;
list-style-type:disc !important;
margin-left:10px !important;
}/* adverting site main css */
a.readmore{
	text-align:left;
	color:#83219a;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	}
a.readmore:hover{
	text-align:left;
	color:#83219a;
	font-weight:bold;
	font-size:11px;
	text-decoration:underline;
	}

#inner_content_holder{
	width:640px; 
	}
body {
	background: url(http://l.yimg.com/t/i/in/adv2.0/bg_new4.jpg) center top;
	margin:0px 0px 0px 0px;
	padding-left:0px;
	/*background-attachment:fixed;*/
	overflow-x:hidden;
}
img{
	border:0px;
	}
#main{
	width:933px;
	}
#right .top{
	width:252px;
	}
#main .logohold{
	width:933px;
	text-align:left;
	float:left;
	}
#main .logo{
	width:310px;
	height:35px;
	padding-top:21px;
	}
#menu{
	float:left;
	}
#menu_shadow{
	float:left;
	width:679px;
	}
#call_bottom{
	float:right;
	}
#headerhold{
	width:933px;
	float:left;
	}
#headerimg{
	float:left;
	width:657px;
	height:256px;
	}
#header_hold{
	padding-left:270px;
	padding-top:50px;
	width:380px;
	text-align:left;
	}
#header_titlecontent{
	width:380px;
	text-align:left;
	font-family:arial;
	font-size:25px;
	color:#FFF;
	padding-bottom:8px;
	}
#header_content{
	width:300px;
	text-align:left;
	font-family:arial;
	font-size:12px;
	color:#FFF;
	}
.spotlight{
	width:252px;
	float:right;
	}
#spotlight_content{
	background-image:url(http://l.yimg.com/t/i/in/advertising_images/spot_bg.jpg);
	background-repeat:repeat-x; 
	height:205px; 
	padding:16px 12px 12px 12px;
	}
.spotlight_title{
	font-family:arial;
	font-size:17px;
	color:#646464;
	font-weight:bold;
	text-align:left;
	}
.spotlight_img{
	padding:6px 0 6px 0px;
	text-align:left;
	}
#content_holder{
	width:655px;
	text-align:left;
	
	}
div{
	font-family:arial;
	font-size:13px;
	color:#4e4e4e;
	}
.content_title{
	width:272px;
	font-size:17px;
	color:#6d1f80;
	font-weight:bold;
	text-decoration:none;
	}
#content_right_container{
	width:272px; 
	float:left; 
	padding-left:80px;
	}
#content_left_container{
	width:272px; 
	float:left;
	}
#content_holder_div{
	float:left; 
	width:653px; 
	border:1px solid #8ea6bc; 
	border-top:0px; 
	border-bottom:0px; 
	padding-bottom:12px;
	}
#newsletter_holder{
	padding:0px 12px 12px 12px; 
	text-align:left;
	margin-top:12px;
	}
#ads{
	width:252px; 
	float:right; 
	padding-top:12px;
	}
#ad_bottom{
	width:252px; 
	float:right; 
	padding-top:12px;
	padding-bottom:10px;
	}
#submit{
	background-image:url(http://l.yimg.com/t/i/in/advertising_images/submit.jpg);
	width:47px; 
	height:14px; 
	border:0px; 
	cursor:pointer;
	}
#cre_client {
	font-size:14px;
}
#cre_title {
        font-size:14px;
        font-weight:bold;
}
#cre_type {
        font-size:14px;
}
#cre_by {
        font-size:14px;
}
.cre_sub_title {
	color:#6D1F80;
	font-size:14px;
	font-weight:bold;
}
/* merged inner.css in the same */
#inner_content_holder{
	float:left; 
	width:653px; 
	padding-bottom:12px;
	}
.inner_title{
	width:640px;
	font-size:25px;
	color:#6d1f80;
	font-weight:bold;
	}
.inner_sub_title1 a:link{
	font-size:12px;
	color:#666;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	}
.inner_sub_title1 a:visited{
	text-decoration:none;
	color:#666;
	}
.inner_sub_title1 a:active{
	text-decoration:none;
	color:#666;
	}
.inner_sub_title1 a:hover{
	text-decoration:underline;
	color:#666;
	}
.inner_sub_title1_selected a{
	font-size:12px;
	color:#6d1f80;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	
	}
.inner_sub_title1_selected a:hover{
	font-size:12px;
	color:#6d1f80;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:underline;
	}
.inner_sub_title{
	width:640px;
	font-size:17px;
	color:#6d1f80;
	font-weight:bold;
	padding:6px 0 12px 0;
	}
.inner_submenu{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#525252;
	}
.selected a
	{font-size:13px;color:#666666;
	font-weight:bold;
	text-decoration:none;
	}
.selected1 a
		{font-size:12px;font-color:#e3e3e3;
		font-weight:bold;
		}

.img1_space{
	width:639px;
        height:241px; 
        float:left;
		border:4px solid #e3e3e3;
		margin-bottom:15px;
        

	}
.img_space{
	width:250px;
	height:150px;
	float:left;
	}

select{
	color:#822199;
	font-family:Arial;
	font-size:12px;
	}
input{
	color:#822199;
	font-family:Arial;
	font-size:12px;
	}
#contact_submit{
	background-image:url(http://l.yimg.com/t/i/in/adv2.0/contact/submit.jpg);
	width:64px;
	height:21px;
	border:0px;
	cursor:pointer;
	}
.article_div{
	width:640px;
	padding-bottom:12px;
	float:left;
}
#img2b img {
	margin-right:10px
}
#largeImg {
	border:none;
}
#contact_div1{
	float:left;
	width:640px;
	padding-top:12px;
	}

/*footer additions*/
#foot {border-top: 1px dotted #c0c0c0; width: 933px;font: normal 10px verdana; color: #8f8f8f;float:left;}
#ft-align {padding-top: 0px;}
#ft-con {background: #ffffff; width: 930px; height: 30px; padding: 0px;}

#ft-txt-align {padding-top: 3px;}
#ft-txt-align a {color: #696262; text-decoration: none;}
#ft-txt-align a:hover {color: #696262; text-decoration: underline;}


/*whats new*/
.wn_article_whatsnew{padding-bottom:4px;padding-top:4px; border-style: dotted none none none; border-width:1px;width:645px;border-color:#c0c0c0;}
.wn_article_with_image{padding-left:266px;padding-bottom:5px;min-height:170px;}
.wn_article_without_image{padding-left:12px;padding-bottom:5px;}
.wn_article_category{font-family:arial; font-size:12px; font-weight:bold; color:#6d1f80;}
.wn_article_title{font-weight:bold;font-size:13px;}
.inner_sub_title2 a:link{
        font-size:15px;
        color:#4E4E4E;
        font-weight:bold;
        text-transform:uppercase;
        text-decoration:none;
        }
.inner_sub_title2 a:visited{   
        text-decoration:none;
        color:#4E4E4E;
        }
.inner_sub_title2 a:active{
        text-decoration:none;
        color:#4E4E4E;
        }
.inner_sub_title2 a:hover{
        text-decoration:underline;
        color:#4E4E4E;
        }

.wn_article_spl_detail_heading{font-family:arial; font-size:16px; font-weight:bold; color:#6d1f80;}

/*solutions*/
.solutions_subheading1{font-family:arial; font-size:12px; font-weight:bold; color:#6d1f80;}
.solutions_smallheading{font-family:arial; font-size:12px; font-weight:bold; color:#000;}
.solutions_newtopic{padding-top:10px;float:left;text-align:justify;}
.solutions_content{text-align:justify;}
.solutions_menufoot {padding-bottom:4px;padding-top:4px; border-style: dotted none none none; border-width:1px;width:645px;border-color:#c0c0c0;}
.inner_sub_title31 a:link{
        font-size:12px;
        color:#666;   
        text-transform:uppercase;
        text-decoration:none;
       }
.inner_sub_title31 a:visited{
        text-decoration:none;
        color:#666;
        }
.inner_sub_title31 a:active{
        text-decoration:none;
        color:#666;
        font-weight:bold;
        }
.inner_sub_title31 a:hover{
        text-decoration:underline;
        color:#666;
        }
