/******* Combining file dz/public/dz.css *********/
@charset "utf-8";

/* ------------------ Reset ---------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol li, ul li {
    margin: 0;
    font-size: 100%;
    line-height: 1.5em;
}
body          { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins    { text-decoration: none; }
del    { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------ Master properties ------------------------ */
h1, h2, h3, h4, h5, h6 {
    font-weight   : bold;
    margin-top    : 1em;
    margin-bottom : 1em;
}
h1     { font-size : 200%; }
h2     { font-size : 150%; }
h3     { font-size : 120%; }
h4     { font-size : 100%; }
h5     { font-size : 83%; }
h6     { font-size : 70%; }
p      { margin-top : 1em; margin-bottom : 1em; }
ul {
    margin-top : 0.5em; margin-bottom : 0.5em;
    padding-left : 2.5em;
    list-style : disc outside none;
}
ol {
    margin-top : 0.5em; margin-bottom : 0.5em;
    padding-left : 2.5em;
}
ol li, ul li {
}
blockquote { margin : 16px 0px 16px 40px; }
dd { margin-left : 40px }
th { font-weight : bold }

/* pre { font-family : helvetica; } */


body {
    font-family : arial, sans-serif;
    font-size   : 100%;
    margin      : 0px 0px 0px 0px;
    line-height : 1.2;
}
fieldset {
    border : 1px solid #D7D7D7;
    padding : 0.5em;
}

/* ------------------ General styles ----------------- */

/* Margins */
.mt0  { margin-top    : 0px; }
.mr0  { margin-right  : 0px; }
.mb0  { margin-bottom : 0px; }
.ml0  { margin-left   : 0px; }
.mt1  { margin-top    : 1px; }
.mr1  { margin-right  : 1px; }
.mb1  { margin-bottom : 1px; }
.ml1  { margin-left   : 1px; }
.mt2  { margin-top    : 2px; }
.mr2  { margin-right  : 2px; }
.mb2  { margin-bottom : 2px; }
.ml2  { margin-left   : 2px; }
.mt4  { margin-top    : 4px; }
.mr4  { margin-right  : 4px; }
.mb4  { margin-bottom : 4px; }
.ml4  { margin-left   : 4px; }
.mt5  { margin-top    : 5px; }
.mr5  { margin-right  : 5px; }
.mb5  { margin-bottom : 5px; }
.ml5  { margin-left   : 5px; }
.mt10 { margin-top    : 10px; }
.mr10 { margin-right  : 10px; }
.mb10 { margin-bottom : 10px; }
.ml10 { margin-left   : 10px; }
.mt20 { margin-top    : 20px; }
.mr20 { margin-right  : 20px; }
.mb20 { margin-bottom : 20px; }
.ml20 { margin-left   : 20px; }
.mt50 { margin-top    : 50px; }
.mr50 { margin-right  : 50px; }
.mb50 { margin-bottom : 50px; }
.ml50 { margin-left   : 50px; }
.m1   { margin : 1px 1px 1px 1px; }
.m2   { margin : 2px 2px 2px 2px; }
.m3   { margin : 3px 3px 3px 3px; }
.m5   { margin : 5px 5px 5px 5px; }
.m10  { margin : 10px 10px 10px 10px; }
.m20  { margin : 20px 20px 20px 20px; }
.m50  { margin : 50px 50px 50px 50px; }

/* Border */

/* Padding */
.pt1   { padding-top    : 1px; }
.pr1   { padding-right  : 1px; }
.pb1   { padding-bottom : 1px; }
.pl1   { padding-left   : 1px; }
.pt2   { padding-top    : 2px; }
.pr2   { padding-right  : 2px; }
.pb2   { padding-bottom : 2px; }
.pl2   { padding-left   : 2px; }
.pt3   { padding-top    : 3px; }
.pr3   { padding-right  : 3px; }
.pb3   { padding-bottom : 3px; }
.pl3   { padding-left   : 3px; }
.pt5   { padding-top    : 5px; }
.pr5   { padding-right  : 5px; }
.pb5   { padding-bottom : 5px; }
.pl5   { padding-left   : 5px; }
.pt10  { padding-top    : 10px; }
.pr10  { padding-right  : 10px; }
.pb10  { padding-bottom : 10px; }
.pl10  { padding-left   : 10px; }
.pt16  { padding-top    : 16px; }
.pr16  { padding-right  : 16px; }
.pb16  { padding-bottom : 16px; }
.pl16  { padding-left   : 16px; }
.pl18  { padding-left   : 18px; }
.pt20  { padding-top    : 20px; }
.pr20  { padding-right  : 20px; }
.pb20  { padding-bottom : 20px; }
.pl20  { padding-left   : 20px; }
.pl1pc { padding-left   : 1%;   }
.p2    { padding : 2px 2px 2px 2px;}
.p3    { padding : 3px 3px 3px 3px;}
.p5    { padding : 5px 5px 5px 5px;}
.p10   { padding : 10px 10px 10px 10px;}
.p50   { padding : 50px 50px 50px 50px;}

/* Dimensions */
.w100    { width : 100% }
.w95     { width : 95% }
.w90     { width : 90% }
.w80     { width : 80% }
.w70     { width : 70% }
.w75     { width : 75% }
.w60     { width : 50% }
.w50     { width : 50% }
.w40     { width : 40% }
.w30     { width : 30% }
.w25     { width : 25% }
.w20     { width : 20% }
.w19     { width : 19% }
.w18     { width : 18% }
.w10     { width : 10% }
.w1      { width : 1% }
.w10em   { width : 10em }
.w24px   { width : 24px; }
.h100    { height : 100% }
.h50     { height : 50% }
.h800px  { height : 800px }
.h24px   { height : 24px; }

/* links, text and pointers */
a.nodec     { text-decoration: none; }
a.bb        { color: #000000; }
.undrln     { text-decoration: underline; }
.strike     { text-decoration: line-through; }
.pointer    { cursor : pointer; }
.txtundline { text-decoration : underline; }

/* Displays */
.vhidden  { visibility : hidden; }
.dispnone { display : none; }
.dispblk  { display : block; }
.dispinln  { display : inline; }
.disptable { display : table; }
.disptrow  { display : table-row; }
.disptcgroup { display : table-column-group; }
.disptrgroup { display : table-row-group; }
.disptcell { display : table-cell; }

/* White-Spacing */
.wspre { white-space: pre; }
.wsprewrap { white-space: pre-wrap; }

/* background and foreground color */
.bggrn1      { background-color: #B3CFB3; }
.bggrn2      { background-color: #EBFCEB; }
.bgblue1     { background-color: #E5ECF9; }
.bggreen     { background-color: green; }
.bgred       { background-color: red; }
.bgred1      { background-color: #FFDDDD; }
.bgIred      { background-color: IndianRed; }
.bgLSalmon   { background-color: LightSalmon; }
.bglsb       { background-color: LightSteelBlue; }
.bgaliceblue { background-color: AliceBlue; }
.bglavender  { background-color: Lavender; }
.bgwhite     { background-color: white; }
.bggray      { background-color: gray; }
.bggray1     { background-color: #F2F2F2; }
.bggray2     { background-color: #d6d6d6; }
.bgcyan1     { background-color : #e8f4f4; }
.bgbisque    { background-color : Bisque; }
.bgantwht    { background-color : AntiqueWhite; }
.bgblack     { background-color : black; }
.fgblack     { color: black; }
.fggrn2      { color: #EBFCEB; }
.fgwhite     { color: white; }
.fgyellow    { color: yellow; }
.fgred       { color: red; }
.fgIred      { color: IndianRed; }
.fgLCoral    { color: LightCoral; }
.fgblue      { color: blue; }
.fgblue1     { color: #E5ECF9; }
.fgmpurple   { color: mediumPurple; }
.fggreen     { color: green; }
.fggray      { color: gray; }
.fggray1     { color: #F2F2F2; }
.fggray2     { color: #d6d6d6; }
.fgcrimson   { color: crimson; }
.fgmorchid   { color: MediumOrchid }
.fgpink      { color: #FF66FF; }
.fgdblue     { color: DarkBlue; }
.bgyellow    { background-color : #f8f48c; }
.bgyellow1   { background-color : #ffffb8; }

/* Fonts */
.fntserif   { font-family : serif; }
.fntterminus{ font-family : terminus; }
.fntbold    { font-weight : bold; }
.fntnormal  { font-weight : normal; }
.fntitalic  { font-style : italic; }
.fntsmall   { font-size : small; }
.fntmedium  { font-size : medium; }
.fntlarge   { font-size : large; }
.fntxlarge  { font-size : x-large; }
.fntxsmall  { font-size : x-small; }
.fntxxsmall  { font-size : xx-small; }
.fnt110     { font-size : 110%; }
.fnt100     { font-size : 100%; }
.fnt95      { font-size : 95%; }
.fnt90      { font-size : 90%; }
.fnt87      { font-size : 87%; }
.fnt85      { font-size : 85%; }
.fnt83      { font-size : 83%; }
.fntcaption { font      : caption; }
.fwnormal   { font-weight : normal; }

/* Alignment */
.ralign  { text-align : right; }
.calign  { text-align : center; }
.lalign  { text-align : left; }
.vtop    { vertical-align : top; }
.vbottom { vertical-align : bottom; }
.vmiddle { vertical-align : middle; }
.vsuper  { vertical-align : super; }

/* border */
.brtl2 {
    -moz-border-radius-topleft : 2px;
    border-radius-topleft : 2px;
    -webkit-border-top-left-radius : 2px;
}
.brtr2 {
    -moz-border-radius-topright : 2px;
    border-radius-topright : 2px;
    -webkit-border-top-right-radius : 2px;
}
.brbl2 { 
    -moz-border-radius-bottomleft : 2px;
    border-radius-bottomleft : 2px;
    -webkit-border-bottom-left-radius : 2px;
}
.brbr2 { 
    -moz-border-radius-bottomright : 2px;
    border-radius-bottomright : 2px;
    -webkit-border-bottom-right-radius : 2px;
}
.brtl4 { 
    -moz-border-radius-topleft : 4px;
    border-radius-topleft : 4px;
    -webkit-border-top-left-radius : 4px;
}
.brtr4 { 
    -moz-border-radius-topright : 4px;
    border-radius-topright : 4px;
    -webkit-border-top-right-radius : 4px;
}
.brbl4 { 
    -moz-border-radius-bottomleft : 4px;
    border-radius-bottomleft : 4px;
    -webkit-border-bottom-left-radius : 4px;
}
.brbr4 { 
    -moz-border-radius-bottomright : 4px;
    border-radius-bottomright : 4px;
    -webkit-border-bottom-right-radius : 4px;
}
.brtl5 { 
    -moz-border-radius-topleft : 5px;
    border-radius-topleft : 5px;
    -webkit-border-top-left-radius : 5px;
}
.brtr5 { 
    -moz-border-radius-topright : 5px;
    border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
}
.brbl5 { 
    -moz-border-radius-bottomleft : 5px;
    border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
}
.brbr5 { 
    -moz-border-radius-bottomright : 5px;
    border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;
}
.br2 { 
    -moz-border-radius : 2px;
    border-radius : 2px;
    -webkit-border-radius : 2px;
}
.br4 { 
    -moz-border-radius : 4px;
    border-radius : 4px;
    -webkit-border-radius : 4px;
}
.br5 { 
    -moz-border-radius : 5px;
    border-radius : 5px;
    -webkit-border-radius : 5px;
}

/* List */
.lstnone { list-style-type: none }

/* formating */
.wsnowrap { white-space : nowrap; }
.wspre    { white-space : pre; }

/* Highligting */
.hoverhighlight:hover { background-color : #F2F2F2 }

/* ---------------- Layouts and element classes ---------------- */

.lclear { clear : left }
.rclear { clear : right }
.bclear { clear : both }

.posr   { position : relative; }
.posa   { position : absolute; }
.poss   { position : static; }
.floatr { float : right }
.floatl { float : left }
.floatn { float : none }
.overh  { overflow : hidden }
.overs  { overflow : scroll }
.overa  { overflow : auto }

.z100   { z-index : 100;}
.z99    { z-index : 99;}

body    {
    background-color : black;
}

.onepxbrdr {
}

.opczero {
    opacity: 0;
    filter: alpha(opacity = 0);
    zoom: 1;
}

div.quote {
   background: transparent url(/quote.png) no-repeat scroll top left;
}

.galltitle {
    height : 101px; /* Accounting for border-bottom */
    font-size : small;
    font-weight : bold;
    color : crimson;
    text-align : right;
    vertical-align : middle;
}

/* -------------------- Elements --------------------- */
#hdrlogo {
    background: url(/headerbg.jpg) 0 0;
    width: 175px; height: 175px;
}
#hdr {
    background: url(/headerbg.jpg) -175px -16px;
    width: 825px; height: 143px; margin-left: 175px; display: block;
}
div.features {
    background: url(/headerbg.jpg) -1000px -71px;
    width: 101px; height: 32px;
}
div.documentation {
    background: url(/headerbg.jpg) -1101px -71px;
    width: 162px; height: 32px;
    
}
div.gallery {
    background: url(/headerbg.jpg) -1263px -71px;
    width: 103px; height: 32px;
    
}
div.pricing {
    background: url(/headerbg.jpg) -1366px -71px;
    width: 106px; height: 32px;
    
}
div.demo {
    background: url(/headerbg.jpg) -1472px -71px;
    width: 95px; height: 32px;
    
}
div.contact {
    background: url(/headerbg.jpg) -1567px -71px;
    width: 258px; height: 32px;
    
}

#tblmfeature {
    background: transparent url(/headerbg.jpg) -1825px -71px;
    height: 32px; width: 101px;
}
#tblmdocumnt {
    background: transparent url(/headerbg.jpg) -1926px -71px;
    height: 32px; width: 162px;
}
#tblmgallery {
    background: transparent url(/headerbg.jpg) -2088px -71px;
    height: 32px; width: 103px;
}
#tblmpricing {
    background: transparent url(/headerbg.jpg) -2191px -71px;
    height: 32px; width: 106px;
}
#tblmdemo {
    background: transparent url(/headerbg.jpg) -2297px -71px;
    height: 32px; width: 95px;
}
#tblmcontact {
    background: transparent url(/headerbg.jpg) -2392px -71px;
    height: 32px; width: 258px;
}

div.download {
    background: url(/images.png) 0 0;
    width: 154px; height: 60px;
    margin-left: 105px;
}

#features {
    margin: 0px 5px 0px 10px;
    padding: 0px 0 5px 0px;
}
.fblock {
    background-color: #8db894;
    color: #f1f1f1;
    padding : 2px 0px 3px 5px;
    text-shadow: 1px 1px 1px #000;
    cursor : pointer;
}
.fblock:hover {
    background: transparent url(/featuresgrad.png) repeat-x scroll top left;
}
.fbproject, .fbdoc, .fbticket, .fbreview, .fbvcs, .fbappint, .fbmisc {
    /*background-image: url(/images.png);
    background-position: -154px -18px;*/
}
.fbproject {
    background-image: url(/images.png);
    background-position: -194px -18px;
}
.fbdoc {
    background-image: url(/images.png);
    background-position: -218px -18px;
}
.fbticket {
    background-image: url(/images.png);
    background-position: -242px -18px;
}
.fbreview {
    background-image: url(/images.png);
    background-position: -266px -18px;
}
.fbvcs {
    background-image: url(/images.png);
    background-position: -290px -18px;
}
.fbappint {
    background-image: url(/images.png);
    background-position: -314px -18px;
}
.fbmisc {
    background-image: url(/images.png);
    background-position: -338px -18px;
}

#features ul {
    padding : 0px;
    background-color: transparent ;
    margin: 0px;
    display : none;
    border-left: 5px solid #8db894;
    border-right: 5px solid #8db894;
}
#features li {
    font-size: small;
    padding-left: 20px;
    list-style : none;
    background: transparent url(/bullet_go.png) no-repeat scroll top left;
    margin-left : 10px;
}
#features li:hover {
}

.zetadoc {
    font-family : arial,sans-serif;
    font-size : 83%;
}
.zetadoc h1, .zetadoc h2, .zetadoc h3, .zetadoc h4, .zetadoc h5 {
    color : crimson;
}
.zetadoc img {
    max-width : 700px;
}
#titlecol ul {
    padding-left: 5px;
}
#titlecol li {
    font-size: small;
    list-style-type: none;
    text-align : right;
}

#zenofzeta p {
    margin : 5px 5px 5px 5px;
}

#sitemap {
    background: transparent url(/bgsitemap.png) repeat-x scroll top left;
}
#sitemap a {
    color: #ccf8cc;
    text-decoration: none;
    padding : 5px 3px 1px 0px;
    /*border-bottom : 1px dotted #ccf8cc;*/
}
#sitemap a:hover {
    color: white;
}

div.sociallink {
    font-weight : normal;
    font-size : small;
    opacity: 0.80;
    filter: alpha(opacity = 0.80);
    zoom: 1;
}
a.sociallink {
    text-decoration : none;
    color : gray;
    padding : 5px 5px 3px 4px;
    margin-right : 5px;
    border : 1px solid #888888;
    -moz-border-radius : 4px;
    border-radius : 4px;
    -webkit-border-radius : 4px;
}
a.sociallink img {
    margin-bottom: -2px;
}

.dwnldlinks {
    width : 10em;
    text-align : right;
    font-weight: bold;
    color: gray;
    font-style: italic;
}

.imgcc {
   background: transparent url(/creditcards.png) no-repeat scroll top right;
   height: 2em;
}


/******* Combining file dz/public/highslide/highslide.css *********/
/**
* @file: highslide.css 
* @version: 4.1.8
*/
.highslide-container div {
	font-family: Verdana, Helvetica;
	font-size: 10pt;
}
.highslide-container table {
	background: none;
}
.highslide {
	outline: none;
	text-decoration: none;
}
.highslide img {
	border: 2px solid silver;
}
.highslide:hover img {
	border-color: gray;
}
.highslide-active-anchor img {
	visibility: hidden;
}
.highslide-gallery .highslide-active-anchor img {
	border-color: black;
	visibility: visible;
	cursor: default;
}
.highslide-image {
	border-width: 2px;
	border-style: solid;
	border-color: white;
	background: gray;
}
.highslide-wrapper, .highslide-outline {
	background: white;
}
.glossy-dark {
	background: #111;
}

.highslide-image-blur {
}
.highslide-number {
	font-weight: bold;
	color: gray;
	font-size: .9em;
}
.highslide-caption {
	display: none;
	font-size: 1em;
	padding: 5px;
	/*background: white;*/
}
.highslide-heading {
	display: none;
	font-weight: bold;
	margin: 0.4em;
}
.highslide-dimming {
	position: absolute;
	background: black;
}
a.highslide-full-expand {
   background: url(graphics/fullexpand.gif) no-repeat;
   display: block;
   margin: 0 10px 10px 0;
   width: 34px;
   height: 34px;
}
.highslide-loading {
	display: block;
	color: black;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	padding-left: 22px;
	background-image: url(graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
	padding: 2px;
	color: silver;
	text-decoration: none;
	font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
	color: white;
	background-color: gray;
}
.highslide-move, .highslide-move * {
	cursor: move;
}

.highslide-viewport {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: none;
	left: 0;
	top: 0;
}
.highslide-overlay {
	display: none;
}
.hidden-container {
	display: none;
}
/* Example of a semitransparent, offset closebutton */
.closebutton {
	position: relative;
	top: -15px;
	left: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(graphics/close.png);
	/* NOTE! For IE6, you also need to update the highslide-ie6.css file. */
}

/*****************************************************************************/
/* Thumbnail boxes for the galleries.                                        */
/* Remove these if you are not using a gallery.                              */
/*****************************************************************************/
.highslide-gallery ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.highslide-gallery ul li {
	display: block;
	position: relative;
	float: left;
	width: 106px;
	height: 106px;
	border: 1px solid silver;
	background: #ededed;
	margin: 2px;
	line-height: 0;
	overflow: hidden;
}
.highslide-gallery ul a {
	position: absolute;
	top: 50%;
	left: 50%;
}
.highslide-gallery ul img {
 	position: relative;
	top: -50%;
	left: -50%;
}
html>/**/body .highslide-gallery ul li {
	display: table;
	text-align: center;
}
html>/**/body .highslide-gallery ul li {
	text-align: center;
}
html>/**/body .highslide-gallery ul a {
	position: static;
	display: table-cell;
	vertical-align: middle;
}
html>/**/body .highslide-gallery ul img {
	position: static;
}

/*****************************************************************************/
/* Controls for the galleries.											     */
/* Remove these if you are not using a gallery							     */
/*****************************************************************************/
.highslide-controls {
	width: 195px;
	height: 40px;
	background: url(graphics/controlbar-white.gif) 0 -90px no-repeat;
	margin: 20px 15px 10px 0;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
	height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: url(graphics/controlbar-white.gif) right -90px no-repeat;

}
.highslide-controls li {
	float: left;
	padding: 5px 0;
	margin:0;
	list-style: none;
}
.highslide-controls a {
	background-image: url(graphics/controlbar-white.gif);
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	outline: none;
}
.highslide-controls a.disabled {
	cursor: default;
}
.highslide-controls a.disabled span {
	cursor: default;
}
.highslide-controls a span {
	/* hide the text for these graphic buttons */
	display: none;
	cursor: pointer;
}


/* The CSS sprites for the controlbar - see http://www.google.com/search?q=css+sprites */
.highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.highslide-controls .highslide-previous a:hover {
	background-position: 0 -30px;
}
.highslide-controls .highslide-previous a.disabled {
	background-position: 0 -60px !important;
}
.highslide-controls .highslide-play a {
	background-position: -30px 0;
}
.highslide-controls .highslide-play a:hover {
	background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
	background-position: -60px 0;
}
.highslide-controls .highslide-pause a:hover {
	background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
	background-position: -90px 0;
}
.highslide-controls .highslide-next a:hover {
	background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
	background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
	background-position: -120px 0;
}
.highslide-controls .highslide-move a:hover {
	background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
	background-position: -150px 0;
}
.highslide-controls .highslide-full-expand a:hover {
	background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
	background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
	background-position: -180px 0;
}
.highslide-controls .highslide-close a:hover {
	background-position: -180px -30px;
}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
.highslide-maincontent {
	display: none;
}
.highslide-html {
	background-color: white;
}
.highslide-html-content {
	display: none;
	width: 400px;
	padding: 0 5px 5px 5px;
}
.highslide-header {
	padding-bottom: 5px;
}
.highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-header a:hover {
	color: black;
}
.highslide-header .highslide-move a {
	cursor: move;
}
.highslide-footer {
	height: 16px;
}
.highslide-footer .highslide-resize {
	display: block;
	float: right;
	margin-top: 5px;
	height: 11px;
	width: 11px;
	background: url(graphics/resize.gif) no-repeat;
}
.highslide-footer .highslide-resize span {
	display: none;
}
.highslide-body {
}
.highslide-resize {
	cursor: nw-resize;
}

/*****************************************************************************/
/* Styles for the Individual wrapper class names.							 */
/* See www.highslide.com/ref/hs.wrapperClassName							 */
/* You can safely remove the class name themes you don't use				 */
/*****************************************************************************/

/* hs.wrapperClassName = 'draggable-header' */
.draggable-header .highslide-header {
	height: 18px;
	border-bottom: 1px solid #dddddd;
}
.draggable-header .highslide-heading {
	position: absolute;
	margin: 2px 0.4em;
}

.draggable-header .highslide-header .highslide-move {
	cursor: move;
	display: block;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.draggable-header .highslide-header .highslide-move * {
	display: none;
}
.draggable-header .highslide-header .highslide-close {
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 5;
	padding: 0;
}
.draggable-header .highslide-header .highslide-close a {
	display: block;
	height: 16px;
	width: 16px;
	background-image: url(graphics/closeX.png);
}
.draggable-header .highslide-header .highslide-close a:hover {
	background-position: 0 16px;
}
.draggable-header .highslide-header .highslide-close span {
	display: none;
}
.draggable-header .highslide-maincontent {
	padding-top: 1em;
}

/* hs.wrapperClassName = 'titlebar' */
.titlebar .highslide-header {
	height: 18px;
	border-bottom: 1px solid #dddddd;
}
.titlebar .highslide-heading {
	position: absolute;
	width: 90%;
	margin: 1px 0 1px 5px;
	color: #666666;
}

.titlebar .highslide-header .highslide-move {
	cursor: move;
	display: block;
	height: 16px;
	position: absolute;
	right: 24px;
	top: 0;
	width: 100%;
	z-index: 1;
}
.titlebar .highslide-header .highslide-move * {
	display: none;
}
.titlebar .highslide-header li {
	position: relative;
	top: 3px;
	z-index: 2;
	padding: 0 0 0 1em;
}
.titlebar .highslide-maincontent {
	padding-top: 1em;
}

/* hs.wrapperClassName = 'no-footer' */
.no-footer .highslide-footer {
	display: none;
}

/* hs.wrapperClassName = 'wide-border' */
.wide-border {
	background: white;
}
.wide-border .highslide-image {
	border-width: 10px;
}
.wide-border .highslide-caption {
	padding: 0 10px 10px 10px;
}

/* hs.wrapperClassName = 'borderless' */
.borderless .highslide-image {
	border: none;
}
.borderless .highslide-caption {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background: silver;
}

/* hs.wrapperClassName = 'outer-glow' */
.outer-glow {
	background: #444;
}
.outer-glow .highslide-image {
	border: 5px solid #444444;
}
.outer-glow .highslide-caption {
	border: 5px solid #444444;
	border-top: none;
	padding: 5px;
	background-color: gray;
}

/* hs.wrapperClassName = 'colored-border' */
.colored-border {
	background: white;
}
.colored-border .highslide-image {
	border: 2px solid green;
}
.colored-border .highslide-caption {
	border: 2px solid green;
	border-top: none;
}

/* hs.wrapperClassName = 'dark' */
.dark {
	background: #111;
}
.dark .highslide-image {
	border-color: black black #202020 black;
	background: gray;
}
.dark .highslide-caption {
	color: white;
	background: #111;
}
.dark .highslide-controls,
.dark .highslide-controls ul,
.dark .highslide-controls a {
	background-image: url(graphics/controlbar-black-border.gif);
}

/* hs.wrapperClassName = 'floating-caption' */
.floating-caption .highslide-caption {
	position: absolute;
	padding: 1em 0 0 0;
	background: none;
	color: white;
	border: none;
	font-weight: bold;
}

/* hs.wrapperClassName = 'controls-in-heading' */
.controls-in-heading .highslide-heading {
	color: gray;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	cursor: default;
	padding: 0 0 0 22px;
	margin: 0;
	background: url(graphics/icon.gif) no-repeat 0 1px;
}
.controls-in-heading .highslide-controls {
	width: 105px;
	height: 20px;
	position: relative;
	margin: 0;
	top: -23px;
	left: 7px;
	background: none;
}
.controls-in-heading .highslide-controls ul {
	position: static;
	height: 20px;
	background: none;
}
.controls-in-heading .highslide-controls li {
	padding: 0;
}
.controls-in-heading .highslide-controls a {
	background-image: url(graphics/controlbar-white-small.gif);
	height: 20px;
	width: 20px;
}

.controls-in-heading .highslide-controls .highslide-move {
	display: none;
}

.controls-in-heading .highslide-controls .highslide-previous a {
	background-position: 0 0;
}
.controls-in-heading .highslide-controls .highslide-previous a:hover {
	background-position: 0 -20px;
}
.controls-in-heading .highslide-controls .highslide-previous a.disabled {
	background-position: 0 -40px !important;
}
.controls-in-heading .highslide-controls .highslide-play a {
	background-position: -20px 0;
}
.controls-in-heading .highslide-controls .highslide-play a:hover {
	background-position: -20px -20px;
}
.controls-in-heading .highslide-controls .highslide-play a.disabled {
	background-position: -20px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-pause a {
	background-position: -40px 0;
}
.controls-in-heading .highslide-controls .highslide-pause a:hover {
	background-position: -40px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a {
	background-position: -60px 0;
}
.controls-in-heading .highslide-controls .highslide-next a:hover {
	background-position: -60px -20px;
}
.controls-in-heading .highslide-controls .highslide-next a.disabled {
	background-position: -60px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-full-expand a {
	background-position: -100px 0;
}
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {
	background-position: -100px -20px;
}
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {
	background-position: -100px -40px !important;
}
.controls-in-heading .highslide-controls .highslide-close a {
	background-position: -120px 0;
}
.controls-in-heading .highslide-controls .highslide-close a:hover {
	background-position: -120px -20px;
}

/*****************************************************************************/
/* Styles for text based controls.						                     */
/* You can safely remove this if you don't use text based controls			 */
/*****************************************************************************/

.text-controls .highslide-controls {
	width: auto;
	height: auto;
	margin: 0;
	text-align: center;
	background: none;
}
.text-controls ul {
	position: static;
	background: none;
	height: auto;
	left: 0;
}
.text-controls .highslide-move {
	display: none;
}
.text-controls li {
    background-image: url(graphics/controlbar-text-buttons.png);
	background-position: right top !important;
	padding: 0;
	margin-left: 15px;
	display: block;
	width: auto;
}
.text-controls a {
    background: url(graphics/controlbar-text-buttons.png) no-repeat;
    background-position: left top !important;
    position: relative;
    left: -10px;
	display: block;
	width: auto;
	height: auto;
	text-decoration: none !important;
}
.text-controls a span {
	background: url(graphics/controlbar-text-buttons.png) no-repeat;
    margin: 1px 2px 1px 10px;
	display: block;
    min-width: 4em;
    height: 18px;
    line-height: 18px;
	padding: 1px 0 1px 18px;
    color: #333;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.text-controls .highslide-next {
	margin-right: 1em;
}
.text-controls .highslide-full-expand a span {
	min-width: 0;
	margin: 1px 0;
	padding: 1px 0 1px 10px;
}
.text-controls .highslide-close a span {
	min-width: 0;
}
.text-controls a:hover span {
	color: black;
}
.text-controls a.disabled span {
	color: #999;
}

.text-controls .highslide-previous span {
	background-position: 0 -40px;
}
.text-controls .highslide-previous a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-previous a.disabled span {
	background-position: 0 -140px;
}
.text-controls .highslide-play span {
	background-position: 0 -60px;
}
.text-controls .highslide-play a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-play a.disabled span {
	background-position: 0 -160px;
}
.text-controls .highslide-pause span {
	background-position: 0 -80px;
}
.text-controls .highslide-next span {
	background-position: 0 -100px;
}
.text-controls .highslide-next a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-next a.disabled span {
	background-position: 0 -200px;
}
.text-controls .highslide-full-expand span {
	background: none;
}
.text-controls .highslide-full-expand a.disabled {
	background-position: left top !important;
}
.text-controls .highslide-close span {
	background-position: 0 -120px;
}


/*****************************************************************************/
/* Styles for the thumbstrip.							                     */
/* See www.highslide.com/ref/hs.addSlideshow    							 */
/* You can safely remove this if you don't use a thumbstrip 				 */
/*****************************************************************************/

.highslide-thumbstrip {
	height: 100%;
}
.highslide-thumbstrip div {
	overflow: hidden;
}
.highslide-thumbstrip table {
	position: relative;
	padding: 0;
	border-collapse: collapse;
}
.highslide-thumbstrip td {
	padding: 1px;
	/*text-align: center;*/
}
.highslide-thumbstrip a {
	outline: none;
}
.highslide-thumbstrip img {
	display: block;
	border: 1px solid gray;
	margin: 0 auto;
}
.highslide-thumbstrip .highslide-active-anchor img {
	visibility: visible;
}
.highslide-thumbstrip .highslide-marker {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 0;
	border-style: solid;
	border-color: transparent; /* change this to actual background color in highslide-ie6.css */
}
.highslide-thumbstrip-horizontal div {
	width: auto;
	/* width: 100% breaks in small strips in IE */
}
.highslide-thumbstrip-horizontal .highslide-scroll-up {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 25px;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-up div {
	margin-bottom: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) left center no-repeat;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down {
	display: none;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 25px;
	height: 42px;
}
.highslide-thumbstrip-horizontal .highslide-scroll-down div {
	margin-bottom: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) center right no-repeat;
	height: 42px;
}
.highslide-thumbstrip-horizontal table {
	margin: 2px 0 10px 0;
}
.highslide-viewport .highslide-thumbstrip-horizontal table {
	margin-left: 10px;
}
.highslide-thumbstrip-horizontal img {
	width: auto;
	height: 40px;
}
.highslide-thumbstrip-horizontal .highslide-marker {
	top: 47px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom: 6px solid gray;
}
.highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	margin-left: 10px;
}
.dark .highslide-thumbstrip-horizontal .highslide-marker, .highslide-viewport .highslide-thumbstrip-horizontal .highslide-marker {
	border-bottom-color: white !important;
}

.highslide-thumbstrip-vertical-overlay {
	overflow: hidden !important;
}
.highslide-thumbstrip-vertical div {
	height: 100%;
}
.highslide-thumbstrip-vertical a {
	display: block;
}
.highslide-thumbstrip-vertical .highslide-scroll-up {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-up div {
	margin-left: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) top center no-repeat;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
}
.highslide-thumbstrip-vertical .highslide-scroll-down div {
	margin-left: 10px;
	cursor: pointer;
	background: url(graphics/scrollarrows.png) bottom center no-repeat;
	height: 25px;
}
.highslide-thumbstrip-vertical table {
	margin: 10px 0 0 10px;
}
.highslide-thumbstrip-vertical img {
	max-width: 60px;
}
.highslide-thumbstrip-vertical .highslide-marker {
	left: 0;
	margin-top: 8px;
	border-top-width: 6px;
	border-bottom-width: 6px;
	border-left: 6px solid gray;
}
.dark .highslide-thumbstrip-vertical .highslide-marker, .highslide-viewport .highslide-thumbstrip-vertical .highslide-marker {
	border-left-color: white;
}

.highslide-viewport .highslide-thumbstrip-float {
	overflow: auto;
}
.highslide-thumbstrip-float ul {
	margin: 2px 0;
	padding: 0;
}
.highslide-thumbstrip-float li {
	display: block;
	height: 60px;
	margin: 0 2px;
	list-style: none;
	float: left;
}
.highslide-thumbstrip-float img {
	display: inline;
	border-color: silver;
	max-height: 56px;
}
.highslide-thumbstrip-float .highslide-active-anchor img {
	border-color: black;
}
.highslide-thumbstrip-float .highslide-scroll-up div, .highslide-thumbstrip-float .highslide-scroll-down div {
	display: none;
}
.highslide-thumbstrip-float .highslide-marker {
	display: none;
}