body{margin:0px !important; background-color:#2d58a5; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/dove_bg.gif); background-position:92% 0%; *background-position:94.5% 0%; _background-position:94% 0%; background-repeat:no-repeat;}
/* body{margin:0px !important; background:#2d58a5 url(http://l.yimg.com/a/i/in/promos/realbeauty/images/dove_bg.gif) no-repeat scroll top center;} */
/* #custom-doc {background-color:#ffffff;} */
.yui-t6 .yui-b {width:321px;}

#custom-doc {width:992px !important;}
#hd {width:992px;}
#bd{background-color:#ffffff; width:992px;}

#common-header #univ #univbot {background-color:#ffffff;}
/*#common-header #univ #univbot {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/top-white-curve3.jpg); background-repeat:no-repeat; height:80px;}*/
#common-header #univ #univbot {height:70px;}
/* -- */
#common-header #univ #univtop {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/layout-topcurve-4.jpg); background-repeat:no-repeat; background-position:100% 21px; height:20px;}
#common-header #univ #univtop #univnav a {color:#ffffff;}
#common-header #univ #univtop #univuserinfo a {color:#ffffff; padding-right:7px;}
#common-header #univ #univtop #univuserinfo em{color:#ffffff;}
#common-header #univ .delim1{background-image:url(http://l.yimg.com/a/i/in/promos/mday/images/sp.jpg); background-position:100% 2px; padding:0 0.8em 0 0.8em !important;}
#common-header #univ .delim2{background-image:url(http://l.yimg.com/a/i/in/promos/mday/images/sp.jpg); background-position:100% 2px;}
#common-header #univ .sgnout {background-position:100% 2px !important; padding:0 0.8em 0 0.8em !important; background-image:url(http://l.yimg.com/a/i/in/promos/mday/images/sp.jpg) !important; padding-left:1px !important;}
#common-header #univ .sgnin {background-position:100% 2px !important; padding:0 0.8em 0 0.8em !important; background-image:url(http://l.yimg.com/a/i/in/promos/mday/images/sp.jpg) !important;  padding-left:1px !important;}
#common-header #univ .sgnup {background-position:100% 2px !important; padding:0 0.8em 0 0.8em !important; background-image:url(http://l.yimg.com/a/i/in/promos/mday/images/sp.jpg) !important; background-repeat:no-repeat;}
#common-header #univusername {background-image:url(http://l.yimg.com/a/i/in/promos/mday/images/sp.jpg) !important; background-repeat:no-repeat; background-position:100% 2px; }
/*#common-header #univ #univuserinfo em span {background-image:none !important;}*/
#common-header #univ #univuserinfo span {background-image:none !important;}
#common-header #univ .delim {padding:0 0.6em 0 0.2em !important;}
/* #common-header #univ #univtop{background-image:none !important;} */
/* -- */
#common-header #univbot #header-image-id {width:460px;}
#common-header #univbot #header-image-id .image-block1 {float:left;padding-right:20px; padding-top:18px;}
#common-header #univbot #header-image-id .image-block2 {float:left; padding-top:17px;}
#common-header #univbot .image{padding:18px 0 0 25px !important;}
#common-header #univ form {border-left:0px solid; border-right:0px solid; padding:0.3em 0em 0em 0em !important;}
#common-header .srch {border-top:0px solid !important; border-bottom:0px solid !important; margin-right:24px !important; margin-top:17px !important;} 
#common-header #univ form .fieldset label{display:none;}
#common-header #univ .btn {margin: 0px 0 0 14px;}
#common-header #univsrchbtn {text-transform:inherit; height:19px; font-size:12px; font-weight:bold; font-family:Arial; color:#404040;}
#common-header .fieldset #univsrchquery {height:19px; width:13em; font-size:112%;padding-bottom:0px;}

#common-navigation {background-color:#ffffff; float:left; width:992px;}
#common-navigation .navmain {margin-left:20px; background-color:#ffffff; width:957px;}
#common-navigation .navmain .start {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-left.gif); width:4px; height:39px; background-repeat:no-repeat; float:left;}
#common-navigation .navmain .tabs {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-titable-1px.gif); height:39px; float:left; width:945px;}
/*#common-navigation .navmain .tabs .activetab {float:left;  height:39px; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/separator.gif); background-repeat:no-repeat; background-position:100% 7px; padding-top:8px;}
#common-navigation .navmain .tabs .activetab a{margin-left:35px;margin-right:35px; color:#ffffff; font-family:Arial; font-size:16px; text-decoration:none;}
#common-navigation .navmain .tabs .activetab a:hover{text-decoration:underline;} */
#common-navigation .navmain .tabs .tab a{margin-left:35px;margin-right:35px; color:#ffffff; font-family:Arial; font-size:16px; text-decoration:none; font-weight:bold;}
#common-navigation .navmain .tabs .tab a:hover{text-decoration:underline;}
#common-navigation .navmain .tabs .tab {float:left; height:28px; padding-top:11px; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/separator.gif); background-repeat:no-repeat; background-position:100% 7px;}
#common-navigation .navmain .end {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-right-4px.gif); width:4px; height:39px; background-repeat:no-repeat; float:left;}
#common-navigation .navmain .tabs .tabdove {float:left; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-titable-1px.gif); height:28px; padding-top:11px; width:330px; text-align:right; color:#ffffff; font-family:Arial; font-size:12px;}
#common-navigation .navmain .tabs .dovelogo {float:left; padding-top:5px; padding-left:10px; text-align:right;}
#common-navigation .navmain .tabs .dovelogo img{padding-top:1px;}
#common-navigation .navmain .activetabhome {height:15px; clear:both;background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-pointer.gif); background-repeat:no-repeat;  background-position:5.5% 0px;}
#common-navigation .navmain .activetabaspire {height:15px; clear:both;background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-pointer.gif); background-repeat:no-repeat;  background-position:31.5% 0px;}
#common-navigation .navmain .activetabwish {height:15px; clear:both;background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-pointer.gif); background-repeat:no-repeat;  background-position:44.5% 0px;} 
#common-navigation .navmain .activetabindulge {height:15px; clear:both;background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-pointer.gif); background-repeat:no-repeat;  background-position:18.5% 0px;} 


#common-nt1{background-color:#ffffff; clear:both; padding-left:20px; padding-bottom:10px;}
#common-nt1 .em-ep-module-ads-renderer {width:952px; overflow:hidden;}
#common-nt1 .bd table{margin:0px;}
#common-nt1 .bd table td {border:0px solid; padding:0px;}

#common-mrec {width:300px;}
#common-mrec img {padding:0px;}
#common-mrec .hd {display:none;}
#common-mrec .em-ep-generic-list-vertical {padding:0px;}
#common-mrec .bd {border:0px solid; padding:0px;}
#common-mrec .bd ul li {list-style-type:none;}
#common-mrec .bd ul li h4{display:none;}
#common-mrec .bd ul li .image{display:none;}
/*#common-mrec .bd ul li p{display:none;} */ 
#common-mrec .ft {display:none;}
#common-mrec .bd ul .n1 {display:none;}
#common-mrec .bd ul .n2 {/*padding-top:12px;*/ float:left;}

#common-lrec table{margin:0px;}
#common-lrec .bd table td {border:0px solid; padding:0px;}


#common-footer {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/layout-bottomcurve.jpg); background-repeat:no-repeat; height:80px;}
#common-footer div {padding-top:30px; text-align:center; color:#ffffff; font-size:12px; font-family:Arial; line-height:200%; padding-bottom:10px;}
#common-footer div a{text-align:center; color:#ffffff; font-size:12px; font-family:Arial; text-decoration:none;}
#common-footer div a:hover{text-align:center; color:#ffffff; font-size:12px; font-family:Arial; text-decoration:underline;}

#common-groups {float:left; width:300px;}
#common-groups-title {color:#082e62; font-size:22px; font-family:Arial; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/text-bottomline.jpg); background-repeat:no-repeat; background-position:1px 32px; height:35px;float:left;
 margin-top:4px;*margin-top:12px; width:299px; /* padding-left:5px; */} 
#common-groups-title div {float:left; position:relative; top:-4px;}
#common-groups .hd {display:none;}
#common-groups .em-ep-generic-list-orderedvertical {padding:0px;}
#common-groups .bd {padding:0px; border:0px solid; }
#common-groups .bd li {list-style-type:none;width:99%;}
#common-groups .bd li .counter{display:none; border-bottom:0px solid !important;}
#common-groups .bd li .container{border-bottom:0px solid !important; padding-top:30px;} 
#common-groups .bd li .container p{color:#3d3d3d; font-size:12px; font-family:Arial;} 
#common-groups .bd li.n2{padding-top:10px;} 
#common-groups .bd li img {border:1px solid #bdbdbd; padding:3px; height:53px; width:53px;}
#common-groups .bd li h4 {width:205px; float:left; padding-bottom:6px;}
#common-groups .bd li .container p{width:190px; float:left; *float:none; _float:left;}

#common-groups .bd li h4 a:hover{font-family:Arial; font-size:16px; color:#143d77; font-weight:normal;}
#common-groups .bd li h4 a {font-family:Arial; font-size:16px; color:#143d77; font-weight:normal; }
#common-groups .bd li p a{font-family:Arial; font-size:12px; color:#143d77; font-weight:normal; text-decoration:none; cursor:pointer; padding-left:17px; float:left;}
#common-groups .bd li p a:hover{font-family:Arial; font-size:12px; color:#143d77; font-weight:normal; text-decoration:underline !important; padding-left:17px; float:left;}
#common-groups .bd li p span{float:left; text-align:left; background-image:url(http://l.yimg.com/t/i/in/promos/realbeauty/2/homepage-aswers-btn.gif); background-repeat:no-repeat; margin-top:10px;}
#common-groups .bd ul li .image {padding:0px 10px 0 0; height:63px;}
#common-groups .bd li .even{background:none;}

#common-poll {width:300px; padding-top:12px; _padding-top:13px;float:left;}
#common-poll .em-ep-generic-list-horizontal {padding:0px;}
#common-poll .em-ep-generic-list-horizontal .hd {font-size:26px; font-family:Arial; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/text-bottomline.jpg); background-repeat:no-repeat; background-position:0% 32px; height:35px;}
#common-poll .em-ep-generic-list-horizontal .hd h3{width:300px; padding:0px; font-size:22px; font-family:Arial; color:#082e62; border:0px solid; font-weight:normal;}
#common-poll .em-ep-generic-list-horizontal .hd h3 span {display:none;}
#common-poll .em-ep-generic-list-horizontal .bd{width:300px; padding:0px; border:0px solid;}
#common-poll .em-ep-generic-list-horizontal .bd .container{margin:0px;}
#common-poll .em-ep-generic-list-horizontal .bd .container .image{display:none;}

#track-code{font-size:0;background:#FFFFFF;}
#track-code img {padding:0;}




#hp-right-wishlist {margin-top:19px;background:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/homepage-whishlist-bkg.jpg);width:300px; height:329px; clear:both; float:left; background-repeat:no-repeat;}
#hp-right-wishlist .em-ep-generic-list-vertical {padding:0px;}
#hp-right-wishlist .hd {border:0px;}
/* #hp-right-wishlist .bd ul {background:url(http://l.yimg.com/t/i/in/promos/dove/insidepage-rightnav-module-tilable-300px.gif) repeat-y;background-position:left top;padding-left:10px;padding-top:15px;} */
#hp-right-wishlist .bd ul {background:url(http://l.yimg.com/t/i/in/promos/realbeauty/2/homepage-indulge-bottom-line.gif) no-repeat;background-position:left top;padding-left:10px;padding-top:15px;}
#hp-right-wishlist .bd {border:medium none !important;padding:0px no-repeat;background-position:bottom;}
#hp-right-wishlist .ft {border:medium none !important;padding:0px;padding-right:10px;padding-bottom:10px;padding-top:8px;}
#hp-right-wishlist .ft a{text-decoration:none;background:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/gray-arroy-pop.jpg) no-repeat;background-position:right;padding-right:20px;font-family:arial;font-size:12px; color: #143d77;font-weight:normal;}
#hp-right-wishlist .ft a:hover{text-decoration:underline;}
#hp-right-wishlist .hd h3{font-family:arial;font-size:22px;color:#082e62;padding-top:6px;padding-left:10px;font-weight:normal;padding-bottom:5px;}
#hp-right-wishlist .bd ul li {list-style-type:none;border:0px;}
#hp-right-wishlist .bd ul li p {color:#3D3D3D;}
#hp-right-wishlist .bd ul li .container{width:282px;}
*html #hp-right-wishlist .bd ul li .container p{margin-top:-10px;}
*html #hp-right-wishlist .bd ul li.n1 .container p{margin-top:0px;}
#hp-right-wishlist .bd ul li .container h4 a, #hp-right-wishlist .bd ul li .container h5 a, #hp-indulge .bd ul li .container p {font-family:arial;font-size:12px;color:#3d3d3d; font-weight:normal;}
#hp-right-wishlist .bd ul li .container h5 {padding-bottom:10px;}
#hp-right-wishlist .bd ul li .container h4 a{float:left;background:transparent url(http://l.yimg.com/t/i/in/promos/realbeauty/6/wishlist-bullet.gif) no-repeat scroll 0 4px;padding-left:16px;}
#hp-right-wishlist .bd ul li.n1 .container h4 {display:none;}
#hp-right-wishlist .bd ul li .container .image{display:none;}
#hp-right-wishlist .bd ul li.n1 .container .image{display:block;}
#hp-right-wishlist .bd ul li.n1 .container .image img{padding:0px;}
#hp-right-wishlist .bd ul li.n1 .container p {font-size:14px;font-family:arial;color:#143d77;text-align:left;display:inline-block;}
#hp-right-wishlist .bd ul li .container p{text-align:right;padding-right:30px;font-size:12px;font-family:arial; padding-top:4px; float:left; /* margin-top:-15px;*/ width:275px;}
#hp-right-wishlist .bd ul li.n2 .container p{text-align:right;padding-right:30px;font-size:12px;font-family:arial; padding-top:4px; float:left; margin-top:-19px; width:275px;}
#hp-right-wishlist .bd ul li.n3 .container p{text-align:right;padding-right:30px;font-size:12px;font-family:arial; padding-top:4px; float:left; margin-top:-19px; width:275px;}

#hp-right-wishlist .bd ul li.n1 .container .image{width:98%;text-align:center;}
#hp-right-wishlist .bd ul li.n1 .container .image a:hover{text-decoration:none !important;}
#hp-right-wishlist .bd ul li.n2 .container {padding-top:15px;}
#hp-right-wishlist .bd ul li.n3 .container {padding-top:15px;}

#follow-id {clear:both; height:116px; *height:123px;}
#follow-id .hd{display:none;}
#follow-id .bd{border:0px solid; padding:0px;}
#follow-id ul li{list-style-type:none;}
#follow-id ul li .image {display:none;}
#follow-id ul li h4 {display:none;}
#follow-id ul .n1 .followtitle {font-size:22px; font-family:Arial; color:#082e62; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/text-bottomline.jpg); background-repeat:no-repeat; background-position:0 29px; height:33px;}
#follow-id ul .n1 #followid {padding-top:25px; float:left;}
#follow-id ul .n1 #followid img{padding:0px;}
#follow-id ul .n1 #followid .followitem {float:left; padding-right:40px;}
#follow-id .em-ep-generic-list-vertical {padding:0px;}
#follow-id .ft {display:none;}

#second-nav {background-color:#ffffff; float:left; width:992px;margin-top:-4px;padding-bottom:15px;}
#second-nav .secondnav {margin-left:20px; background-color:#ffffff; width:957px;}
#second-nav .secondnav .navlt {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/2010-09-03/secondnav-leftside-curve.gif); width:5px; height:39px; background-repeat:no-repeat; float:left;}
#second-nav .secondnav .navtabs {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/2010-09-03/secnav-tilable-1px.gif); height:39px; float:left; width:799px;}
#second-nav .secondnav .navtabs .navtab a{margin-left:27px;margin-right:23px; color:#ffffff; font-family:Arial; font-size:14px; text-decoration:none;}
#second-nav .secondnav .navtabs .navtab a:hover{text-decoration:underline;}
#second-nav .secondnav .navtabs .navtab {float:left; height:28px; padding-top:11px; background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/2010-09-03/secnav-separator.gif); background-repeat:no-repeat; background-position:100% 15px;}
#second-nav .secondnav .navrt {background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/2010-09-03/secondnav-rightside-birdimage.gif); width:149px; height:39px; background-repeat:no-repeat; float:left;}
#second-nav .secondnav .navtabs .navtab .selected-nav{color:#082e62;}
#second-nav .secondnav .navtabs .last-nav{background:none;}

#common-header #univbot .image {padding-left:24px !important;}

#common-navigation .navmain .activetabblogs {height:15px; clear:both;background-image:url(http://l.yimg.com/a/i/in/promos/realbeauty/images/nav-pointer.gif); background-repeat:no-repeat;  background-position:58.5% 0px;} 
#common-navigation .navmain .tabs .tabdove{width:215px;}

#dovelogo img{padding:1px 0px 0px 0px !important;}
#common-nt1 img {padding:0px;}
#common-lrec img {padding:0px;}
#common-groups-title{margin-top:0px;}
#follow-us{background:#FFFFFF;}
#follow-us .hd{display:none;}
#follow-us .bd{border:0px solid; padding:0px;}
#follow-us ul li{list-style-type:none;}
#follow-us .em-ep-generic-list-horizontal{padding:0;}
#follow-us .em-ep-generic-list-horizontal .container{padding:0;margin:0;width:100%;}
#follow-us .bd{width:100%;}
#follow-us .container .followtitle{float:left;font-size:12px;font-family:Arial;color:#1c3b6a;padding-right:7px;margin-top:-1px;}
#follow-us .container .followitem{width:15px;height:14px;float:left;padding-right:5px;}
#follow-us .container .follow {float:right;padding-bottom:9px;width:159px;}
#follow-us .em-ep-generic-list-horizontal img{padding:0;}
#follow-us .follow{margin-top:-9px;_padding-top:9px;}
#follow-us .container .image{display:none;}
#common-header #univ #univbot {height:64px;padding-bottom:0;_height:60px;}
#common-header #univbot img{padding:0;}
