.em-ep-mc-default {
	width:300px;
	padding:0;
    margin:0;
    border:0;
}
.em-ep-mc-default * {
	line-height:1.23em;
	padding:0;
    margin:0;
    border:0;
}
.em-ep-mc-default .mc-default-hd .title{
	font-family:verdana;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	padding:20px 0 12px 10px;
}
.em-ep-mc-default .mc-default-bd .article-list li{
	list-style-type:none;
	width:290px;
	clear:both;
}
.em-ep-mc-default .mc-default-bd .article-list li .container-left{
	float:left;
}
.em-ep-mc-default .mc-default-bd .article-list li .container-right{
	float:left;
}


.em-ep-mc-default .mc-default-bd .article-list li .cont{
	list-style-type:none;
	background:transparent url('http://l.yimg.com/a/i/in/promos/mcomments/bullet.gif') 10px 7px no-repeat;
	padding-left:25px;
	padding-bottom:13px;
	*background-position:10px 5px;
}
.em-ep-mc-default .mc-default-bd .article-list li a{
	font-family:Arial;
	font-size:11px;
	color:#003399;
	text-decoration:none;
}
.em-ep-mc-default .mc-default-bd .article-list li a:hover{
	text-decoration:underline;
}
.em-ep-mc-default .mc-default-bd .number {
	padding-left:10px;
	font-family:Arial;
	font-size:9px;
	color:#484747;
	display:inline-block;
}
.em-ep-mc-default .mc-default-bd .comments {
	padding-left:3px;
	font-family:Arial;
	font-size:9px;
	color:#484747;
	display:inline-block;
}
.em-ep-mc-default .mc-default-ft  {
	float:right;
}
.em-ep-mc-default .mc-default-ft .pagination li{
	list-style-type:none;
	float:left;
	font-family:Arial;
	font-weight:bold;
	font-size:11px;
	color:#666666;
	padding-left:5px;
}
.em-ep-mc-default .mc-default-ft .pagination {
	padding:5px 10px 10px 0;
}
.em-ep-mc-default .mc-default-ft .pagination li a{
	font-family:Arial;
	font-size:11px;
	color:#888888;
	text-decoration:none;
}
.em-ep-mc-default .mc-default-ft .pagination li a:hover{
	text-decoration:underline;
}
.em-ep-mc-default .mc-default-ft .view-more{
	text-align:right;
	padding:5px 10px 10px 0;
}
.em-ep-mc-default .mc-default-ft .view-more a{
	font-family:Arial;
	font-size:11px;
	color:#888888;
	text-decoration:none;
}
.em-ep-mc-default .mc-default-ft .view-more a:hover{
	text-decoration:underline;
}
.em-ep-mc-default .mc-default-ft .pagination li #prevPage{
	display:block;
	width:10px;
	height:15px;
	font-size:0;
	background:transparent url('http://l.yimg.com/a/i/in/promos/mcomments/left-arrow.png') 2px 0 no-repeat;
	margin-top:2px;
	cursor:pointer;
	*background-image:none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://l.yimg.com/a/i/in/promos/mcomments/left-arrow.png",sizingMethod="crop");
	*width:6px;
	text-indent:-9999px;
}
.em-ep-mc-default .mc-default-ft .pagination li #nextPage{
	display:block;
	width:10px;
	height:15px;
	font-size:0;
	background:transparent url('http://l.yimg.com/a/i/in/promos/mcomments/right-arrow.png') 2px 0 no-repeat;
	margin-top:2px;
	cursor:pointer;
	*background-image:none;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://l.yimg.com/a/i/in/promos/mcomments/right-arrow.png",sizingMethod="crop");
	text-indent:-9999px;
}
.em-ep-mc-default .mc-default-bd .msg{
	padding-left:10px;
}

.em-ep-mc-default .cont {width:300px;display:inline-block;}
.em-ep-mc-default .cont .link {float:left; width:200px;}
.em-ep-mc-default .cont .stars {width:90px;float:left;background:url(http://l.yimg.com/t/promos/ss/images/star-rating1.gif);background-position:2px 0px;background-repeat:repeat;height:18px;}
.em-ep-mc-default .stars .active {background:url(http://l.yimg.com/t/promos/ss/images/star-rating1.gif);background-position:0px 21px;background-repeat:repeat;height:18px;}
.em-ep-mc-default .stars span{display:inline-block;}
.em-ep-mc-default .stars .inactive {height:18px;}

