body {background:url(http://l.yimg.com/a/i/ww/eyc/v3/bg.gif) repeat-x top #c1d1da;text-align:left;}


a {color:#f60;}
.w {width:76em;min-width:960px;margin:0 auto;}

.w2 {width:55em;min-width:710px;margin:0 auto;}  /*the width of #main, for when #right is hidden*/
.w2_uh {width:66em;min-width:710px;margin:0 auto;}  /*the width of #main, for when #right is hidden*/


.clr {clear:both;}
.after:after { clear:both; content:'.'; display:block; height:0; visibility:hidden;}

#container {position:relative;/*margin-top:30px;*/zoom:1;}








#tabs {
	position:relative;
	z-index:100;
	
}
a.tab:hover {color:#222;}
a.tab {
	display:block;
	background:url(http://l.yimg.com/a/i/ww/eyc/v3/sprite2.gif) repeat-x #fefefe; 
	background-position:left -158px;
	float:left;
	text-align:center;
	color:#516a86;
	text-decoration:none;
	font:bold .85em arial;
	border-left:1px solid #e1e6ea;
	border-right:1px solid #fbfcfc;
	border-width:0 1px;
	
	margin-top:3px;
	height:22px;
	padding:8px 12px 0;
}


a.tab_selected {
	background-position: 0px 16px;
	background-color:#fbb04e;
	color:#fff;
	height:23px;
	padding-top:10px;
	margin-top:0px;
	border:1px solid #f89b29;
	border-bottom:0px;
	
	

}
a.tab_selected_first{
	
}
a.tab_last {
	margin-right:0px;
	border-right:1px solid #cecfca;
}
#tabbot {
	background:url(http://l.yimg.com/a/i/ww/eyc/v3/sprite2.gif) repeat-x;
	background-position:0px -16px;
	border:1px solid #fbb04e;
	border-width:0 1px 0 1px;
	height:13px;
	
}

#main {
	width:55em;min-width:710px;
	float:left;
	border-right:1px solid #b8b8b8;
	border-bottom:1px solid #b8b8b8;
	background-color:#fff;
	z-index:10;
	position:relative;
}
#tabsshadow {position:absolute;top:1px;height:36px;background-color:#c8c8c8;z-index:1;_margin-left:1px;visibility:hidden;}


#maincontent{margin:-1px 0 0 0px;}

#tabpick{position:absolute;bottom:-1px;_bottom:-2px;z-index:10;display:block;left:0;}




#listing {border:1px solid #fbb04e;border-top:none;min-height:220px;_height:220px;}

.use_mkt #listing{min-height:520px;_height:520px;}


#listingshell {width:54.4em;min-width:700px;margin:0px auto;zoom:1;}
.col {float:left;width:13.5em;min-width:172px;border-right:1px solid #f9dcba;}
.collast {border-right:none;}

.col ul {padding:0 15px;margin-bottom:15px;background:url(http://l.yimg.com/a/i/ww/eyc/icon.gif) no-repeat 4px 0px;}

.col ul.noindent {background-image:none;}
.collast ul {padding-right:5px;}
.col ul h4,.col ul li.h4  {color:#808080;font:bold 1.35em arial;letter-spacing:-1px;padding-left:14px;}
.col ul li {margin:2px 0;padding-left:15px;font-size:.925em}
.col ul li a,.col ul h4 a{color:#0C6794;text-decoration:none;}

.col ul li.h4 a {color:#808080;text-decoration:none;}

.col ul li a:hover {text-decoration:underline;}
.col ul h4 a {color:#808080;}
.col ul h4 a:hover {color:#666;}
.col ul h4 a:active {color:#333;}
.col ul.noindent li,.col ul.noindent h4 {padding-left:0;}

.marketing {margin-bottom:10px;}


#right{_padding-top:1px;_padding-left:1px;margin-top:47px;width:20.3em;min-width:234px;float:left;background-color:#e6e6e6;border-top:1px solid #fff;padding:0px 1px 1px 0;}
#rightcontent{margin:-1px 0 0 -1px;background-color:#fff;border:1px solid #c7d0d4;border-width:1px 1px 1px 0px;*border-top-width:2px;padding:12px;text-align:center;/*min-height:500px;_height:500px;*/}



#footer {padding:20px 0;text-align:left;font-size:.85em;color:#334;}



h2.world {color:#808080;font:bold 1.6em arial;letter-spacing:-1px;padding:8px 18px;padding-top:20px;}
#world_container {text-align:left;width:85%;padding:5px 0 20px 0;margin:0 auto;font-size:1.1em;zoom:1;}
#world_container #countries .col {width:31%;float:left;padding:0 5px;}
#world_container #countries .collast {border-right:none;}
#world_container .col ul li.h4 {font-size:1.2em;letter-spacing:normal;}

/*<?php if(BASIC_PAGE) print '.col{border-right:none;}';?>*/
.basic .col {border-right:none;}



#single_all{background-color:#eee;margin-bottom:5px;}
#single_all h2 {font:bold 1.5em arial;color:#666;margin:10px 15px;}
.col_holder {clear:both;padding:15px 0;zoom:1;}
.single_newrow {border-top:1px solid #ddd;}




#world_map{position:relative;background:url(http://l.yimg.com/a/i/ww/eyc/v3/map.gif) no-repeat;background-position:-86px -37px;height:350px;width:700px;margin:0 auto;border:1px solid #C1D1DA;}
#ro {text-align:left;position:absolute;z-index:16;display:none;background-color:#fff;}
#ro_content {background-color:#fff;border:1px solid #9e90ad;white-space:nowrap;padding: 4px;font:11px arial;color:#000;}
#ro_content img,#ro_content span {vertical-align:middle;}
#ro_content img {margin-right:3px;}
#ro_ptr {position:absolute;background:url(http://l.yimg.com/a/i/ww/eyc/v3/ro_ptr.png) no-repeat top left;height:9px; width:9px;left:0px;bottom:-8px;}
a.dot {display:block;background:url(http://l.yimg.com/a/i/ww/eyc/v3/world_dot.png) no-repeat top left;height:14px;width:14px;cursor:pointer;position:absolute;z-index:5;}



.basic{}

.ie6{}
.use_mkt{}
.rtl{}
.world{}



.ielt7 #ro_ptr {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://l.yimg.com/a/i/ww/eyc/v3/ro_ptr.png', sizingMethod='scale');}
.ielt7 a.dot {background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://l.yimg.com/a/i/ww/eyc/v3/world_dot.png', sizingMethod='crop');}
