/* featured */

div.mainContent div.featured {
	position: relative;
	width: 590px; }

div.mainContent div.featured div.items {
	position: relative;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 590px;
	height: 160px; }

div.mainContent div.featured div.items div.pane a {
	display: block;
	position: absolute;
	width: 140px;
	height: 160px; }

div.mainContent div.featured div.items div.pane a span {
	display: block;
	position: absolute;
	width: 140px;
	height: 160px;
	top: 0px;
	left: 0px; }

div.mainContent div.featured div.items div.pane a span.image {
	}

div.mainContent div.featured div.items div.pane a span.frame {
	background-image: url(../images/homepage/home-featured-frame.png?771);
	background-position: left top;
	background-repeat: no-repeat; }

div.mainContent div.featured div.paging {
	}


div.mainContent div.featured div.paging div {
	top: 63px;
}

