@charset "UTF-8";
/*-------------------------------------------
charset declaration must appear FIRST.
NO SPACES, LINES, TEXT SHOULD APPEAR BEFORE IT.
http://www.w3.org/International/questions/qa-css-charset
--------------------------------------------*/

/*-------------------------------------------
General Elements
--------------------------------------------*/

body {
  margin: 0px;

  /* colored background */
  background-image: url('/div/images/bg.png');
  background-repeat:repeat-y;
  background-position:center;
}

body, td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
}

/* all main content in this table */
table#main_content {
  width: 800px;
  border-collapse: collapse;
  /* align attribute in table HTML code centers table */
}

/* add padding to all content */
table#main_content td#main_content_id {
  padding: 0 10px 0 10px;
}

a:link {
  color: #183C72;
}

a:visited {
  color: #183C72;
}

a:hover {
  color: #0D5F96;
}

.MainHeading1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: #0D5F96;
  font-weight: bold;
  text-align: center;
}

.TeenHeading1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: #269cc0;
  font-weight: bold;
  text-align: center;
}

.SpecialHeading1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: #44098a;
  font-weight: bold;
  text-align: center;
}

.KidsHeading1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: #f67c0f;
  font-weight: bold;
  text-align: center;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

img {
  border: none;
}

.center {
  text-align: center;
}

.center_element {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

hr.halfwidth {
  width: 50%;
}

br.clearAll {
  clear: both;
}

.border {
  border: 1px solid black;
}

/*-------------------------------------------
CSS for closing notice on front page
--------------------------------------------*/

p.close_note {
	text-align: center;
	color: #F00;
	font-weight: bold;
}

/*-------------------------------------------
CSS for Find Us On social networks line
--------------------------------------------*/

span.finduson {
  vertical-align: middle;
}

span.finduson img {
  margin: 0 2px 0 2px;
}

/*-------------------------------------------
CSS for the jQuery Cycle Ticker (formerly Ajax Ticker )
--------------------------------------------*/
/* comment out line below if return to Ajax Ticker */
div.message {
	width: 100%;
	display: none;
}

/* Ajax ticker no longer used as of 3/28/11. Using jQuery cycle plugin. */

#ajaxticker1{
  width: 786px;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #fff;
  font: 0.9em Arial, Helvetica, sans-serif;
}

#ajaxticker1 div{ /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
          background-color: #fff;
}

#ajaxticker2{
  background-color: #fff;
  font: 0.9em Arial, Helvetica, sans-serif;
}

#ajaxticker2 div{ /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.someclass{ /*class to apply to your scroller(s) if desired*/
}

span.ajxtkr_feat { font-weight: bold; color: green; }
span.ajxtkr_alert { font-weight: bold; color: red; }

/*-------------------------------------------
Header & Search Box
--------------------------------------------*/

td.askLogoBG_main {
  background-image:url('/div/images/logo_ipl2c.jpg');
  background-repeat:repeat-x;
}

td.askLogoBG_RbS {
  background-image:url('/div/images/logo_subjectc.jpg');
  background-repeat:repeat-x;
}

td.askLogoBG_news {
  background-image:url('/div/images/logo_newsc.jpg');
  background-repeat:repeat-x;
}

td.askLogoBG_spec {
  background-image:url('/div/images/logo_specialc.jpg');
  background-repeat:repeat-x;
}

td.askLogoBG_kids {
  background-image:url('/div/images/logo_kidc.jpg');
  background-repeat:repeat-x;
}

td.askLogoBG_teens {
  background-image:url('/div/images/logo_teenc.jpg');
  background-repeat:repeat-x;
}

div#askButtonDiv {
  margin-top: 22px;
}

.askButton {
  display: block;  
  width: 120px;
  height: 151px;
  background: url('/div/images/ask/ask.png') bottom;
  text-indent: -99999px;
  behavior: url('/styles/iepngfix.htc');
  cursor:pointer;
  
}

.askButton:hover {
  background: url('/div/images/ask/ask.png') bottom;
  background-position: 0 0;
  behavior: url('/styles/iepngfix.htc');
}

/* update */
#key_input {
  width:330px;
  height:22px;
  font-size: 1.3em;
  color: #666666;
}

#search_left {
  background-image:url('/div/images/ask/searchbox_left.png');
  background-repeat:no-repeat;
  background-position:right;
  border:0px;
  padding:0px;
}

#search_right {
  background-image:url('/div/images/ask/searchbox_right.png');
  background-repeat:no-repeat;
  background-position:left;
  border:0px;
  padding:0px;
}

td#search_center {
  background-image:url('/div/images/ask/searchbox_center.png');
  background-repeat:repeat-x;
  border:0px;
  padding:0px;
}

p#choices {
  font-size:0.8em;
  margin: 4px 0 0 0;
  color:#1c2224;
}

select.dropdown {
  font-size:x-small;
  vertical-align: middle;
  color:#1c2224;
  width:100px;
  padding: 0px;
  background-color:#F0C24A;
  border:0px;
  margin:0px;
  height:17px;
  overflow: hidden;
}

.spacing {
   margin-top: 7px;
}

.tertiaryspacing {
  vertical-align: middle;
  margin: 8px;
}

.mainspacing {
  margin: 16px;
  vertical-align: middle;
}

.searchbox {
  width: 340px;
  font-size: 14px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_news {
  width: 185px;
  font-size:14px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_kids {
  width: 300px;
  font-size:14px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_teen {
  width: 290px;
  font-size:14px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_tertiary {
  width: 280px;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_news_tertiary {
  width: 105px;
  font-size:12px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_kids_tertiary {
  width: 220px;
  font-size:12px;
  vertical-align: middle;
  margin-right: 5px;
}

.searchbox_teen_tertiary {
  width: 210px;
  font-size:12px;
  vertical-align: middle;
  margin-right: 5px;
}

select.searchbox_tertMenu14 {
  font-size: 14px;
  margin-right: 5px;
  vertical-align: middle;
}

select.searchbox_tertMenu12 {
  font-size: 12px;
  margin-right: 5px;
  vertical-align: middle;
}
button#btnSearch {
  border: none;
  background-color: transparent;
  cursor:pointer;

}
.btnSearch {
  position:relative;
  margin:0px;
  padding:0px;
  top: 0px;
  right: -4px;
}

/*-------------------------------------------
Footer & Alerts
--------------------------------------------*/

.Footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #063263;
  font-weight: normal;
}
.Footer2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  color: #063263;
  font-weight: normal;
}
.Partners {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #1e4280;
  font-weight: bold;
}

/*-------------------------------------------
Search Results Pages
--------------------------------------------*/
.lightblue {
  color: #0D5F96;
  font-size: 14px;
  font-weight: bold;
}

.darkblue {
  color: #183C72;
  font-weight: bold;
  font-size: 14px;
}

.searchresultpages {
  margin: 0px 8px 0px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0px;
}

.searchresultpages a {
  padding: 0px 4px 0px 4px;
  margin: 0px;
}

.searchresultpages a#current, .searchresultpages a:hover {
  color: #0F74B8;
  font-weight: bold;
  text-decoration: none;
}

.searchresultnav a {
  text-decoration: none;
  font-size: 14px;
}

.searchresults {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #888888;
  margin: 5px 0px 5px 0px;
  padding: 0px 5px 0px 5px;
}

.searchresultscontainer {
  margin-top: 15px;
  margin-bottom: 5px;
}

.searchresults img {
  margin-left: 8px;
  vertical-align: middle;
}

.searchresults p#note {
  color: #888888;
  font-size: 11px;
  padding: 3px 0px 0px 0px;
  margin: 0px;
}

.searchresults p#number {
  font-size: 12px;
  color: #183C72;
  margin: 0px;
  padding: 0px;
}

.searchresults p#title {
  font-size: 14px;
  margin: 0px;
}

.searchresults p#descrip {
  font-size: 12px;
  margin: 0px;
  padding-top: 2px;
  width: 600px;
}

.searchresults p#url {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  color: #008000;
}

.searchtermhighlight {
  font-weight: bold;
}

/*-------------------------------------------
404 error page
--------------------------------------------*/

div#e404_ul_box {
  width: 500px;
  text-align: left;
}

/*-------------------------------------------
Special Collections Home Page
--------------------------------------------*/
.mostpopular, .mostpopular2 {
  width: 196px;
  text-align: center;
  margin: 2px;
}

.mostpopular a, .mostpopular2 a {
  display: block;
  border: 1px solid #fff;
  height: 84px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.mostpopular a#color1:hover, .mostpopular a#color2:hover, .mostpopular a#color3:hover, .mostpopular a#color4:hover,
.mostpopular2 a#color1:hover, .mostpopular2 a#color2:hover, .mostpopular2 a#color3:hover, .mostpopular2 a#color4:hover 
{
  background-color: #0D5F96;
  border: 1px solid #0D5F96;
  text-decoration: none;
  cursor: pointer;
}

.mostpopular_title {
  height: 29px;
  display: block;
  text-align: left;
  font-weight: inherit;
  text-decoration: none;
}

.mostpopular_title2 {
  height: 20px;
  display: block;
  text-align: center;
  font-weight: inherit;
  text-decoration: none;
}

.mostpopular_title img {
  margin: 2px 5px 2px 2px;
  vertical-align: middle;
  border: 0px;
}

.mostpopular_descrip {
  padding: 2px;
  height: 60px;
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #000;

}

.mostpopular a#color1, .mostpopular2 a#color1 {
  background-color:#868686;
}

.mostpopular_descrip#color1 {
  background-color:#D7D7D7;
}

.mostpopular a#color2, .mostpopular2 a#color2 {
  background-color: #345134;
}

.mostpopular_descrip#color2 {
  background-color: #C1DDC1;
}

.mostpopular a#color3, .mostpopular2 a#color3 {
  background-color: #CC7A00;
}

.mostpopular_descrip#color3 {
  background-color: #E2BC8A;
}

.mostpopular a#color4, .mostpopular2 a#color4 {
  background-color: #A00000;
}

.mostpopular_descrip#color4 {
  background-color: #FFBBB7;
}

.specialcollection {
  width: 245px;
  height: 36px;
  vertical-align: middle;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
  background-image: url(/div/images/specialcollectionbg.gif);
  background-repeat: repeat-x;
}

.specialcollection2 {
  width: 245px;
  height: 18px;
  vertical-align: middle;
  text-align: left;
	text-indent: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
  background-image: url(/div/images/specialcollectionbg.gif);
  background-repeat: repeat-x;
}

.specialcollection img {
  vertical-align: middle;
  margin: 2px 6px 2px 3px;
}

.specialcollection a {
  height: 35px;
  display: block;
  color: #3C1A6B;
  text-decoration: none;
  border: 1px solid #fff;
}

.specialcollection a:hover {
  color: #0D5F96;
  border: 1px solid #0D5F96;
}

.specialheader {
  font: bold 16px Arial, Helvetica, sans-serif;
  color: #3C1A6B;
  text-align: left;
  margin-top: 6px;
  margin-bottom: 2px;
  text-indent: 10px;
}

/*-------------------------------------------
For Kids Homepage
--------------------------------------------*/
.kidsmessage {
  margin-bottom: 8px;
  padding: 3px 0px 3px 0px;
}

.kidsmessage p {
  font: bold 18px Arial, Helvetica, sans-serif;
  margin: 0px;
}

.kidsmessage p#small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  margin: 0px;
}

.kidsmessage a {
  color: #F98516;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.kidsmessage a:hover {
  color: #0D5F96;
  text-decoration: underline;
}

.kidscollection {
  padding: 1px 1px 1px 5px;
  margin-bottom: 1px;
  vertical-align: middle;
  font: bold 13px Arial, Helvetica, sans-serif;
  background-image: url(/div/images/kidscollectionbg.gif);
}

.kidscollection a {
  color: #F98516;
  text-decoration: none;
  display: block;
}

.kidscollection a:hover {
  color: #0D5F96;
  text-decoration: none;
  display: block;
}

.kidscollection img {
  margin-right: 3px;
  vertical-align: middle;
}

.kidHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.kidHeader a {
  color: #F98516;
  font-size: 14px;
  text-decoration: none;
}
.kidLinks a {
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
}

.kidLinks a:hover {
  color: #0D5F96;
  text-decoration: underline;
}

.kidHeader a:hover {
  color: #0D5F96;
  text-decoration: underline;
}
.kidsbottom {
  width: 300px;
  height: 30px;
  padding: 1px;
  margin: 4px;
  vertical-align: middle;
  font: bold 14px Arial, Helvetica, sans-serif;
}

.kidsbottom a {
  color: #F98516;
  text-decoration: none;
  display: block;
}

.kidsbottom a:hover {
  color: #0D5F96;
  text-decoration: none;
  display: block;
}

.kidsbottom img {
  margin-right: 3px;
  vertical-align: middle;
}

/*-------------------------------------------
CSS for Resources by Subject page
--------------------------------------------*/

.subjectheader_right, .subjectheader_left, .subjectheader_center {
  width: 378px;
  height: 41px;
  vertical-align: middle;
  padding: 4px;
  margin: 0;
}

.subjectheader_right {
  margin-left: 5px;
}

.subjectheader_left {
  margin-right: 5px;
}

.subjectheader_center p {
  padding-top: 15px;
}

.subjectheader_right img, .subjectheader_left img, .subjectheader_center img {
  float: left;
  padding: 4px 4px 0 4px;
  margin-right: 4px;
}

.mainsubjecthead {
  font: bold 16px Arial, Helvetica, sans-serif;
  margin: 0 0 4px 0;
  padding: 0;
}

.secsubjecthead {
  font: 14px Arial, Helvetica, sans-serif;
  padding: 0 0 0 55px;
  margin: 0;
}

.mainsubjecthead a, .secsubjecthead a {
  text-decoration: none;
}

.secsubjecthead a {
  color: #9E1128;
}

.mainsubjecthead a:hover, .secsubjecthead a:hover {
  color: #0D5F96;
  text-decoration: underline;
}

.mainsubjecthead1 {
  font: bold 14px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
/*-------------------------------------------
CSS for Error Handling
--------------------------------------------*/

ul.errors {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  margin: 5px;
}
li.errors {
  padding-top:1px;
}
li.errors:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-style:italic;
}
a.additionalhelp {
  z-index: 11;
  position: relative;
  margin-right: 2px;
  margin-bottom: 2px;
  float: right;
  /*bottom: 2px;
  right: 2px;*/
  z-index:9;
  font-style:normal;
  text-decoration:none;
  font-weight:normal;
  font-size:8pt;
  color:#fbd359;
}
#serror-1 {
  position:static;
  visibility: hidden;
  font-size: 14px;
  font-weight:bold;
  color:#fff;
  width: 450px;
  height: 0px;
  /* left: 300px; */
  top: 180px;
  left:30px;
  background-color: #1174b7;
  border: 3px solid #4a6695;
  padding: 5px 0px 10px 0px; 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  /* behavior: url(/css/border-radius.htc); */
  border-radius: 4px;
}
.tooltipcontainer {
  font-size: 7pt;
  margin-left: 3px;
}
#tooltip {
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 8pt;
  background-color: #fdc122;
  border: 0px;
  left: -300px;
  top: -300px;
  z-index: 10;
  overflow:hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  /* behavior: url(/css/border-radius.htc); */
  border-radius: 4px;
}
#tooltip-header {
  position: absolute;
  width: 194px;
  height: 15px;
  top: 2px;
  left: 2px;
  float: left;
  font-size: 9pt;
  background-color: #fee08a;
  border-top: 0px solid #fdc122;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #fdc122;
}
#tooltip-body {
  position: absolute;
  width: 194px;
  height: 90px;
  top: 19px;
  left: 2px;
  float: left;
  background-color: #eeeeee;
  border-top: 0px solid #fdc122;
  border-left: 1px solid #fdc122;
  border-right: 1px solid #fdc122;
  border-bottom: 1px solid #fdc122;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  /* behavior: url(/css/border-radius.htc); */
  border-radius: 4px;
}
/*-------------------------------------------
CSS for Help
--------------------------------------------*/
div.helpcontainer {
  position:relative;
  border: 0px solid #fdc122;
  background: #fff;
  width: 700px;
  max-height: 400px;

}
div.helplist {
  border: 1px solid #fdc122;
  background: #fff;
  width: 700px;
  margin-top: 25px;
  margin-bottom: 25px;
}
ul.tabs {
  margin: 1px 0 0 0;
  font-weight: bold;
  padding: 0;
  float: left;
  list-style: none;
  height: 22px;
  border-bottom: 1px solid #fdc122;
  border-left: 1px solid #fdc122;
  width: 100%;
}
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 21px;
  line-height: 21px;
  border: 1px solid #fdc122;
  border-left: none;
  margin-bottom: -1px; /*--Pull the list item down 1px--*/
  overflow: hidden;
  position: relative;
  background: #fde9b5;
}
ul.tabs li a {
  text-decoration: none;
  color: #183C72;
  display: block;
  font-size: 0.9em;
  padding: 0 20px;
  border: 1px solid #7d5d0b; /*--Gives the bevel look with a 1px white border inside the list item--*/
  outline: none;
}
ul.tabs li a:hover {
  background: #fdc224;
}
html ul.tabs li.active, html li.active a a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
background: #edf1f8;
border-bottom: 1px solid #edf1f8; /*--Makes the active tab look like it's connected with its content--*/
}
html ul.tabs li.active a, html li.active a a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
  background: #edf1f8;
  border-top: 1px outset #81adf8;
  border-left: 1px solid #edf1f8;
  border-right: 1px outset #81adf8;
  border-bottom: 0px solid #edf1f8; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
  margin-bottom: 10px;
  border: 1px solid #fdc122;
  border-top: none;
  overflow: hidden;
  max-height: 400px;
  clear: both;
  float: left; width: 100%;
  background: #edf1f8;
}
.tab_content {
  padding: 20px;
  font-size: 1.2em;
}
.tab_container h3 {
  font-size:1.0em;
  text-decoration: none;
  margin-top:0;
  color: #183C72;
  padding-left:2px;
  border-bottom: 2px inset #183C72;
  border-left: 2px inset #183C72;
}
.tab_container h3 a {
  text-decoration: none;
}
.tab_container h4 {
  font-size:0.8em;
  font-weight:bold;
  font-style:italic;
  margin:4px 0px 0px 25px;
  padding-left:2px;
  border-bottom: 0px solid #000;
}
.tab_container p {
  font-size:0.7em;
  margin-top:0;
  margin-left:25px;
  padding-left:2px;
}
