BODY, TD, P {FONT-SIZE: 11px;FONT-FAMILY: Verdana, Arial, helvetica}
#mainBody{background-image:url(http://cache1.allpostersimages.com/images/homepage/background.jpg);background-color:#FFFFFF;background-position:left top;background-repeat:repeat-x;margin:0;text-align:center;}
#mainBody.wide {background-image:url(http://cache1.allpostersimages.com/images/homepage/background.jpg);}
#pageContainer{text-align:left;width:1008px;margin-left:auto;margin-right:auto;background-color:#FFFFFF;}
#pageContainer.wide{ width: 1120px !important; }
/* .wide is for centering certain intl sites with long translations in the header */
A:hover {COLOR: #ff0000;}
.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear:both;}
.posterName {COLOR: #804000}
.posterAPNum {}
.posterPrice {}
.posterPriceStrike {font-family: "Times New Roman", Times, serif;}
.posterPriceReduced {COLOR: #cc3333;}
.heading1 {FONT-WEIGHT: 700}
.heading2 {FONT-WEIGHT: 700;FONT-SIZE: 13px}
.heading3 {FONT-WEIGHT: 700;FONT-SIZE: 15px}
.heading4 {FONT-WEIGHT: 400;FONT-SIZE: 19px}
.fontsize2 {FONT-SIZE: 13px}
.normal {FONT-SIZE: 11px}
ul.unordered {list-style-type: square;margin-left: 15px;padding-left: 15px;}
ul.unorderedNoMargin {list-style-type: square;margin-top: 0px;margin-left: 15px;padding-top: 0px;padding-left: 15px;}
.pageChosen {FONT-WEIGHT: 700;FONT-SIZE: 15px}
.copyright {FONT-SIZE: 9px}
.posterShips {COLOR: #036603;vertical-align: bottom; padding-bottom: 10px;}
.APDropDown {font-size: 11px;border-right: 1px solid #000000;border-top: 1px solid #000000;border-left: 1px solid #000000;border-bottom: 1px solid #000000;}
.APCItemTable {border-right: 2px solid #E7E7E7;border-top: 2px solid #E7E7E7;border-left: 2px solid #E7E7E7;border-bottom: 2px solid #E7E7E7;}
.ErrorMsg {color: #FF0000;}
.inputTextbox {border:solid 1px black;font-size:12px;}
.ColumnHeader {font-weight: bold; color: #111111; text-align: center; padding-bottom:3px;}
.SetTable {border: 1px solid #e7e7e7;}
.SetTitle {line-height:18px; font-weight: bold; padding-left: 4px;}
.SectionTable {border-right: 2px solid #E6E6E6;border-top: 2px solid #E6E6E6;border-left: 2px solid #E6E6E6;border-bottom: 2px solid #E6E6E6;}
.Item { cursor: pointer; color:blue; text-decoration:underline }
h1.postername {COLOR: #804000; font-size:11px;}
.space-between-boxes{HEIGHT: 7px}
.homepage_box{BORDER-RIGHT: #898e93 2px solid;BORDER-TOP: 0px;BORDER-LEFT: #898e93 2px solid;WIDTH: 466px;BORDER-BOTTOM: #898e93 2px solid;POSITION: relative}
.homepage_box A{COLOR: #000000}
.homepage_box A:hover{COLOR: #ff0000}
.homepage_box-top{BACKGROUND: #898e93;MARGIN-BOTTOM: 7px}
.homepage_box-content{PADDING-RIGHT: 3px;PADDING-LEFT: 10px;PADDING-BOTTOM: 7px;PADDING-TOP: 5px}
.homepage_box UL{PADDING-RIGHT: 0px;PADDING-LEFT: 0px;PADDING-BOTTOM: 0px;MARGIN: 2px 0px 0px;OVERFLOW: visible;PADDING-TOP: 0px;LIST-STYLE-TYPE: none} 
.homepage_box LI{PADDING-RIGHT: 0px;BACKGROUND-POSITION: 0px 5px;PADDING-LEFT: 10px;BACKGROUND-IMAGE: url(http://cache1.allpostersimages.com/Images/INTL/1/homepage/banners/bullet.gif);PADDING-BOTTOM: 2px;MARGIN: 0px;PADDING-TOP: 0px;BACKGROUND-REPEAT: no-repeat}
.homepage_box .listItemHeader{PADDING-LEFT: 0px;FONT-WEIGHT: bold;MARGIN-BOTTOM: 4px}
.column-middle{HEIGHT: 5px}
.FabFourTitle{FONT-WEIGHT: bold;COLOR: #000000;TEXT-DECORATION: underline}
.footerBoldLink{FONT-WEIGHT: bold;TEXT-DECORATION: underline}
.policyLink{FONT-WEIGHT: bold}
div.popoutercontainer {width:331px;border:1px solid #666666;}
div.poptopbar {width:331px;height:30px;background-color:#898E93;}
div.poptitle {	float:left;	font:bold 12px/12px Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;padding:9px 0px 5px 14px;}
div.closebox {	float:right;width:17px;	height:17px;padding:6px 7px 0px 0px;}
div.closebox a{display:block;width:17px;height:17px;line-height:17px;cursor:pointer;}
div.popmaincontainer{height:auto !important;height:165px;background-color:#E9ECEF;padding-bottom:15px;width:331px;}
div.poptxtbox {font-size:12px;color:#000000;padding:20px 10px 10px 15px;}
div.iconbox {float:left;width:51px;height:51px;padding:20px 0px 20px 27px}
div.poperrorbox {color:#FF0000;padding-left: 127px;}
div.formlabel {float:left;width:120px;	font-weight:bold;	color:#000000;text-align:right;padding:0px 5px 0px 0px;}
div.fieldbox {float:left;width:172px;padding-top:5px;}
div.popbtn {height:25px;border:1px solid #666666;}
div.btnlabel {float:left;height:18px;font-weight:bold;color:#FFFFFF;	text-align:center;cursor:pointer;padding:4px 0px 0px 0px;width:9em;}
div.btnlabel a{display:block;width:114px;height:18px;padding:7px 0px 0px 14px;cursor:pointer;color:#FFFFFF;text-decoration:none;text-align:center;}
div.btnarrow {float:right;width:14px;height:17px;cursor:pointer;padding-top:6px;}
div.btnarrow a{display:block;width:14px;height:25px;cursor:pointer;}
div.closetxt {width:200px;	font-weight:bold;color:#005CAC;text-align:center;margin-left:67px;cursor:pointer;text-decoration:underline;}
div.closetxt a{font-weight:bold;color:#005CAC;text-decoration:underline;}
div.divide {clear:both;}
div.btnorange {background-color:#DC5752;}
div.shppop {white-space: nowrap;}
div.lnk {cursor:pointer; color:blue; display:inline; text-decoration:underline;}
.cartseparator {border-bottom: solid #d5d8a9; border-width:1px;}
.savecartmodule { background-color: #E7EAF2; text-align: center; }
.cartitem {padding-left:2px;padding-top:5px;padding-bottom:5px;  width:100px; }
.tblhomepage
{margin-left:9px;margin-top:9px;}
.tblhomepagebml
{margin-left:9px;}
.holiday2010LongMsgContainer
{
	background-image:url("http://cache1.allpostersimages.com/images/holiday/APC_Holiday_Gift-Box-Full.png");
	background-position:25 50%;
	background-repeat:no-repeat;
	padding-left:65px;
	padding-top:5px;
	text-align:left;
}
.holiday2010NotArriveMsgContainer
{		
	padding-left:65px;
	padding-top:5px;
	padding-bottom:10px;
}
.holiday-shipping-green-date
{
	color:#089606;	
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bold;
	padding-left:0px;
}

.holiday-shipping-red
{
	color:#990000;	
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bold;
	padding-left:0px;	
}
.headerPointerCursor
{
	cursor:pointer;
}
.cellmaincontent{margin-left:auto;margin-right:auto;}
.leftNavContainer{ width:215px; min-height:400px; border-right: 1px solid #B1B1B0; border-bottom: 1px solid #B1B1B0; }
.leftNavAdjustment{margin-left:225px;}

/*Changes done for ATG-APC Recommendation*/
#recoRend{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:12px;color:#000000; }
.recoRendTitle{border-bottom:1px solid #DDDDDD; color: #677590;font-weight:bold;padding-bottom:5px;font-size:20px;}
#pdp .cs-rec, #upsell .cs-rec {float:left; width:186px;height:250px; #height:240px; text-align:center; display:inline;margin-left:8px;background:transparent url(http://cache1.allpostersimages.com/images/recRend/recBK2.jpg) no-repeat top center;}
#pdp img, #upsell img {border:0;margin:12px 12px 20px 12px;}
#pdp a, #upsell a {text-decoration:none;color:#666666;}
#pdp .cs-name, #upsell .cs-name {text-decoration:none;color:#000000;}
#pdp a span, #upsell a span {display:block; clear:both;}
#pdp .cs-dynPrice, #upsell .cs-dynPrice {color:#D12728;display:none;} 
#pdp .scroll-container {width: 617px; height:250px; #height:240px; overflow:hidden; float:left;top:8px;margin-bottom:10px;margin-left:28px;}
#pdp .scroll-button-left {background:transparent url(http://cache1.allpostersimages.com/images/homepage/scrollLeft.gif) no-repeat center center; width:27px; height:40px; display:inline; float:left; margin:70px 0px 0 0;position:relative;left:-8px;cursor:pointer;}
#pdp .scroll-button-right {background:transparent url(http://cache1.allpostersimages.com/images/homepage/scrollRight.gif) no-repeat center center; width:27px; height:40px; display:inline; float:right; margin:70px 0 0 0px;position:relative;left:8px;cursor:pointer;}
#pdp .dynCartButton, #upsell .dynCartButton, #pdp .dynCartPopButton, #upsell .dynCartPopButton {display:block; cursor:pointer;}
#pdp .dynCartImage, #upsell .dynCartImage {margin:0px;}
#upsell .scroll-container {width: 398px; height:250px; #height:240px; overflow:hidden; float:left;top:8px;margin-bottom:10px;margin-left:0px;}
#upsell .scroll-button-left {background:transparent url(http://cache1.allpostersimages.com/images/homepage/scrollLeft.gif) no-repeat center center; width:15px; height:40px; display:inline; float:left; margin:70px 0px 0 0;position:relative;left:-8px;cursor:pointer;}
#upsell .scroll-button-right {background:transparent url(http://cache1.allpostersimages.com/images/homepage/scrollRight.gif) no-repeat center center; width:15px; height:40px; display:inline; float:right; margin:70px 0 0 0px;position:relative;left:-8px;cursor:pointer;}
/*dialog */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000000; filter:alpha(Opacity=60); opacity: 0.6; -moz-opacity: 0.6; -khtml-opacity: 0.6;}
.ui-dialog { position: relative; width: 370px; }
.ui-dialog .ui-dialog-titlebar { position: relative; padding: 10px 35px 10px 15px;  }
.ui-dialog .ui-dialog-title { float: left;} 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; top:7px; right: 9px; width: 17px; height: 17px; text-decoration:none; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: 15px; _padding: 0px; background-color:#FFFFFF; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-widget-content{ border:1px solid #000000; }
.ui-dialog .ui-dialog-titlebar { background-color:#666666;  }
/*dialog*/

.dailog-hidden {display: none;}
.dialog-titlebar {position: relative; padding: 10px 35px 10px 15px;  background-color:#ffffff; border-bottom:1px solid #DDDDDD; color: #677590;font-weight:normal;padding-bottom:5px;font-size:20px;}
.dailog_ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.close-icon {background-image: url("http://cache1.allpostersimages.com/images/recRend/close.gif"); width:18px; height:18px; display: block; background-repeat: no-repeat; color:#000000; text-decoration:none; cursor:pointer;}
#addToCartDetailsTable tr td {padding:5px; text-align:center;}
.addToCartDetailsBold td { font-weight:bold;}
.addToCartDetailsSelected td {font-weight:bold;}
/*#addToCartDetailsTable .addToCartButton {background-image: url("http://cache1.allpostersimages.com/images/recRend/addtocart.gif"); cursor: pointer; font-size: 11px; font-weight: bold; padding: 8px; color:#ffffff; width:150px; margin-left:auto; margin-right:auto;}*/
.hidden {display:none;}

.ui-dialog .addToCartButton {background-image: url("http://cache1.allpostersimages.com/images/recRend/addtocart.gif"); cursor: pointer; font-size: 11px; font-weight: bold; padding: 8px; color:#ffffff; width:150px; margin-left:auto; margin-right:auto;}
#addToCartModalDailog{max-height:400px;width:577px !important;_width:605px !important; }


#REquickViewContainer{ color:#C7C8CA;font-family:"helvetica neue", arial, sans-serif;font-size:12px;position:absolute;display:none;z-index:1000;}
#REqvBox{background-color:#141615;border:4px solid #FFFFFF;#height:1%;}
#REqvImageContainer{ text-align:center;margin:16px 16px 0 16px;}
#REqVImage{margin-left:auto;margin-right:auto;border:1px solid #C7C8CA;cursor:pointer;}
#REqVText{margin: 12px 16px; line-height:130%;#height:1px;text-align:center;}
#REqVText a {color:#FFFFFF; text-decoration:none;}
/*Changes done for ATG-APC Recommendation*/

/*Changes for my favorites IE browser*/
.assuretable td div div {_font-size:0px;}
.assuretable td.assurecell div div {_font-size:11px;}.categorylink
{
	color:#222222;
	text-decoration: none;
}
.categoryheading
{
	FONT-SIZE: 12px	;
	font-weight: bold;
	padding: 8px 0px 4px 0px;
}
.categorydiv
{
   margin-bottom: 4px;
   margin-left: 8px
}
/* ABOVE TO BE DELETED */
.ctlnk
{
	color:#222222;
	text-decoration: none;
}
.cthdr
{
	FONT-SIZE: 12px	;
	font-weight: bold;
	padding: 8px 0px 4px 0px;
}
.ctdiv
{
   margin-bottom: 4px;
   margin-left: 8px
}
#APCFooter .APCFooterMain
{
    width:1000px;
}

#APCFooter .APCFooterOrderTollFree
{
    width:200px;
    background-color:#8A9099;
    vertical-align:middle;
    padding-top:10px;
    padding-bottom:10px; 
    color:#FFFFFF; 
    font-family: Verdana;
    font-weight:bold; 
    font-size:11px;  
}

#APCFooter .APCFooterBBULOrderTollFree
{
	list-style-type:none; 
    display:inline; 
    padding:0px; 
    margin:0px; 
    list-style-position:outside;
    float:left;
    color:#8A9099; 
    font-family: Verdana; 
    font-size:11px;
    font-weight:bold;
    padding-top:10px;
}

#APCFooter .APCFooterHeaderText
{	
	background-color:#8A9099;
	vertical-align:middle;
	padding-top:10px;
	padding-bottom:10px; 
	color:#FFFFFF; 
	font-family: Verdana;
	font-weight:bold; 
	font-size:11px;	
}

#APCFooter .APCFooterBBULOthers
{
	list-style-type:none; 
    display:inline; 
    padding:0px; 
    margin:0px; 
    list-style-position:outside;
    color:#8A9099; 
    font-family: 
    Verdana; font-size:11px;
    padding-top:10px;
    
}

#APCFooter .APCFooterTopBar
{
    background-color:#8A9099;
    height:0px;    
}

#APCFooter .APCFooterTopBarText
{    
    color:#FFFFFF; 
    font-family: Verdana;
    font-weight:bold;
    font-size:11px;
    padding-top:10px;
    padding-bottom:10px;
}

#APCFooter .APCFooterBBUL
{
    list-style-type:none; 
    display:inline; 
    padding:0px; 
    margin:0px; 
    list-style-position:outside;
}

#APCFooter .APCFooterBBLI
{    
	text-decoration:none;
	cursor:pointer;	    
    padding-bottom:2px; 
    margin-left:0px;
}

#APCFooter .APCFooterBBLIHover
{    
	text-decoration:underline;
	cursor:pointer;	    
    padding-bottom:2px; 
    margin-left:0px;
}

#APCFooter .APCFooterBottomBarOne
{        
    float:left;
    vertical-align:top;
    margin-left:10px;
    margin-top:10px;
    width:200px;
    
    color:#8A9099;  
    font-family: Verdana;
    font-weight:bold;
    font-size:11px; 
    
}

#APCFooter .APCFooterBottomBarTwo
{           
    float:left;
    vertical-align:top; 
    margin-top:10px;
    
    color:#8A9099; 
    font-family: Verdana; 
    font-size:11px;    
    padding-left:10px;
    border-left:solid 1px black; 
    border-color:#C4C7CC;
    height:83px; 
}

#APCFooter .APCFooterBottomBarThree
{           
    float:left;
    vertical-align:top; 
    margin-top:10px;    
    color:#8A9099;  
    font-family: Verdana;
    font-size:11px;     
}

#APCFooter .APCFooterBottomBarFour
{        
    float:left;
    vertical-align:top;         
    margin-top:10px;    
    color:#8A9099;  
    font-family: Verdana;
    font-size:11px; 
    padding-left:10px;
    border-left:solid 1px black; 
    border-color:#C4C7CC;
    height:83px;
}

#APCFooter .APCFooterBottomBarFive
{
    float:left;
    vertical-align:top; 
     
    margin-top:10px;
    
    color:#8A9099;  
    font-family: Verdana;
    font-size:11px; 
    padding-left:50px;
}

#APCFooter .APCFooterBottomBarSix
{        
    float:left;
    vertical-align:top;
    margin-left:10px;
    margin-top:10px;
    
    color:#8A9099;  
    font-family: Verdana;    
    font-size:11px;
}

#APCFooter .APCFooterBottomBarEmailBox
{
	margin-top:10px;
	vertical-align:top;
	padding-left:10px;
	border-left:solid 1px black; 
	border-color:#C4C7CC;
	height:83px;
}

#APCFooter .APCFooterKeyline
{
    color:#C4C7CC;
    font-family: Verdana;    
    font-size:11px;
}

#APCFooter .APCFooterEmailStroke
{
    color:#9398A1;
    font-family: Verdana;
    font-weight:normal;
    font-size:11px;
}

#APCFooter .APCFooterSignup
{
	padding-top:10px; 
	color:#8A9099;
	font-family: Verdana; 
	font-size: 11px; 
}

#APCFooter .APCFooterEmailInputBox
{
	font-size: 10px;
	font-family: Verdana; 
	color:#9398A1;
	background-color:#ffffff;
}

#APCFooter .APCFooterLinkHover
{    
	cursor:pointer;
	text-decoration:underline;
}
#APCFooter .APCFooterLinkNoHover
{    
	cursor:default;
	text-decoration:underline;
}

#APCFooter .APCFooterTOSLink
{
    font-family:Verdana;
	font-size:11px;	
	color: #C4C7CC;	
	text-decoration:underline;
}

#APCFooter .APCFooterPrivacyLinkAnchor
{
	font-family:Verdana;
	font-size:9px;	
	color: #0072BC;
	text-decoration:none;
}

#APCFooter form
{
	margin:0px;
	padding-bottom:2px; 
}

#APCFooter a
{
	text-decoration: none ;
	color:#8A9099 ; 
	font-family: Verdana;
    font-size:11px;     
}

#APCFooter .fontsize2
{	
	color:#8A9099;  
    font-family: Verdana;
    font-size:11px; 
}

#APCFooter .item
{
	color:#8A9099;  
    font-family: Verdana;
    font-size:11px; 
    text-decoration: none ;
}
/*Changes done for APC Refresh*/

#footerContainer, #footerContainer a {
    width:100%;
	background-color:#677590; 
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
    overflow:hidden;
    font-size:12px;
    color:#FFFFFF;
    text-align:left;
    margin-top:20px;
}
#footerContainer a {
    margin-top:0px;
}
#footer {
	margin:20px 12px; 
}
.footer_modules, #exclusive_offers {	
	float:left;
	width:240px;
}
.footer_modules {
    margin-right:8px;
}
.footer_heading {
	text-transform:uppercase;
	margin-bottom:18px;
	font-weight:bold;
}
.toll_free_number {
	font-size:18px;
}
.footer_links, .footer_links a, .footer_links a:hover {
	font-weight:normal;
	text-decoration:none;
}
.footer_copyrights {
	font-weight:bold;
	/*_margin-top:-20px;*/
	/*padding-top:20px;*/
	/*clear:both;*/
	text-align:center;
	margin-top:10px;
	#margin-top:-20px;
	margin-bottom:20px;
}
.footer_copyrightsIEHack
{
	#margin-bottom:40px;
}
.footer_modules_content, #follow_us_content {
	width:50%;
	float:left;
}
#footer ul {
	list-style:none;
	margin:0px;
	padding:0px;
	cursor:pointer;
}
#footer ul li, #footer ul li a {
    text-decoration:none;
	font-weight:normal;
	line-height:17px;
}
#footer ul li a:hover {
    text-decoration:underline;
}
#email_capture, #follow_us {
		padding:12px;
}
#email_capture {
	background-color:#525e73; 
}
.exclusive_offers {
	font-weight:bold; 
	font-size:14px;
	margin-bottom:8px;
	text-transform:capitalize; 
}
.email_error {
    font-weight:normal;
    font-size:13px;
    color: #d12728;
    text-align:left;
}
#formcm_I0_hdr .email_error {
    _margin-bottom:15px;
    _margin-top:-20px;
}
.input_email_capture {
	height: 24px; 
	/*font-style:italic; */
	padding:0px 0px 0px 5px;  
	font-size: 13px; 
	color: #999999; 
	border: 1px solid #394250; 
	width: 220px;
	margin-bottom:4px;
}
.sign_up_button {
	font-size: 11px; 
	font-weight:bold; 
	cursor:pointer;  
	background-color:#d12728; 
	padding:6px; 
	text-transform:uppercase;
	float:left; 
}
.follow_us_icons {
	vertical-align:middle;
	margin-right:6px;
	border:0;
}
.international_sites_content ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.international_sites_content .APCFooterBBLI {    
	font-weight:normal;
	line-height:17px;
}
.international_sites_content a {   
    text-decoration:none; 
	font-weight:normal;
	line-height:17px;
}
.international_sites_content .APCFooterBBLIHover {    
	text-decoration:underline;
	font-weight:normal;
	line-height:17px;
}
#company_info_aboutus .sectionLink {
    text-decoration:none; 
}

#valueMagHomepageOffer{
	display:none;
	margin-top:20px;
	text-align:center;
}
#contentWrapper{ width: 100%; text-align:center;}
#contentContainer{ width: 984px;margin-left:auto;margin-right:auto;text-align:left;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:12px;line-height:16px;color:#333333;}
.contentWrapper{ width: 100%; text-align:center;}
.adContainer{ width: 984px;margin-left:auto;margin-right:auto;}
#internalAdContainer
#internalAdInner

.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear:both;}

.headerMenuTopLink
{
	margin-top:5px;
}
.headerBanner
{
	cursor: pointer;
	margin-bottom:2px;
}
.headerSearchTextPadding
{
	padding-left:4px;
}
#cartCountText
{
    font-family:Verdana, Arial;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
}
#cartText
{
    font-family:Verdana, Arial;
    font-size: 11px;
    color: #FFF;
}
.headerMenuPlaceHolder
{
    background-color: #8A9099;
    border-top: 1px solid #FFF;
}
.searchBoxText
{
    font-family:Verdana, Arial;
    font-size: 12px;
    color: #666666;
    border:1px solid #4C5055;
    height:26px;
    #margin-bottom:2px;
    width:200px;
    padding-left:2px;
    padding-top:5px;
}
.headerTopLinksPadding
{
    padding-left:6px;
    padding-right:6px;
    padding-top:8px;
}
.headerTopLinksPaddingFirst
{
	padding-right:6px;
	padding-top:8px;
}
.headerRemoveFormMargin
{
	margin: 0px;
	padding: 0px;
	display: inline;
}
.headerTopLinks
{
    font-family:Verdana, Arial;
    font-size: 11px;
    color: #FFF;
    cursor: pointer;
}
.headerTopLinks_JPN
{
    font-family:Verdana, Arial;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
}
.headerTopLinks:hover
{
    color: #FFF;
}
/* Changes Done for ASAP : APC Header Update */
.topMnuLink
{
    padding-top: 9px;
    padding-bottom: 11px;
    #padding-top: 10px;
    #padding-bottom: 13px;
    padding-left: 4px;
    padding-right: 4px;
    font-family:Verdana, Arial;
	font-weight:bold;
	font-size:11px;
	color:#FFFFFF;
    text-decoration: none;
    #display:block;
}
.topMnuLink:hover
{
    text-decoration: none;
    color:#FFFFFF;   
}

.topMnuLink_JPN
{
    padding-top: 9px;
    padding-bottom: 11px;
    #padding-top: 7px;
    #padding-bottom: 10px;
    #margin-bottom:0px;
    padding-left: 4px;
    padding-right: 4px;
    font-family:Verdana, Arial;
	font-weight:bold;
	font-size:14px;
	color:#FFFFFF;
    text-decoration: none;
    #display:block;
}
.topMnuLink_JPN:hover
{
    text-decoration: none;
    color:#FFFFFF;   
}
/* END OF - Changes Done for ASAP : APC Header Update */
#checkout
{
    font-family: Verdana, Arial;
    font-size:22px;
    font-weight:bold;
    color:#FFFFFF;
    padding-right:24px;
}
#custSrvcText
{
    font-family: Verdana, Arial;
    font-size:11px;
    color:#FFFFFF;
    height:25px;
}
#custSrvcNumber
{
    font-family: Verdana, Arial;
    font-size:11px;
    font-weight:bold;
    color:#FFFFFF;
    padding-right:24px;
}
#custSrvcTextHolder
{
	line-height: 25px;
	vertical-align:middle;
}
.header_space
{
	line-height:12px;
}
.menuTable
{
    #margin:-1px;
}
.header_popup
{
    position: absolute;
    z-index: 1000;
    display: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    border-left: solid 1px #9CA2AA;
    border-right: solid 1px #9CA2AA;
    border-bottom: solid 1px #9CA2AA;
    background-color: #FFFFFF;
}
.header_popup_divider
{
    position: absolute;
    z-index: 1000;
    display: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    background-color: #FFFFFF;
    border-bottom: solid 1px #9CA2AA;
    width:1px;
}
.headerMnuLink
{
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 7px;
    padding-right: 7px;
}
.gNoShowList
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.sub_popup_childClass
{
	font-weight: normal;
    cursor: pointer;
    line-height:16px;
    cursor:pointer;
    margin-left:2px;
    margin-right:2px;
}
.sub_popup_space
{
    height: 10px;
    #height: 1px;
    min-height: 1px;
}
.floatLeft
{
    float:left;
}
.headerMenuItem
{
	padding-left:8px;
	padding-right:8px;
	#width:100%;
	#white-space:nowrap;
}
.menuItem
{
    float:left;
    text-align: left;
}
.topMnuLink
{
    padding-top: 11px;
    padding-bottom: 10px;
}
.headerhelpText
{
    margin-top:10px;
    font-family:Verdana;
    font-size:11px;
    color:#ffffff;
    white-space:nowrap;
}
.headerMenuList
{
    width:815px;
}
.hInfo
{
	/*background-image: url(http://img2.allposters.com/images/INTL/1/header09/holiday_info_mid_off.gif);*/
}
.hInfoLeft
{
/*background-image: url(http://img2.allposters.com/images/INTL/1/header09/holiday_info_left_off.gif);*/
}
.hInfoMiddle
{
/*background-image: url(http://img2.allposters.com/images/INTL/1/header09/holiday_info_mid_off.gif);*/
}
.hInfoHover
{
	/*background-image: url(http://img2.allposters.com/images/INTL/1/header09/holiday_info_mid_over.gif);*/
}
.hInfoLeftHover
{
	/*src = 'http://img2.allposters.com/images/INTL/1/header09/holiday_info_left_over.gif';*/
}
.lang_popup
{
    text-align: left;
    color:#000000;
    text-decoration: none;
    line-height: 20px;
    list-style: none;
    list-style-type: none;
    margin: 0 10 0 10;
    font-family: Helvetica, Arial;
    font-size: 11px;
}
/*BEGIN --- MLS Header Menu Change Request*/
#SupportedLanguagesDiv
{
    color:#000000;
    font-family: Arial;
    font-size: 11px;  
    /*background-image: url("http://cache1.allpostersimages.com/images/DropDown/toggle_C.gif"); */
    margin:0 5px;
    cursor:pointer;
}
#SupportedLanguagesLink
{
    color:#000000;
    font-family: Arial;
    font-size: 11px;
   /* background-image:url("http://cache1.allpostersimages.com/images/DropDown/btn_C.gif");  */
    margin:0 5px;
    cursor:pointer;
    
}
#RoundCornerLink
{
    color :#000000;
    font-family: Arial;
    font-size: 11px;
   /* background-image:url("http://cache1.allpostersimages.com/images/DropDown/drop_BG_g.gif"); */
    cursor:pointer;   
    margin:0 5px;
   
}

#languageSelectorForm ul
{
    padding-top: 0px;
    cursor: pointer;
}
.dropdownarrow
{
    padding-bottom: 1px;
    padding-left: 3px;
}
#langSelector_BottomLeftArc
{
    background-position:left bottom; 
    background-repeat:no-repeat;
	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/crn_BL.gif);*/
}
#langSelector_BottomRightArc
{
    background-position:right bottom; 
    background-repeat:no-repeat;
	/*background-image:url(http://cache1.allpostersimages.com/images/DropDown/crn_RL.gif);*/
}
#langSelector_TopLeftArc
{
    background-position:left top; 
    background-repeat:no-repeat;
	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/crn_TL.gif);*/
}
#langSelector_TopRightArc
{
    background-position:right top; 
    background-repeat:no-repeat;
	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/crn_TR.gif);*/
}

#BLRoundCorner
{
    background-position:left bottom; 
    background-repeat:no-repeat;
	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/drop_BL_g.gif);*/
	
}
#BRRoundCorner
{
    background-position:right bottom; 
    background-repeat:no-repeat;
   	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/drop_BR_g.gif);*/
}
#TLRoundCorner
{
    background-position:left top; 
    background-repeat:no-repeat;
	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/grey.gif);*/
}
#TRRoundCorner
{
    background-position:right top; 
    background-repeat:no-repeat;
	/*background-image: url(http://cache1.allpostersimages.com/images/DropDown/grey.gif);*/
}

#languageDropdown
{  
    background-color: Transparent;
    color: #000000;                
    text-align: left;
    font-family: Arial;
    font-size: 11px;
    line-height: 18px;
    margin: 0px;

}

#languageOptions
{
    
    background-color: Transparent;
    color: #000000;                
    text-align: left;
    font-family: Arial;
    font-size: 11px;
    line-height: 18px;
    margin: 0px;
}
#languageOptions li
{
    padding-left: 10px;
}

/* END --- MLS Header Menu Change Request*/

/* search suggest related css */

.searchSuggest
{
       /* background:url("http://cache1.allpostersimages.com/images/pub/general/shadow_drop.png") no-repeat scroll right bottom  transparent !important;*/
        font-family:Verdana;
        font-size:11px;
		width:283px;
		#width:281px;
		display:none;
		position:absolute;
		text-align:left;
		z-index:100;
}
#noautoSuggestDiv
{
        font-family:Verdana;
        font-size:11px;
		border: 1px solid #AEB1BC;
		background-color:#FFF5b6;
		width:198px;
		#width:208px;
		display:none;
		position:absolute;
		z-index:1;
		color:#d34a00;
		font-weight:bold;
		padding:5px;
}
.ssnewImg
{
	width:30px;
	height:15px;
	border:0;
	vertical-align:bottom;
}
.searchSuggest ul 
{
	margin:0;padding:0;
	background-color:#E9E9E9;
	margin-right:6px;
	margin-bottom:6px;
	margin-left:6px;
	#margin-right:5px;
	#margin-bottom:5px;
	#margin-left:5px;
}
.searchSuggest ul li 
{
	list-style:none;
	height:40px;
	padding:5px 10px;
	#padding:5px 6px 5px 10px;
	cursor:pointer;
	vertical-align:bottom;
	/*background:url("http://cache1.allpostersimages.com/images/pub/general/boxbg.gif") repeat;*/
	
}
.ssg_galleryThumb{
	width:40px;
	height:40px;
	background-repeat:no-repeat;
	background-position:center;
	margin-right:5px;
}
.ssg_heading,.ssg_heading_hide{
	width:206px;
	#width:203px;
	font-size:11px;
	overflow:hidden;
	white-space: nowrap;

}
.ssg_byline{
	font-size:10px;
	color:#666666;
}

.ssgTextBox{
	width:190px;
	padding-left:10px;
}

.ssg_Selected{
	/*background:url("http://cache1.allpostersimages.com/images/pub/general/boxbg_over.gif") repeat !important;*/ /*Prabhu Added*/
	color: #FFFFFF !important;
	vertical-align:bottom !important;
}

.ssgTextHover{ color: #FFFFFF !important;}

.ssg_heading_hide { display:none;}

 
 .ssgTextBoxSelected{
 	position:absolute;
	margin-left:45px;
	#margin-left:0;
	width:auto !important;
	height:40px;
 }
 
 .ssgURL{ display:none;}

.ssg_results
{
	display:block;
}


/* end of search suggest related css*/
/* Header 1024 Redesign Start */
	#headerContainerGlobal{
		height:107px;
		/*background-image: url(http://cache1.allpostersimages.com/images/header/bg.jpg);*/
		background-repeat:repeat-x;
		font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
		font-size:14px;
		color:#FFFFFF;
		text-align:left;
	}
	#headerContainerGlobalHoliday{
		height:107px;
	    /*background-image: url(http://cache1.allpostersimages.com/images/header/bg_holiday.png);*/
		font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
		font-size:14px;
		color:#FFFFFF;
		text-align:left;
	}
	#headerTop{
		height:30px;
		padding-right:12px;

	}
	#headerCenter{
		height:42px;
		padding: 0 12px;
	}
	#headerBottomRow{
		height:35px;
		/*background-image: url(http://cache1.allpostersimages.com/images/header/subnav.jpg);*/
		background-repeat:repeat-x;
	}
	
	#headerLogo{margin-top:-26px;position:relative;}
	#headerHelp{
		margin-left:304px;
		#margin-left:296px;
		font-size:14px;
		font-weight:bold;
		margin-top:8px;
		/*background-image:url(http://cache1.allpostersimages.com/images/header/arrowDouble.png);*/
		background-repeat:no-repeat;
		padding-left:14px;
		background-position:left 40%;
	}
	#headerAux{font-size:13px;margin-top:8px;}
	.headerAuxLink{float:left;margin-right:12px;cursor:pointer;}
	#headerSpecialOffers{
		/*background-image:url(http://cache1.allpostersimages.com/images/header/arrowDown.png);*/
		padding-right:12px;
		background-repeat:no-repeat;
		background-position:right 60%;
	}
	#headerMLS{
		float:left;
		background-color:#FFFFFF;
		padding:2px;
		color:#C62018;
		margin-top:-2px;
		font-weight:bold;
        cursor:pointer;
	}
	
	#headerCart{
		margin-top:11px;
		font-size:20px;
		float:right;
		/*background-image:url(http://cache1.allpostersimages.com/images/header/cart.png);*/
		background-repeat:no-repeat;
		padding-left:28px;
		background-position:left 60%;
		cursor:pointer;
	}
	#cartCount{
		float:left;
		font-size:12px;
		margin:6px 0 0 4px;
	}
	#headerValueProps{margin:12px 0 0 16px;#margin-left:8px;}
	.headerValueProp{font-size:18px;float:left;cursor:pointer;}
	.valuePropsDivider{ font-size:16px;float:left;margin:2px 16px 0;color:#DE7D7B;}
	.searchBox1024{
		margin:6px 0 5px 12px;
		width:197px;
		height:24px;
		border:none;
		float:left;
		padding:4px 2px;
		font-weight:bold; 
	}
	.searchButton{
		margin:6px 8px 5px 0; 
	/*	background-image:url(http://cache1.allpostersimages.com/images/header/searchbg.jpg);*/
		background-repeat:repeat-x;
		text-transform:uppercase;
		float:left;
		height:24px;
		padding:0px 6px 4px;
		#padding:0;
		font-weight:bold;
		font-size:12px;	
		cursor:pointer;
		border:none;
		color:#FFFFFF;
		line-height:24px;
	}
	/*.headerMenuLink{
		padding:10px 12px 9px;
		font-weight:bold;
		border-left:1px solid #630C10; 
		cursor:pointer;
		display:block;
		color:#FFFFFF;
		text-decoration:none;
	}*/
	#megaMenuLink{
		padding:10px 12px 6px;
		font-weight:bold;
		border-left:1px solid #444444; 
		cursor:pointer;
		display:block;
		color:#FFFFFF;
		text-decoration:none;
	}
	.megaMenuLinkHover{
		/*background-image:url(http://cache1.allpostersimages.com/images/header/subNavOn.jpg);*/
		background-position:top left;
		background-repeat:repeat-x;
	}
	
	.megaArrow{padding:2px;#padding:0;}
	/*.headerMenuLink:hover{
		background-image:url(http://cache1.allpostersimages.com/images/header/subNavOn.jpg);
		color:#FFFFFF;
		text-decoration:none;
		background-position:top left;
		background-repeat:repeat-x;
	}*/
	
	.headerLine{
		border-bottom:1px solid #CCCCCC;
		padding-bottom:5px !important;
		#margin-bottom:5px !important
	}
	
	#forSearch{
		display:inline;
		margin:0;
		padding:0;
	}	

/*** drop down menus */

#menuwrapper {

}

#headerMenuBar {}

#headerMenuBar, #headerMenuBar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#headerMenuBar a {
	display: block;
	text-decoration: none;
}

#headerMenuBar a.headerDD {
	font-weight:bold;
	border-left:1px solid #444444; 
	cursor:pointer;
	color:#FFFFFF;
	text-decoration:none;
	padding:10px 12px 6px;
}

#headerMenuBar li {
	float: left;
	width: 9em;
}

#headerMenuBar li {position: relative;}

/* hide from IE mac \*/
#headerMenuBar li {position: static; width: auto;}
/* end hiding from IE5 mac */

#headerMenuBar li ul, #headerMenuBar ul li  {
	float:none;
	padding:2px 10px;
	#margin:0;
}
#headerMenuBar ul li a, #headerMenuBar ul li span  {
	color: #1A5D82;
	border-right: 0;
	margin-left:-6px;
	#margin-left:0;
}
#headerMenuBar ul li span  { cursor:pointer;}
#headerMenuBar li ul {
	position: absolute;
	display: none;
/*	background-image: url(http://cache1.allpostersimages.com/images/homepage/dd_bg.png);*/
	background-repeat:repeat;
	border: 1px solid #7686A0;
	color: #1A5D82;
	z-index:1000;
	/*list-style:disc inside url(http://cache1.allpostersimages.com/images/get.gif); */
	text-align:left;
	margin-left:1px;
}

#headerMenuBar li:hover a,  #headerMenuBar li.p7hvr a {
/*	background-image:url(http://cache1.allpostersimages.com/images/header/subNavOn.jpg);*/
	color:#FFFFFF;
	text-decoration:none;
	background-position:top left;
	background-repeat:repeat-x;
}

#headerMenuBar li:hover ul, #headerMenuBar li.p7hvr ul {
	display: block;
}
#headerMenuBar li:hover ul a, #headerMenuBar li.p7hvr ul a {
	color: #1A5D82;
	background-color: transparent;
}
#headerMenuBar ul a:hover {
	background-color: none !important;
	color: #1A5D82!important;
	text-decoration:underline !important;
	background-image:none !important;
}
.headerSubnav{
	font-size:12px !important;
}

.headerSubnav  li{
	#margin:4px 0 !important;
	#padding:0 !important;
}
.headerSubnav a{
	background-image:none !important;
	display:inline !important;
	margin:0 0 0 -6px !important;
	#margin:0 !important;
	padding:0 !important;
}


/* Drop Down End */
/* Mega Menu Start */

#megaMenu{
	width:1006px;
	#width:1008px;
	border: 1px solid #CCCCCC;
	position:absolute;
	display:none;
	background-color:#FFFFFF;
	font-size:12px;
	z-index:1000;
	border-top:none;
	text-align:left;
	margin-top:-3px;
}

#megaMenuInner{
	margin:16px 16px 4px;
	color:#1A5D82;
}

#megaMenuInner ul{
	margin: 0 0 20px -2px;
	margin: 0 0 20px -6px;
	padding: 0;
	/*list-style:disc inside url(http://cache1.allpostersimages.com/images/get.gif); */
	text-align:left;
}

#megaMenuInner ul li{
	margin:2px 0;
	padding:0;
}

#megaMenuInner ul li span{
	margin-left:-6px;
	#margin-left:0;
	cursor:pointer;
}

.megaMenuFloat{
	float:left;
	width:121px;
}

.megaMenuTitle{
	color:#333333;
	font-weight:bold;
	cursor:pointer;
}
/* Mega Menu End */

/* EMail Capture Styles */
#header_email_capture {
	width:245px; 
	display:none; 
	_width:262px; 
	border:1px Solid #677590; 
	background-color:#d7e0ea; 
	position:absolute; 
	margin-top:18px; 
	margin-left:-95px; 
	#margin-left:-470px; 
	z-index:2;
	padding: 3px 3px 0px 12px;
}
.header_email_capture_close {
	float:right; 
	cursor:pointer;
}
.header_email_capture_content {
	font-weight:bold; 
	color:#484545; 
	margin-top:10px; 
	line-height:16px;
	text-align:left;
}
.header_email_capture_input {
	margin-top:8px; 
	#margin-top:-10px;
	margin-bottom:5px;
	text-align:left;
}
.header_email_capture_signup {
	margin:0;
	#margin-bottom:14px; 
	cursor:pointer; 
	background-color:#d12728; 
	padding:6px; 
	text-transform:uppercase;
	float:left;
	font-weight:bold;
	font-size:11px;
	color:#FFFFFF;
}

.emailSignUpInput{
	margin:6px 0;
	font-style:italic;
	padding: 3px;
	font-size:12px;
	border:1px solid #9398A1;
	width:235px;
	color:#999999;
	height:21px;
}

#emailSignUpHeader{ margin:0;}

.emailSignUpError{
	display:none;
	color:#D12728;
}

.emailSignUpSubmit{
	margin-bottom: 8px;
	cursor:pointer;
	background-color:#d12728;
	padding:3px;
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase; 
	border:none;
	font-size:11px;
	#width:185px;
}/* CSS Document 
FOR APC
*/
#CSContainer
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	width: 100%;
	margin: 0;
	text-align:left;
}

#CSTopBarContainer
{
	border-bottom: 1px solid #E27B14;
	background-color:#484D43;
	background-image:url(https://secureimg.allposters.com/allposters/images/CSToolbar/csbk_apc.gif);
	background-repeat:repeat-x;
}

#CSTopBar
{
	padding: 6px 6px 6px 6px; /* 80px */
	padding-bottom: 7px;
	#padding-bottom: 0px;
}

#CSBottomBar
{
	margin: 3px 3px 3px 12px;
	font-size:0;
	/*display:none;*/
}

.CSButton
{
	float:left;
	font-size:12px;
	font-weight:bold;
	padding: 12px 6px;
	background-color:#F38C25;
	margin: 0 3px 0px 3px;
	cursor: pointer;
	border: 1px solid #FFFFFF;
	background-image:url(https://secureimg.allposters.com/allposters/images/CSToolbar/button_bk_apc.gif);
	background-repeat:repeat-x;
}

.CSButtonDoubleLine
{
	padding: 12px 6px 0px 6px !important;
	#padding: 12px 6px 2px 6px !important;
}

.CSButtonLineTwo
{
	font-size: 8px;
	font-weight: normal;
	text-align:center;	
}

#CSZoneCurrencyContainer
{
	float: left;
	margin: 0 3px 0 24px;
	background-color:#FFFFFF;
	color: #999999;
	
}

#CSZone
{
	font-size: 24px;
	line-height: 95%;
	margin-left: 1px;
}

#CSCurrency
{
	font-size: 12px;
	margin: 0 6px 1px 1px;
}

.CSCurrentContainer
{
	float:left;
	margin: 0 3px;
	cursor:pointer;
	background-color:#FFFFFF;
}

.CSBorder
{
	border: 1px solid #E27B14;
}

.CSBorderPopup
{
	border: 1px solid #E27B14;
	border-top: 1px solid #484D43;
}

.CSCurrentSelection
{
	
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin: 3px 3px 1px 3px;
	cursor:pointer;
}

#CSCurrentCountryContainer
{
	width: 155px;
}


	
#CSCurrentUserNameContainer
{
	width: 200px;
}

#CSCurrentUserEdit .textBox
{
	border:0;
	border-bottom:1px solid #333333;
	color:red;
	padding:0;
}
	
.CSChangeSelection
{
	font-size: 10px;
	font-weight: bold;
	/*text-decoration:underline;*/
	color: #CA6528;
	margin: 0 14px 4px 4px;
	cursor:pointer;
}

#CSMessage
{
	font-size:12px;
	color:#CA6528;
	font-weight:bold;
}

#CSCurrentCountryCancel
{
	display: none;
}

#CSCurrentLanguageCancel
{
	display: none;
}


#CSCurrentUserChange
{
	display:none;
}

.csGoto
{
	float:right;
	font-size:12px;
	color: #FFFFFF;
	text-decoration:underline;
	margin:1px;
	line-height:110%;
}


#CSOpen
{
	display:none;
}


#CSModuleSaveCartContainer
{
	background-color:#484D43;
	width: 315px;
	position:absolute;
	display:none;
}


#CSModuleSaveCart .textBox
{
width: 210px;
height: 22px;
}


.allClear
{
	clear:both;
	font-size:0;
	margin:0;
	padding:0;
	height:0;
	border:none;
	visibility:hidden;
}

#CSModuleSaveCart .cancelButton
{
	text-align:center;
	font-size:10px;
	color:#FFFFFF;
	margin-top:3px;
	text-decoration:underline;
	cursor:pointer;
}

#CSModuleSaveCart .submitButtonHolder
{
	float:left;
	margin-left: 3px;
}

#CSModuleSaveCart .textBoxHolder
{
	float:left;
	margin-left:3px;
}


#CSModuleSaveCart
{
	margin: 12px 3px 12px;
}

#CSAllPopupsContainer
{
	margin-top:-1px;
	height:0px;
}

#CSModuleChangeCountryContainer
{
	background-color:#484D43;
	position:absolute;
	display:none;
}

#CSModuleChangeLanguageContainer
{
	background-color:#484D43;
	position:absolute;
	display:none;
}

.csSelectList
{
	margin: 3px 6px;
	background-color:#484D43;
	color:#333333;
	font-weight:bold;
	line-height:130%;
	color:#FFFFFF;
	z-index:1000;
}

#CSCurrentUserEdit
{
	display: none;
	margin: 0 0 0 3px;
}

#CSCurrentUserCancel
{
	display: none;
}
