.primaryLargeButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  vertical-align: middle;
}			

.primaryLargeButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.primaryLargeButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#000066;
  padding-top: 0px;
  padding-bottom:1px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  margin:0px;
  vertical-align: middle;
}

.primaryLargeButtonText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#000066;
  padding-top: 4px;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  vertical-align: middle;
}

.secondaryLargeButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.secondaryLargeButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.secondaryLargeButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#000066;
  padding-bottom:1px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  margin: 0 0 0 0;
  vertical-align: middle;
}

.secondaryLargeButtonText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#000066;
  padding-top: 4px;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  vertical-align: middle;
}

.primaryLargeButtonGhostL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  vertical-align: middle;
}			

.primaryLargeButtonGhostR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.primaryLargeButtonGhostText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#999999;
  padding-top: 0px;
  padding-bottom:1px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  margin:0px;
  vertical-align: middle;
}

.primaryLargeButtonGhostText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#999999;
  padding-top: 4px;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  vertical-align: middle;
}

.secondaryLargeButtonGhostL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.secondaryLargeButtonGhostR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 22px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.secondaryLargeButtonGhostText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#999999;
  padding-bottom:1px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  margin: 0 0 0 0;
  vertical-align: middle;
}

.secondaryLargeButtonGhostText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:12px;
  font-weight:bold;
  height: 22px;
  color:#999999;
  padding-top: 4px;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:0px;
  cursor:pointer;
  vertical-align: middle;
}

.primarySmallButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 16px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.primarySmallButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 16px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.primarySmallButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold;
  color:#000066;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.primarySmallButtonText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold;
  color:#000066;
  height: 16px;
  cursor:pointer;
  vertical-align: middle;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-right:1px;
}

.secondarySmallButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 16px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.secondarySmallButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 16px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.secondarySmallButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold;
  color:#000066;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.secondarySmallButtonText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold;
  color:#000066;
  height: 16px;
  cursor:pointer;
  padding-top: 1px;
  padding-bottom: 2px;
  vertical-align: middle;
  padding-right:1px;
}

.primarySmallButtonGhostL {
  background-repeat: no-repeat;
  background-position: left top;
	BORDER-RIGHT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: 0px; 	
	CURSOR: pointer; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: 0px; 
	HEIGHT: 16px;
}
.primarySmallButtonGhostR {
  background-repeat: no-repeat;
  background-position: left top;
	BORDER-RIGHT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: 0px; 
	CURSOR: pointer; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: 0px; 
	HEIGHT: 16px;
}
.primarySmallButtonGhostText {
  background-repeat: repeat-x;
  background-position: left top;
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 2px; 
	VERTICAL-ALIGN: middle; 
	CURSOR: pointer; 
	COLOR: #999999; 	
	FONT-FAMILY: Verdana;
}
.primarySmallButtonGhostText2 {
  background-repeat: repeat-x;
  background-position: left center;
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	VERTICAL-ALIGN: middle; 	
	CURSOR: pointer; 
	COLOR: #999999; 
	PADDING-TOP: 1px; 
	FONT-FAMILY: Verdana; 
	HEIGHT: 16px;
}
.secondarySmallButtonGhostL {
  background-repeat: no-repeat;
  background-position: left top;
	BORDER-RIGHT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: 0px; 
	CURSOR: pointer; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: 0px; 
	HEIGHT: 16px;
}
.secondarySmallButtonGhostR {
  background-repeat: no-repeat;
  background-position: left top;
	BORDER-RIGHT: 0px; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: 0px; 
	CURSOR: pointer; 	
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: 0px; 
	HEIGHT: 16px;
}
.secondarySmallButtonGhostText {
  background-repeat: repeat-x;
  background-position: left top;
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 2px; 
	VERTICAL-ALIGN: middle; 
	CURSOR: pointer; 
	COLOR: #999999; 
	FONT-FAMILY: Verdana;
}
.secondarySmallButtonGhostText2 {
  background-repeat: repeat-x;
  background-position: left center;
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	VERTICAL-ALIGN: middle; 
	CURSOR: pointer; 
	COLOR: #999999; 
	PADDING-TOP: 1px; 
	FONT-FAMILY: Verdana; 
	HEIGHT: 16px;
}

.primaryTinyButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.primaryTinyButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.primaryTinyButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  height: 12px;
  color:#000066;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.primaryTinyButtonText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  color:#000066;
  height: 12px;
  padding-bottom:1px;
  padding-top:1px;
  cursor:pointer;
  vertical-align: middle ;
  padding-right:1px;
}

.secondaryTinyButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.secondaryTinyButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.secondaryTinyButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  height: 12px;
  color:#000066;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.secondaryTinyButtonText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  color:#000066;
  height: 12px;
  padding-bottom:1px;
  padding-top:1px;
  cursor:pointer;
  vertical-align: middle ;
  padding-right:1px;
}

.primaryTinyButtonGhostL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.primaryTinyButtonGhostR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.primaryTinyButtonGhostText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  height: 12px;
  color:#999999;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.primaryTinyButtonGhostText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  color:#999999;
  height: 12px;
  padding-bottom:1px;
  padding-top:1px;
  cursor:pointer;
  vertical-align: middle ;
  padding-right:1px;
}

.secondaryTinyButtonGhostL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.secondaryTinyButtonGhostR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.secondaryTinyButtonGhostText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  height: 12px;
  color:#999999;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.secondaryTinyButtonGhostText2 {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  color:#999999;
  height: 12px;
  padding-bottom:1px;
  padding-top:1px;
  cursor:pointer;
  vertical-align: middle ;
  padding-right:1px;
}

.secondaryTinyBlockButtonL {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}			

.secondaryTinyBlockButtonR {
  background-repeat: no-repeat;
  background-position: left top;
  border: 0px;
  height: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  vertical-align: middle;
}

.secondaryTinyBlockButtonText {
  background-repeat: repeat-x;
  background-position: left top;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  height: 12px;
  color:#000066;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:1px;
  cursor:pointer;
  vertical-align: middle;
}

.secondaryTinyBlockButtonText2 {
  background-repeat: repeat-x;
  background-position: left center;
  font-family:Verdana;
  font-size:8px;
  font-weight:bold;
  color:#000066;
  height: 12px;
  cursor:pointer;
  vertical-align: middle ;
  padding-right:1px;
}

.amznButton {
  background-repeat: repeat-x;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.amznButton table {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  cursor:pointer;
}
