html {background:transparent}
body {
  margin:0 8px 0 8px;
  padding:0;
  background:#0082c8 url(../images/bkground.png) repeat-x;
  font:82%/1.5 "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
  color:#333333;
}
#wrap {
  padding:0;
  max-width:972px;
  min-width:972px;
  margin:0 auto;
  text-align:left;
}
* html #wrap {width:972px}
h1,h2,h3,h4,h5,h6 {
  margin:0 0 0.5em;
  font:normal 1em/1.2 "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
}
h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.2em;}
p {margin:0 0 1em;}
a {
  text-decoration: underline;
  outline:none;
}

img {
  border:none;
}
.clearfix:after {
  display:block;
  visibility:hidden;
  clear:both;
  height:0;
  content:".";
}
* html .clearfix {height:1px;} /* * html hack for IE pre 7 */
.clearfix {display:inline-block;}
.clearfix {display:block;}
.structural {
  position:absolute;
  left:-9999px;
}

#pbody {
  margin-top:15px;
  clear:both;
  position:relative;
  padding-left:10px;
}

#menu_line {
  margin:0;
  padding:0;
  margin:10px 15px 3px 5px;
  float:left;
}

#toplnk1 {
  float:right;
  margin-right:0px;
  margin-top:4px;
  text-align:right;
  text-decoration:none;
  line-height:100%;
}
#toplnk1 a:link {
  color:#0082c8;
  text-decoration: none;
}
#toplnk1 a:visited {
  color:#0082c8;
  text-decoration: none;
}
#toplnk1 a:hover,#toplnk1 a:focus, #toplnk1 a:active {
  color:#0082c8;
  text-decoration: none;
}

.toplnk2 {
  float:left;
  margin-right:10px;
  margin-top:4px;
  font-size:13px;
}

/* Normal styling */
.cb {
  margin:0.5em 0;
}
  /* Top corners and border */
.bt {
  height:17px;
  margin:0 0 0 18px;
  background:url(../images/box3.png) no-repeat 100% 0;
}
.bt_div {
  position:relative;
  left:-18px;
  width:18px;
  height:17px;
  background:url(../images/box3.png) no-repeat 0 0;
  font-size:0;
  line-height:0;
}

/* Bottom corners and border */
.bb {
  height:14px;
  margin:0 0 0 12px;
  background:url(../images/box3.png) no-repeat 100% 100%;
  position:relative;
}
.bb .bb_div {
  position:relative;
  left:-12px;
  width:12px;
  height:14px;
  background:url(../images/box3.png) no-repeat 0 100%;
  font-size:0;
  line-height:0;
}

  /* Left border */
.i1 {
  padding:0 0 0 12px;
  background:url(../images/borders3.png) repeat-y 0 0;
}
  /* Right border */
.i2 {
  padding:0 12px 0 0;
  margin:0;
  background:url(../images/borders3.png) repeat-y 100% 0;
}
  /* Wrapper for the content. Use it to set the background colour and insert some padding between the borders and the content. */
.i3 {
  display:block;
  padding:0;
  margin:0;
  padding-top:1px;
  background:#fff;
  width:100%;
}
  /* Make the content wrapper auto clearing so it will contain floats (see http://positioniseverything.net/easyclearing.html). */
.i3:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

ul {
  list-style:none;
}
.searchtext_primary {
  border-top-color:#eeeeee;
  border-left-color:#eeeeee;
  border-right-color:#aaaaaa;
  border-bottom-color:#aaaaaa;
  display:inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size:15px;
  height:20px;
}

.alphanav, #alphanav{
  width:auto;
  height:auto;
  background-image:url('../images/alphabar_bottom.png');
  background-repeat:no-repeat;
  font-weight:bold;
  font-size:1em;
  background-position:left bottom;
  padding-bottom:18px;
  line-height:12px;
  margin-bottom:10px;
  letter-spacing: 0pt;
}

.alphanavtop, #alphanavtop{
  width:auto;
  padding-top:10px;
  height:auto;
  background-image:url('../images/alphabar_top.png');
  background-repeat:no-repeat;
  background-position:left top;
  padding-left:15px;
}


.alphanav_inner, #alphanav_inner {
  margin-left:0px;
  line-height:110%;
  margin-right:22px;
  padding:0;
}

a.alphalink:link,
a.alphalink:visited,
a.alphalink:active { text-decoration:none; color:#0082c8; margin-left:12px}

span.alphanonlink { margin-left:12px; color:#717171;}
span.alphatitle{ color:#0082c8;}

#logo_area {
  height:88px;
  float:left;
}
#mpluslogo {
  position:relative;
  z-index: 10;
  float:left;
}
#frmSearch {
  margin:0;
  padding:0;
  float:right;
  padding-top:5px;
  position:relative;
}
#frmSearchBottom {
  margin-top:-88px;
  margin-left:380px;
  padding: 20px 0 0 0;
  height: 67px;
  position:relative;
}
#frmSearchBottom a {
  vertical-align:middle;
}
.searchgo {
  display:inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
.bluelabel {
  display:inline-block;
  vertical-align: middle;
  line-height:25px;
  color: #0081c5;
  font-weight: bold;
  font-family:Arial,sans-serif;
  font-size:17px;
}
#flashcontent {
  z-index:8;
  margin-top:0px;
  position:relative;
  clear:both;
}
#navbuttons {
  margin:0;
  padding:0;
  position:relative;
}
#navbuttons li a {
  font-family:Arial,sans-serif;
}

.topheader {
  padding-bottom:45px;
  padding-right:10px;
  padding-left:10px;
}


.cf {
  display:block;
  clear:both;
  height:auto;
}

#pheader {
  font-size:1.6em;
  color:#0082c8;
  font-weight:bold;
}
.pheader {
  font-size:1.6em;
  color:#0082c8;
  font-weight:bold;
}

#b_l {
  background:url(../images/box4_left.png) no-repeat bottom left;
  height:18px;
  margin-left:-12px;
  position:relative;
  padding-bottom:7px;
  clear:both;
}
#b_c {
  background:#ffffff url(../images/box4_middle.png) repeat-x bottom left;
  padding:0;
  margin:0;
  height:18px;
  margin-left:16px;
  position:relative;
  padding-bottom:7px;
  display:block;
}
#b_r {
  padding:0;
  margin:0;
  display:inline-block;
  background:#ffffff url(../images/box4_right.png) no-repeat bottom right;
  height:18px;
  position:relative;
  width:16px;
  margin-top:-18px;
  margin-right:-5px;
  float:right;
}
.minusOne {
  font-size:100%;
}
.minusTwo {
  font-size:82%;
}
.dbk {
  display:inline-block;
  height:auto;
}
.r2top {
  font-size:0.85em;
}
.offscr {
  position:absolute;
  left:-9999px;
  width:990px;
}
.noshow {
  display:none;
}
.show {
  display:block;
}
/*   buttons */
.scnd_bn, .scnd_d, .activetab_d, .activetab {
  padding:0;
  margin:0;
  position:static;
  width:200px;
  text-decoration:none;
  font-size:18px;
  text-align:center;
  padding-top:2px;
  outline:none;
  margin-top:0px;
  letter-spacing:0.03em;
  display:block;
}
.scnd_bn_rollover {
  padding:0;
  margin:0;
  position:static;
  width:200px;
  text-decoration:none;
  font-size:18px;
  text-align:center;
  padding-top:2px;
  outline:none;
  margin-top:0;/*-8px;*/
  letter-spacing:0.03em;
  display:block;
}
.scnd_bn_linorm, .scnd_d_linorm, .activetab_d_linorm, .activetab_linorm {
  padding:0;
  margin:0;
  width:200px;
  padding-bottom:6px;
  float:left;
  margin-right:10px;
  height:auto;
  /*position:static;*/
}
.scnd_bn_liover {
  padding:0;
  margin:0;
  width:200px;
  padding-bottom:6px;
  float:left;
  margin-right:10px;
  height:auto;
  /*position:static;*/
}
.hbar {
  border-bottom:solid 1px #cccccc;
  width:800px;
  margin:0px auto 20px auto;
  height:1px;
  clear:both;
  padding-top:20px;
}
.tab {
  margin:0;
  padding:0;
  list-style-position:inside;
  position:relative;
}
#fst {
  margin-left:3px;
}
.activetab {
  background:url('../images/secondarybtn_top_rollover.png') top left no-repeat;
}
.activetab_linorm {
  background:url('../images/secondarybtn_bottom_rollover.png') bottom left no-repeat;
}

/* footer */
#footer_rdr {
  clear: both;
}

#footeratend {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position:relative;
}

.bfooter {
  font-family:Arial,Geneva, Helvetica, Lucida Sans, Trebuchet, Verdana;
  color: #333333;
  font-size: 0.85em;
  margin-left:auto;
  margin-right:auto;
  line-height: 190%;
}

.bkmarkrss {
  font-size:95%;
  color: #333333;
  height: 20px;
  text-align:center;
}
.bkmarkrss a {
  font-size:1em;
  margin-right:12px;
  display:inline-block;
}
#i_conn {
  background:url(../images/connect.png) no-repeat top left;
  padding-left:25px;
  position:relative;
}
#i_mobile {
  background:url(../images/mobile.png) no-repeat top left;
  padding-left:15px;
  position:relative;
}
#i_emailupdate {
  background:url(../images/emailupdate.png) no-repeat 0;
  padding-left:28px;
  position:relative;
}
#i_rss {
  background:url(../images/rss.png) no-repeat 0;
  padding-left:19px;
  position:relative;
}
#i_twitter {
  background:url(../images/twitter.png) no-repeat 0;
  padding-left:21px;
  margin-right:0;
}
.bfooter a {
  text-decoration: underline;
  margin-right:2px;
  margin-left: 2px;
  color: #005988;
}
/* rdbox */
.rdbox {
  background: url(../images/rounded_corners.png) no-repeat bottom right;
  position:relative;
}
.rdbox_head {
  background: url(../images/rounded_corners.png) no-repeat top right;
  padding-right: 25px;
}
.rdbox_head h2 {
  background: url(../images/rounded_corners.png) no-repeat top left;
  padding-left: 25px;
  min-height: 25px;
}
.rdbox_content {
  background: url(../images/rounded_corners.png) no-repeat bottom left;
  padding: .7em 0 1.5em 25px;
  margin-right: 25px;
}
.IE .rdbox,.IE .rdbox_head,.IE .rdbox_head h2,.IE .rdbox_content {
  background-image: url(../images/rounded_corners.gif);
}

.box_no_frame {
  background:url(../images/box_no_frame.png) no-repeat bottom right;
  position: relative;
}
.box_no_frame_head {
  background:url(../images/box_no_frame.png) no-repeat top right;
  position:relative;
}
.box_no_frame_head span {
  background:url(../images/box_no_frame.png) no-repeat top left;
  position:relative;
  padding-left:16px;
  padding-top:14px;
  display:inline-block;
}

.box_no_frame_content {
  background:url(../images/box_no_frame.png) no-repeat left bottom;
  position:relative;
  padding-left:12px;
  padding-bottom:10px;
}


/* for homepage */
.hrdbox {
  background: url(../images/rounded_corners_home2.png) no-repeat bottom right;
  position:relative;
}
.hrdbox_head {
  background: url(../images/rounded_corners_home2.png) no-repeat top right;
  padding-right: 15px;
}
.hrdbox_head h2 {
  background: url(../images/rounded_corners_home2.png) no-repeat top left;
  padding-left: 25px;
  min-height: 25px;
}
.hrdbox_content {
  background: url(../images/rounded_corners_home2.png) no-repeat bottom left;
  padding: .7em 0 1.5em 25px;
  margin-right: 20px;
}
.hrdbox_content #mwlogo {
  left:-12px;
  top:-30px;
  position:relative;
}
.hrdbox_content span {
  margin-top:-140px;
  left:0px;
  color:#0082c8;
  font-weight:bold;
  position:relative;
}

.IE .hrdbox,.IE .hrdbox_head,.IE .hrdbox_head h2,.IE .hrdbox_content {
  background-image: url(../images/rounded_corners.gif);
}
.head {
  text-align: left;
  font: bold 1.05em Verdana, Arial, sans-serif;
}

/* no shadow */
.hrdbox_ns {
  background: url(../images/box_no_shadow.png) no-repeat bottom right;
  position:relative;
}
.hrdbox_head_ns {
  background: url(../images/box_no_shadow.png) no-repeat top right;
  padding-right: 5px;
}
.hrdbox_head_ns h2 {
  background: url(../images/box_no_shadow.png) no-repeat top left;
  padding-left: 25px;
  min-height: 25px;
}
.hrdbox_head_ns div {
  background: url(../images/box_no_shadow.png) no-repeat top left;
  padding-left: 25px;
  min-height: 25px;
  z-index:2;
}
.hrdbox_head_ns div span {
  margin-top:10px;
  display:inline-block;
}
html#mhome .hrdbox_content_ns {
  background: url(../images/tbox_no_shadow.png) no-repeat bottom left;
  padding: .7em 0 1.5em 0px;
  margin-right: 5px;
  position:relative;
}
.hrdbox_content_ns {
  background: url(../images/box_no_shadow.png) no-repeat bottom left;
  padding: .7em 0 1.5em 0px;
  margin-right: 5px;
  position:relative;
}

.trdbox {
  background: url(../images/tbox_no_shadow.png) no-repeat bottom right;
  position:relative;
}
.trdbox_head {
  background: url(../images/tbox_no_shadow.png) no-repeat top right;
  padding-right: 5px;
}
.trdbox_head div {
  background: url(../images/tbox_no_shadow.png) no-repeat top left;
  padding-left: 25px;
  min-height: 25px;
}
.trdbox_content {
  background: url(../images/tbox_no_shadow.png) no-repeat bottom left;
  padding: .7em 0 1.5em 25px;
  margin-right: 25px;
}
.roll_scnd_bn li a:link,.roll_scnd_bn li a:visited, .roll_scnd_bn li a:hover,.roll_scnd_bn li a:focus, .roll_scnd_bn li a:active {
  color:#ffffff;
  text-decoration: none;
}
#tabbar {
  border-top:solid 1px #cccccc;
  width:347px;
  margin-top:5px;
}
.bluelabel_2nd {
  display:inline-block;
  vertical-align: middle;
  color: #0081c5;
  font-weight: bold;
  font-family:Arial,sans-serif;
  font-size:15px;
}
.roll_home_bn li a:link,.roll_home_bn li a:visited,.roll_home_bn li a:hover,.roll_home_bn li a:focus,.roll_home_bn li a:active {
  text-decoration:none;
  color:#ffffff;
}
.roll_ext li a:link, .roll_ext li a:visited,.roll_ext li a:hover,.roll_ext li a:focus,.roll_ext li a:active {
  color:#ffffff;
  text-decoration:none;
}
#scnd_toggle_ul {
  margin:0;
  padding:0;
}
.topheader img {
  margin-right:4px;
}
#lowlink {
  font-family:Arial, Helvetica, sans-serif;
}
.g_rdbox_br, #hc1_b2_c {
  background:#ffffff url('../images/hc1_b2_bottom.png') no-repeat bottom right;
  margin-left:2px;
  width:247px;
}
.g_rdbox_bl, #hc1_b2_c_c {
  background:#ffffff url('../images/hc1_b2_bottom.png') no-repeat bottom left;
  padding: .1em 0 1.5em 5px;
  margin-right: 22px;
}
.group:after {
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
*:first-child+html .group {
  min-height:1px;
}
* html .group {
  height:1%;
}
.fpt {
  display:none;
}
#printbtn {
  cursor:pointer;
  margin-right:8px;
}
.pageurl {
  display:none;
}
