#hp_sflash{text-align:center;}
.hp_right{float:right;}
.hp_left{float:left;}
#bd{clear:both;}
.hp_container{margin:20px 15px 15px;width:950px;overflow:hidden;color:#fff;}
.hp_2{color:#4d4d4d;font-size:15px;margin-top:0;}
#media{border:1px solid purple;}
.hp_text{width:49.2%;float:left;margin-bottom:-2000px;padding-bottom:2000px;}
.hp_text_left{background-color:#82408e;margin-right:5px;}
.hp_2 .hp_text_left{background-color:transparent;}
.hp_text_right{background-color:#4a79ad;}
.hp_2 .hp_text_right{background-color:transparent;}
.hp_content{margin:15px 10px;}
.advertiser_ft a,.smallbiz_ft a{color:#007aaa;text-decoration:none;}
.hp_text_left .hp_content .bg_hd_txt{background:url(http://l.yimg.com/a/i/us/ayc/static/assets/img//fk_bg_purple_top_3.jpg) no-repeat;padding:25px 20px 25px 20px;}
.hp_text_left .hp_content .bg_ft{background:url(http://l.yimg.com/a/i/us/ayc/static/assets/img//fk_bg_purple_bottom_1.jpg) no-repeat;background-position:bottom;padding:0 20px 20px 20px;}
.hp_text_right .hp_content .bg_hd_txt{background:url(http://l.yimg.com/a/i/us/ayc/static/assets/img//fk_bg_blue_top_3.jpg) no-repeat;padding:25px 20px 25px 20px;}
.hp_text_right .hp_content .bg_ft{background:url(http://l.yimg.com/a/i/us/ayc/static/assets/img//fk_bg_blue_bottom_1.jpg) no-repeat;background-position:bottom;padding:0 20px 20px 20px;}
.hp_content a.hp_cta{float:right;}
.hp_cta{background:transparent no-repeat bottom right;color:#000;text-decoration:none;text-align:center;cursor:hand;cursor:pointer;display:-moz-inline-grid;display:inline-block;padding:7px 0 0;vertical-align:middle;font-family:arial;font-size:120%;}
.hp_2 .hp_cta{float:right;margin:10px 0 20px 0;}
.hp_cta strong{background:transparent no-repeat bottom left;display:block;*display:inline-block;margin-right:7px;}
.hp_cta strong strong{background:transparent no-repeat top right;margin-right:-7px;position:relative;top:-7px;}
.hp_cta strong strong strong{background:transparent no-repeat top left;position:static;margin-right:7px;padding:.5em .9em .05em 1.1em;white-space:nowrap;font-size:15px;}
.hp_cta em{display:block;font:70% arial;padding:.1em 0;}
.hp_cta{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/yel_br.gif);}
.hp_cta strong{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/yel_bl.gif);}
.hp_cta strong strong{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/yel_tr.gif);}
.hp_cta strong strong strong{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/yel_tl2.gif);}
.hp_cta:hover{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/grn_br.gif);}
.hp_cta:hover strong{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/grn_bl.gif);}
.hp_cta:hover strong strong{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/grn_tr.gif);}
.hp_cta:hover strong strong strong{background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/nt/bn/cta/grn_tl.gif);}
.hp_content div.hdln{font-size:21px;}
.hp_2 .hp_content div.hdln{font-size:27px;text-align:center;}
.hp_2 .hp_text_left .hp_content .hdln{color:#7f3689;}
.hp_2 .hp_text_right .hp_content .hdln{color:#007aaa;}
.hp_content div.subhdln{text-transform:uppercase;margin-bottom:20px;}
.hp_2 .hp_content div.subhdln{margin:25px 0 10px 0;font-weight:bold;font-size:15px;}
.hp_content div.blk_txt{font-size:15px;}
.hp_2 .hp_content div.blk_txt{height:65px;}
.hp_content div.blk_txt a{color:#79c0ff;text-decoration:none;}
.advertiser_img,.smallbiz_img{display:block;width:400px;height:200px;margin:0 auto;line-height:200px;}
.advertiser_img img,.smallbiz_img img{vertical-align:middle;}
.hr_top{margin:0;clear:both;height:1px;border:none;line-height:1px;overflow:hidden;font-size:1px;}
.hr_bottom{background-color:#fff;color:#fff;margin:0 0 20px 0;height:1px;border:none;clear:both;line-height:1px;overflow:hidden;font-size:1px;}
.hp_text_left .hp_content .hr_top{background-color:#d7c1e0;}
.hp_text_right .hp_content .hr_top{background-color:#b4c7d1;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
 html{background:none;margin:0 auto;padding:0;}
#doc4{width:954px;height:100%;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/ayc/static/assets/img/shadow_mainmodbg.png) repeat-y;_background:#fff;padding:0 0px 0px;_padding:0;}
#bttmshdw{background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/ayc/static/assets/img/shadow_bottom.png) no-repeat scroll 0 0;height:9px;margin:0 auto;width:990px;_background:none;}
#hd{padding:0;}
#uh{background:transparent url(http://l.yimg.com/a/lib/uh/15/uh_sprites_1.5-1.0.3.png) top left repeat-x;}
#uh_topbar ul{font:10px arial;background:none;padding-bottom:10px;}
#uh_topbar li{display:block;float:left;background:url(http://us.i1.yimg.com/us.yimg.com/i/us/ayc/static/assets/img/univheader-eyebrowdivider.gif) no-repeat 0 center;}
#uh_topbar li.topbar_right{float:right;}
#uh_topbar li:first-child{background:none;}
#uh_topbar li.topbar_right{background:none;font-size:12px;color:#545454;}
#uh_topbar li a{display:block;text-decoration:none;color:#666;margin:4px 0 5px;padding:0 10px;outline:none;}
#uh_body a{display:block;float:left;padding-bottom:5px;}
#uh_body img{padding-left:10px;}
#uh_body .srch{background-position:0 -173px;background-repeat:repeat-x;border:none;}
#uh_body .sprite_bg{background:none}
#uh_body .sprite_uh{background-image:url(http://l.yimg.com/a/lib/uh/15/uh_sprites_1.5-1.0.3.png);}
#uh_body .srch{display:inline;float:right;margin:5px 10px 0 0;padding:0;text-align:left;width:457px;}
#uh_body form{border:none;*border-right-width:2px;_border-right-width:1px;display:block;font-size:100%;text-align:left;}
#uh_body .login{color:#666;font-family:arial;font-size:15px;float:right;margin:30px 20px 30px 0;padding:0;text-align:left;width:400px;}
#uh_body .login_content{dislplay:block;float:right;padding-left:10px;}
#ygma{*width:648px;_width:645px;}
#ygma #ygma-search input{width:284px;}
#uh_topbar li.topbar_right .sprite_bg ul.menu{background-image:none;background-color:#f6f6f6;border:1px solid #c3c3c3;}
#uh_topbar li.topbar_right .sprite_bg ul.menu li.menu_hd{border-bottom:1px solid #cacaca;font-size:12px;}
#uh_topbar li.topbar_right .sprite_bg ul.menu li a{font-size:12px;color:#707070;}
#uh_topbar li.topbar_right{margin-top:8px;}
#uh_topbar li.topbar_right a{display:inline;}
#uh_topbar li.topbar_right .sprite_bg{font-weight:bold;background-image:url(http://l.yimg.com/a/i/us/uh/bt2/sprite_v1.png);background-position:100% -53px;background-repeat:no-repeat;display:inline;float:left;color:#666;}
#uh_topbar li.topbar_right .sprite_bg a{font-weight:bold;margin-right:10px;padding-right:12px;}
#uh_topbar li.topbar_right .sprite_bg a:hover{text-decoration:underline;}
#uh_topbar li.topbar_right .sprite_bg ul.menu{list-style-type:none;margin:0;padding:0 0 5px 0;position:absolute;white-space:nowrap;z-index:9999;background-position:0 -383px;background-color:#cadde0;background-repeat:repeat-x;border:1px solid #666;}
#uh_topbar li.topbar_right .sprite_bg .visible{display:block;}
#uh_topbar li.topbar_right .sprite_bg .hidden{display:none;}
#uh_topbar li.topbar_right .sprite_bg ul.menu li{padding:3px 10px;margin:0;font-weight:normal;float:none;background:none;border-bottom:none;list-style-position:outside;}
#uh_topbar li.topbar_right .sprite_bg ul.menu li a{background:none;padding:0;margin:0;font-weight:normal;}
#uh_topbar li.topbar_right .sprite_bg ul.menu li.menu_hd{font-weight:bold;padding:7px 10px;border-bottom:1px solid #666;margin:0 0 5px 0;}
#uh_topbar li.topbar_right .sprite_bg ul.menu li.last-child{background:#fcfcfc none repeat scroll 0 0;border-bottom:1px solid #b9b9b9;border-top:1px dotted #d4d4d6;color:#000;}
div.yuimenu{position:absolute;visibility:hidden;}
#sbloginbtn{background-color:transparent;border:medium none;cursor:pointer;display:block;font-family:Arial,sans-serif;font-size:0.76em;font-weight:normal;line-height:1.45em;margin:0;padding:1px 1em;}
#site-footer{padding:1px 0 15px;text-align:center;font:11px Arial;color:#ccc;}
#site-footer strong{font-weight:bold;}
#site-footer a{color:#ccc;text-decoration:none;}
#site-footer a:hover{text-decoration:underline;}
#ft{font-size:11px;padding:0 20px 20px;clear:both;color:#ccc;width:930px;text-align:left;background:none;margin:0 auto;height:100%!important;height:0;}
#promoClear{clear:both;}
.cta-module sup{font-size:10px;}
sup{vertical-align:super;}
sub{vertical-align:sub;}
.conceal{display:none;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
#ygma ul.menu{font-family:verdana,sans-serif;font-size:1em;font-weight:normal;line-height:1.1231;}
#ygma a.ygmashp{position:absolute!important;}
#ygmabot{position:relative!important;margin-top:0!important;padding-bottom:13px;clear:both;}
.bt1 #ygmalogo{position:relative!important;}
.bt1 #ygmauser{position:relative!important;}
#ygma #ygmalogo{margin-left:0!important;}
#yent-uhdr{display:none!important;}
#ygma{position:static!important;}
#ygmanav{color:#333;}
#ygmanav a{font-weight:bold;color:#753e82;}
#ygmaheader{background:url(<?php print $image_path;?>/bg-header.png) repeat-x scroll top;}
#loginpanel{font-size:13px;background:#fff;}
#loginpanel.yui-panel{border:4px solid #FFAE00;background-color:#fff;}
#loginpanel .bd{width:auto;}
#loginpanel h2{font-size:93%;font-weight:bold;color:#FB8801;padding-bottom:0.5em;}
#loginpanel li{padding-left:23px;line-height:1.231em;}
#loginpanel .ft li{list-style-type:disc;list-style-position:inside;padding-left:10px;line-height:1.231em;}
#loginpanel .ft{font-size:100%;}
#loginpanel a{font-size:100%;font-weight:normal;color:#007AAA;}
#loginpanel .hd,#loginpanel .bd,#loginpanel .ft{border:none;background:#fff;}
#loginpanel li a{padding:0;float:none;}

