/* page layout */

.layoutVid {padding-bottom:10px; font-family:Arial, Helvetica, sans-serif;}

.layoutVid #left_column,
.layoutVid #right_column,
#vid_share,
#ad_share
{display:block;float:left;}

.layoutVid #left_column {width:636px;padding-left:10px;font-size: 10px;}
.layoutVid #right_column {width:303px;}
#vid_share {width:134px;}
#ad_share {width:300px;}

.vid_player {display:block;float:left;}

#vid_ad {margin-bottom:45px;width:300px;height:250px;}

/* tabbed module */

/* tab_1 visible */
.tab_comedian_vis .tab_comedian_cont {visibility:visible; display:inline; width:450px;}
.tab_comedian_vis .tab_related_cont {visibility:hidden; display: none;}
.tab_comedian_vis .tab_more_cont {visibility:hidden; display: none;}
.tab_comedian_vis .tab_search_cont {visibility:hidden; display: none;}
.tab_comedian_vis .tabs {
background: transparent url(/sitewide/images/sprites/module_sprite.gif) repeat scroll -1129px -675px;}


/* tab_2 visibile */
.tab_related_vis .tab_comedian_cont {visibility:hidden; display:none;}
.tab_related_vis .tab_related_cont {visibility:visible; display:inline;}
.tab_related_vis .tab_more_cont {visibility:hidden; display: none;}
.tab_related_vis .tab_search_cont {visibility:hidden; display: none;}

/* tab_3 visibile */
.tab_more_vis .tab_comedian_cont {visibility:hidden; display:none;}
.tab_more_vis .tab_related_cont {visibility:hidden; display: none;}
.tab_more_vis .tab_more_cont {visibility:visible; display:inline;}
.tab_more_vis .tab_search_cont {visibility:hidden; display: none;}

/* tab_4 visibile */
.tab_search_vis .tab_comedian_cont {visibility:hidden; display:none;}
.tab_search_vis .tab_related_cont {visibility:hidden; display: none;}
.tab_search_vis .tab_more_cont {visibility:hidden; display: none;}
.tab_search_vis .tab_search_cont {visibility:visible; display:inline;}

.tab_related_vis .tabs {
background: transparent url(/sitewide/images/sprites/module_sprite.gif) repeat scroll -1129px -729px;}
.tab_more_vis .tabs {
background: transparent url(/sitewide/images/sprites/module_sprite.gif) repeat scroll -1129px -729px;}
.tab_search_vis .tabs {
background: transparent url(/sitewide/images/sprites/module_sprite.gif) repeat scroll -1129px -729px;}

.tabNav {height:30px;text-align:center;}
.tabNav div {display:block;float:left;height:30px;background:#fff;}

.tabNav a {font: bold 14px/30px arial, sans-serif;color:#2d2d2d;text-decoration:none;padding:0 15px;}

.tab_comedian_cont .tabNav .inactive {background:#ddd url(/sitewide/images/video/video_tabs_right.gif) no-repeat top left;}
.tab_related_cont .tabNav .inactive {background:#ddd url(/sitewide/images/video/video_tabs_left.gif) no-repeat top right;}
.tab_more_cont .tabNav .inactive {background:#ddd url(/sitewide/images/video/video_tabs_left.gif) no-repeat top right;}
.tab_search_cont .tabNav .inactive {background:#ddd url(/sitewide/images/video/video_tabs_left.gif) no-repeat top right;}

#vid_tabs {clear:both;}

.tabbed_content {background:#fff;border-width: 0 1px 1px 1px; border-color: #c3c2bd; border-style:solid;height:500px;overflow:auto; *height:100%; _height:100%;*overflow:visible; _overflow:visible;}

.moduleMorevideos {width:430px;height:auto;overflow:hidden;position:relative; padding:0px; margin:0 0 0 -130px; display:block; font-size: 10px;}

.moduleMorevideos a {color: #0094af;text-decoration: none;}
.moduleMorevideos a:hover {color: #d40807;text-decoration: none;}
.moduleMorevideos h3 {font-size: 10px; color: #767676;}
.moduleMorevideos p{ padding:0; margin:0 0 5px 0;}
.moduleMorevideos .header{background:transparent url(/sitewide/images/sprites/module_sprite.gif) no-repeat -1275px -12px; height:40px; width:394px; float:left; margin:10px 0 10px 0;}

.moduleMorevideos .Container {width: 418px; overflow:hidden; padding: 0px 0px 0px 10px;background:#fff}
.moduleMorevideos .Left { float:left; width: 100px;}
.moduleMorevideos .Left a { position:relative;display:block;width:88px;height:66px;}
.moduleMorevideos .Left img { border:#666666 solid 1px;}
.moduleMorevideos .Center { float:left; width: 196px; overflow:hidden;}

.layoutVid #right_column .moduleMorevideos .Center { float:left; width: 273px; overflow:hidden;}

.moduleMorevideos .Center h4 { font-size: 10px;}
.moduleVideolist .Center h4 a {font-size: 10px; font-weight: bold;}
.moduleVideolist .Center h4 a:link, .moduleVideolist .Center h4 a:visited {padding-right: 5px;}
.moduleMorevideos .Right { float:right; width: 100px; margin-right: 20px;}
.moduleMorevideos .line { margin: 7px 5px 7px 5px;}
.moduleMorevideos .clear { clear:both; margin: 0px; padding: 0px;}
.moduleMorevideos .seeAll { float:right; margin: 10px 15px 10px 0px; font-size: 12px; font-weight:bold;}
.moduleMorevideos span.seeAll a:link, .moduleMorevideos span.seeAll a:visited{ color: #0094af;}
.moduleMorevideos span.seeAll a:hover{ color: #d40807;}

.moduleMorevideos h2 {font-size:12px; font-weight:bold; color:#d40807; width: 434px;}
.moduleMorevideos h2,
.moduleMorevideos h2 a:link, .moduleMorevideos h2 a:visited {color:#0094af; padding:5px 0 3px 0; }
.moduleMorevideos h2 a:hover {color:#d40807;}
.moduleMorevideos .jokeTitle a:hover{color:#0094af;}
.moduleMorevideos .textHolder{height:auto; width:520px; display:block; float:left;}
.moduleMorevideos .middleText{padding:0; font-weight:normal; font-size:12px; color:#333333;}
.moduleMorevideos .middleTextBold{font-weight:bold; font-size:14px;}
.moduleMorevideos .middleText a{color:#0094af; font-weight:bold; text-decoration:none;}
.moduleMorevideos .middleText a:hover{color:#d40807;}
.moduleMorevideos .categoryIcons{display:block; margin:0;}
.moduleMorevideos .postedText{font-family:Arial; font-size:11px; color:#767676; padding:0;}
.moduleMorevideos .postedText a{color:#0094af;}
.moduleMorevideos .postedText a:hover{color:#d40807;}

.moduleMorevideos a.tagString:link,
.moduleMorevideos a.tagString:visited {color:#767676;}
.moduleMorevideos a.tagString:hover {color:#0094AF;}

.moduleMorevideos .seeAll a:link,
.moduleMorevideos .seeAll a:visited {color:#0094af;}

.moduleMorevideos  .playArrow {
background:transparent url(/sitewide/images/sprites/icon_sprite.png) repeat scroll -1px -100px;
height:9px;
width:13px;
overflow:hidden;
position:absolute;
top:54px;
left:74px;
}

/* Tabs Section */

.moduleMorevideos .tabs {
font-size:11px;
font-weight:bold;
height:31px;
text-align:center;
width:434px;
overflow:hidden;
}

.moduleMorevideos .tabs ul { float:left; list-style:none; padding-left: 1px; width: 440px; display:block; }

.moduleMorevideos .tabs li { float:left; list-style:none; height: 29px; width: 101px; display:block; padding-top: 2px; padding-right:2px;}

.moduleMorevideos .tabs li a { height:29px;  display:table-cell; vertical-align:middle;  text-decoration:none; color: #d40807; line-height: 15px; width:101px;padding:0 4px;}
.moduleMorevideos .tabs li.cur a { color: #d40807; color: #fff;}

/* search */
.moduleSearch {width: 434px; padding: 9px 0px 5px 10px; margin:0 0 0 -130px; background-color: #FFFCE1; display:block; font-size: 11px;position:relative;}
.moduleSearch h3 {font-size: 10px; color: #767676;}
.moduleSearch p{ padding:0; margin:0 0 5px 0;}
.moduleSearch a:link, .moduleSearch a:visited {color: #0094af;text-decoration: none;}
.moduleSearch a:hover {color: #d40807;text-decoration: none;}

.moduleSearch h2 {font-size:12px; font-weight:bold; color:#0094af; padding:0px; margin:5px 0 3px; 0; width: 434px;}
.moduleSearch input.cleardefault { background:url(/sitewide/images/video/SearchField_RightCol.gif) top left no-repeat; border: 0px; width: 260px; height: 22px; padding: 3px; 0px 0px 3px;}

.moduleSearch .goButton { display: block; width: 33px; height: 20px; background: url(/sitewide/images/video/Button_Go.gif) no-repeat 0 0; margin-top: 1px;}
.moduleSearch .goButton:hover { background-position: 0 -20px; }
.moduleSearch .goButton span { display: none; }
.moduleSearch .followSearch { float:left; width: 263px;}
.moduleSearch .followButton { float:left; width: 35px;}


.layoutVid a { color: #0094af;text-decoration: none;}
.layoutVid a:hover {color: #d40807;text-decoration: none;}
.layoutVid h3 { font-size: 11px; color: #767676; border-bottom: #999999 solid 1px;}
.layoutVid h3 span { font-size: 12px; font-weight:bold; color: #333333;}
.layoutVid p{ padding:0; margin:0 0 5px 0;}

.vid_hdr .header { background:url(/sitewide/images/video/Header_HTML_Left.gif) no-repeat top left; height:30px; float:left; font-size:18px; padding: 4px 0 10px 8px;color:#D40807;}
.vid_hdr .PrevNext { float:right; padding: 10px 10px 0 0;}

.vid_hdr .PrevNext #prev,
.vid_hdr .PrevNext #next {margin:0;padding:0;display:block;float:left;height:20px;}

.vid_hdr .PrevNext #prev {width:113px;background:url(/sitewide/images/video/Button_PrevVideo_OFF.gif);}
.vid_hdr .PrevNext #prev:hover {background:url(/sitewide/images/video/Button_PrevVideo_ON.gif);}

.vid_hdr .PrevNext #next {width:87px;background:url(/sitewide/images/video/Button_NextVideo_OFF.gif);}
.vid_hdr .PrevNext #next:hover {background:url(/sitewide/images/video/Button_NextVideo_ON.gif);}

.layoutVid #left_column .playerPlay span { font-size: 12px; font-weight:bold; color:#333333;}
.layoutVid #left_column .playerPlay span a:link { font-size: 12px; font-weight:bold; color:#0094af;}
.layoutVid #left_column .playerPlay span a:hover { font-size: 12px; font-weight:bold; color:#d40807;}
.layoutVid #left_column .playerPlay .vid { padding: 8px 0px 0px 10px;}

.playerTop {width:496px;height:8px;overflow:hidden;}
.playerBg {width:496px;background-color: #0095ae;}
.playerBg #video_player {margin-left:8px;}
.playerBg #videoPlayer{height:360px;}
.playerBot {width:496px;height:8px;overflow:hidden;background-color: #0095ae;}
.shareVideoModule {display:block;float:left;}

/* -- Info Video -- */
.layoutVid #left_column .videoPlayer .imgPlayerVideo {float:left;}
#vid_share .infoVideo {float:left; font-weight:bold; font-size:11px; color:#FFFFFF; width:130px; padding-top:5px;}

#vid_share .infoVideo ul li {list-style:none; padding-bottom:5px; padding-top:5px; background:url(/sitewide/images/video/VideoPlayer_Divider.gif) repeat-x bottom left;}
#vid_share .infoVideo li div.popOut { list-style:none; background:url(/sitewide/images/video/VideoPlayer_PopOut.gif) no-repeat left center; padding-left:25px; }
#vid_share .infoVideo li div.popOut a{color:#FFFFFF; font-size:11px;}
#vid_share .infoVideo ul li div div .button {position:absolute; width:35px; height:13px;}
#vid_share .infoVideo ul li div div .button a{background:url(/sitewide/images/video/Button_Copy_blue_OFF.gif) no-repeat; display:block;}
#vid_share .infoVideo ul li div div .button a:hover{background:url(/sitewide/images/video/Button_Copy_blue_ON.gif) no-repeat;}
#vid_share .infoVideo ul li div {padding-bottom:5px; }
#vid_share .infoVideo div.comedian p {margin:0; padding:0;}
#vid_share .infoVideo div.comedian {padding-top:5px;}
#vid_share .infoVideo div.comedian .viewprofile {padding-top:5px; text-align:center; }
#vid_share .infoVideo div.comedian .viewprofile a {color:#FFFFFF;}

#vid_share .infoVideo ul li .addto .clear{clear:both;}
#vid_share .infoVideo ul li .addto .icon1 {width:15px; height:15px; float:left; padding-right:3px;}
#vid_share .infoVideo ul li .addto .icon1 a {background:url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -350px; display:block;}

#vid_share .infoVideo ul li .addto .icon2 {width:15px; height:15px; float:left; padding-right:3px;}
#vid_share .infoVideo ul li .addto .icon2 a {background:url(/sitewide/images/sprites/icon_sprite.gif) no-repeat 0 -250px; display:block;}
#vid_share .infoVideo ul li .addto .icon3 {width:15px; height:15px; float:left; padding-right:3px;}
#vid_share .infoVideo ul li .addto .icon3 a {background:url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -450px; display:block;}
#vid_share .infoVideo ul li .addto .icon4 {width:15px; height:15px; float:left; padding-right:3px;}
#vid_share .infoVideo ul li .addto .icon4 a {background:url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -477px; display:block;}
#vid_share .infoVideo ul li .addto .icon5 {width:15px; height:15px; float:left; padding-right:3px;}
#vid_share .infoVideo ul li .addto .icon5 a {background:url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -400px; display:block;}
#vid_share .infoVideo ul li .addto .icon6 {width:15px; height:15px; float:left; padding-right:3px;}
#vid_share .infoVideo ul li .addto .icon6 a {background:url(/sitewide/images/sprites/icon_sprite.gif) no-repeat 0 -350px; display:block;}

.video_player .Container { float:left; width: 488px; padding-left:10px; background-color:#FFFFFF;}
.video_player .Container a:link, .video_player .Container a:visited { color: #0094af;}
.video_player .Container a:hover { color: #d40807;}
.video_player .Left { float:left; width: 100px; margin-right: 10px;}
.video_player .Left img { border:#666666 solid 1px;}
.video_player .Center { float:left; width: 360px; overflow:visible; padding-bottom:5px;}
.video_player .Center .tagContainer{font-size: 11px; color: #D40807; font-weight: bold; margin-left: 13px;}
.video_player .Center h2{display: inline; font-size: 11px; margin-left:0}
.moduleVideolist .Center h2 a {font-size: 10px; font-weight: bold;}
.moduleVideolist .Center h2 { padding-right: 5px;}
.video_player .Right { float:right; width: 110px; margin-right: 10px;}
.video_player .line { margin: 7px 5px 7px 5px;}
.video_player .clear { clear:both; margin: 0px; padding: 0px;}
.video_player .seeAll { float:right; margin: 10px 15px 10px 0px; font-size: 12px; font-weight:bold;}
.video_player span.seeAll a:link, .video_player span.seeAll a:visited{ color: #0094af;}
.video_player span.seeAll a:hover{ color: #d40807;}

.video_player h1 {font-size:18px; font-weight:bold; color:#d40807; margin-left: 13px; width: 98%;}
.video_player h2,
.video_player h1,
.video_player a:link, .video_player a:visited {color:#d40807;}
.video_player a:hover {color:#0094af;}
.video_player .jokeTitle a:hover{color:#0094af;}
.video_player .textHolder{height:auto; width:520px; display:block; float:left;}
.video_player .middleText h3{padding:5px 0 0 0; font-weight:normal; font-size:12px; color:#333333; border:none !important}
.video_player .middleTextBold{font-weight:bold; font-size:14px;}
.video_player .middleText a{color:#0094af; font-weight:bold; text-decoration:none;}
.video_player .middleText a:hover{color:#d40807;}
.video_player .categoryIcons{display:block; margin:0;}
.video_player .postedText{font-family:Arial; font-size:11px; color:#767676; padding:0;}
.video_player .postedText a{color:#0094af;}
.video_player .postedText a:hover{color:#d40807;}
.video_player h2 a.tagString:link, .video_player h2 a.tagString:visited {text-decoration:underline;}



#urlEmbed {width:88px;margin-bottom:2px;font: normal 12px arial, sans-serif;}
#videoEmbed {width:88px;height:13px;margin-bottom:2px;overflow:hidden;font: normal 12px arial, sans-serif;}

/* Tabs Section */
.video_player .face { float:left; list-style:none; height: 79px; width: 64px; display:block; overflow:hidden;}
.video_player .face a { height: 79px; background-repeat: no-repeat;background-position: 0 0; text-decoration:none; color: #d40807;}
.video_player .face a:hover { height: 79px; background-repeat: no-repeat;background-position: -64px 0; text-decoration:none; color: #fff;}
.video_player a.face span { display:none; }
.video_player .performerLinks { float:left; width: 350px; margin: 10px 0 0 10px; font-size:12px;}

.layoutVid .video_player .performerLinks {width: 270px;}

.video_player .performerLinks .icon { float:left; width: 100%; height:15px; background: #FFFFFF url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -74px; margin-bottom:1px;}
.video_player .performerLinks .icon a.links{ padding-left: 23px; font-weight:bold; }
.video_player .performerLinks .performLine { float:left; height: 5px; width:80%; margin-bottom: 5px; border-bottom: #0094af solid 1px;}

.video_player .performerLinks .icon2 { float:left; width: 100%; height:15px; background:url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -149px; margin-bottom:1px;}
.video_player .performerLinks .icon2 a.links{ padding-left: 27px; }
.video_player .performerLinks .icon3 { float:left; width: 100%; height:15px; background:url(/sitewide/images/video/Jokes_icon_sprite.gif) no-repeat 0 -850px; margin-bottom:1px;}
.video_player .performerLinks .icon3 a.links{ padding-left: 27px; }

/* Related jokes */
.layoutVid #right_column .moduleRelatedjokes {width:430px;height:auto;overflow:hidden;position:relative; padding:0px; margin:0 0 0 -130px !important; display:block; font-size: 10px;background-color: #FFFCE1;}
.layoutVid #right_column .moduleRelatedjokes a {color: #0094af;text-decoration: none;}
.layoutVid #right_column.moduleRelatedjokes a:hover {color: #d40807;text-decoration: none;}
.layoutVid #right_column .moduleRelatedjokes h3 {font-size: 10px; color: #767676; font-weight:normal;border:0;}
.layoutVid #right_column .moduleRelatedjokes p{ padding:0; margin:0 0 0 0;}
.layoutVid #right_column .moduleRelatedjokes .header{background:transparent url(/sitewide/images/sprites/module_sprite.gif) no-repeat -212px -667px; height:40px; width:190px; margin:10px 0;}

.layoutVid #right_column .moduleRelatedjokes a.readMore {color:#0094AF!important; font-size:12px;font-weight:bold;}
.layoutVid #right_column .moduleRelatedjokes a.readMore:hover {color:#d40807!important;}

.layoutVid #right_column .moduleRelatedjokes .Container { float:right; width: 520px; padding: 0px 0px 0px 5px; margin-bottom:0!important;}
.layoutVid #right_column .moduleRelatedjokes .Left { float:left; width: 300px; padding: 0 10px;}
.layoutVid #right_column .moduleRelatedjokes .Right { float:right; width: 100px; margin: 5px 20px 0 0;}
.layoutVid #right_column .moduleRelatedjokes .line { margin: 7px 5px 7px 5px;}
.layoutVid #right_column .moduleRelatedjokes .clear { clear:both; margin: 0px; padding: 0px;}
.layoutVid #right_column .moduleRelatedjokes .seeAll { float:right; margin: 10px 15px 10px 0px; font-size: 12px; font-weight:bold;}
.layoutVid #right_column .moduleRelatedjokes span.seeAll a:link, .moduleRelatedjokes span.seeAll a:visited{ color: #0094af;}
.layoutVid #right_column .moduleRelatedjokes span.seeAll a:hover{ color: #d40807;}

.layoutVid #right_column .moduleRelatedjokes h2  { font-size:12px; font-weight:bold; color:#d40807; margin:5px 0 0 0;background:transparent url(/sitewide/images/video/iconMoreJokes.gif) no-repeat scroll 0 0;padding-left:22px;}
.layoutVid #right_column .moduleRelatedjokes h2 .explicitness {float:left;background:transparent url(/sitewide/images/video/iconMoreJokes.gif) no-repeat scroll 0 0;color:#d40807; padding:0 0 0 3px;overflow:hidden;width:18px;height:15px; }
.layoutVid #right_column .moduleRelatedjokes h2,
.layoutVid #right_column .moduleRelatedjokes a:link, .moduleRelatedjokes a:visited {color:#d40807;}
.layoutVid #right_column .moduleRelatedjokes a:hover {color:#0094af;}
.layoutVid #right_column .moduleRelatedjokes .jokeTitle a:hover{color:#0094af;}
.layoutVid #right_column .moduleRelatedjokes .textHolder{height:auto; width:520px; display:block; float:left;}
.layoutVid #right_column .moduleRelatedjokes p {padding:0; font-weight:normal; font-size:12px; color:#333333;}
.layoutVid #right_column .moduleRelatedjokes .middle {padding:0;width:430px;border:1px solid #CCCCCC;height:500px;overflow-x:hidden;overflow-y:scroll; margin-bottom:20px;}
.layoutVid #right_column .moduleRelatedjokes .middleTextBold{font-weight:bold; font-size:14px;}
.layoutVid #right_column .moduleRelatedjokes .middleText a{color:#0094af; font-weight:bold; text-decoration:none;}
.layoutVid #right_column .moduleRelatedjokes .middleText a:hover{color:#d40807;}
.layoutVid #right_column .moduleRelatedjokes .categoryIcons{display:block; margin:0;}
.layoutVid #right_column .moduleRelatedjokes .postedText{font-family:Arial; font-size:11px; color:#767676; padding:0;}
.layoutVid #right_column .moduleRelatedjokes .postedText a{color:#0094af;}
.layoutVid #right_column .moduleRelatedjokes .postedText a:hover{color:#d40807;}
.layoutVid #right_column .moduleRelatedjokes .viewedCount{font-weight:bolder;}

.layoutVid #right_column .moduleRelatedjokes a.tagString:link,
.layoutVid #right_column .moduleRelatedjokes a.tagString:visited {color:#767676;}
.layoutVid #right_column .moduleRelatedjokes a.tagString:hover {color:#d40807;}

/* overrides for Jokes related videos */
.layoutVid #right_column .moduleRelatedVideo {width:422px;}
.layoutVid #right_column .moduleRelatedVideo .middle {padding:0;width:422px;background:#fff;}
.layoutVid #right_column .moduleRelatedVideo .header {display:none;}
.layoutVid #right_column .moduleRelatedVideo .Left {margin-right:0;}
.layoutVid #right_column .moduleRelatedVideo .Right {padding:0;}
.layoutVid #right_column .moduleRelatedVideo .Right h3 {font-size:11px;font-weight:normal;}

.layoutVid #right_column .moduleRelatedjokes .divider {
background:transparent url(/sitewide/images/sprites/divider_sprite.gif) no-repeat scroll -4pt -50px;
width:500px;
}
.layoutVid #right_column .moduleMorevideos .divider_600 {background:url(/sitewide/images/video/Divider_405.gif);width:367px;height:1px;margin: 7px 5px 7px 27px;}


/* override Flux */
.Flux .FluxWidget .itemDescr a{
	color:#0094AF !important;
	text-decoration:none !important;
}

.Flux .FluxWidget .itemDescr a:hover{
	color:#D40807 !important;
	text-decoration:none !important;
}

/* Usage widget */
.Flux .FluxWidget .usage{
	position:relative !important;
	top:6px !important;
	left:10px !important;
	width:22px;
}

.Flux .comments {
	width:50px !important;
	position:relative;
	font-family:arial !important;
	font-size:20px !important;
	color:#cc0000 !important;
	font-weight:bold;
}

/* additive for copy buttons */
.shareVideo div, .embed div {display:block;float:left;}
a.button, .copyButtonE  {
	width:35px;
	height:13px;
	background:transparent url(/sitewide/images/video/Button_Copy_blue_OFF.gif) no-repeat scroll 0 0;   
	display:block;
	text-indent:-2000px;
	cursor:hand;
	float:left;
}
		
a.button.hover, .copyButtonE.hover {
	background:transparent url(/sitewide/images/video/Button_Copy_blue_ON.gif) no-repeat scroll 0 0;
}

#videoPlayerWrapper #videoPlayer {
	margin-left:8px;
}

.playerBg #video_player {
	margin:0px!important;
}
