/* --- broadband help --- */
/* based on ybbreg.css */
/* feedback-specific overrides and extra styles */

textarea { font-size: 1em; font-family: Arial,sans-serif; color: #404040; width: 98%; margin: 10px 0; }


/* style block for #mcBigButtons component */	
.button-group {
   margin:3em auto;   
   text-align:center;
   width:55em;
}

.button-group .inner {
   border-spacing:8px;   
   display:table;   /* we want table layout algo without tabular markup */
   margin:auto;
}
.button-group a {
   background: #ccc url(../imgs/bg_ybc.gif) repeat-x;
   border:1px solid #9a9a9a;
   color:#000;
   display:table-cell;
   font:100% arial;
   text-decoration:none;
   vertical-align:middle;
   width:15em;   
}

.button-group a:hover {
    text-decoration: underline;
}


#button-group1 a, #button-group3 a { /* smaller for these */
   width:14em;
}

.button-group strong {
   display:block;
   font-weight:bold; /* Ugh, shouldnt have to fight reset.css */  
   padding:10px 20px;
   vertical-align:middle;   
}

/* IE only */

.button-group a {
   *display:inline-block;  
   *width:14.2em;
   *height:2.5em; /* needs fixed height */
   *margin:8px 2px; 
}

.button-group strong {
   *position:relative;
   behavior:expression(
      void(	this.style.top = (this.parentNode.offsetHeight - this.offsetHeight) / 2 + 'px' ),
      void(	this.runtimeStyle.behavior = 'none' )
   );
}

/* end IE */


/* vertical rule */
.ybb_cont_vr_fb { border-right: 1px solid #9A9A9A; margin: 0; padding: 0 1em 0 0; }
.ybb_cont_vr_fb { min-height: 22em; height: auto; }
/* min-height for Internet Explorer */
/*\*/* html .ybb_cont_vr_fb { height: 22em; }/**/

