
#zg{position:relative;min-width:1200px;width:100%;}
#zg a{font-family:arial;cursor:pointer;}
#zg span,
#zg div{font-family:arial;font-size:13px;line-height:13px;}
#zg h1{color:#E47911;font-size:18px;margin:20px 0 10px 0;padding:0;font-family:verdana,arial,sans-serif;}
#zg h2{font-size:11px;margin:5px 0 10px 0;padding:0;font-weight:normal;font-family:verdana,arial,sans-serif;}
#zg h3{color:#E47911;font-size:14px;margin:10px 0;padding:0;}
#zg h4{color:#333;font-size:16px;}
#zg img{border:0;position:relative;}
#zg ul{list-style:none;margin:0 0 0 10px;padding:0;}
#zg a{text-decoration:none;}
#zg a:hover{text-decoration:underline;}
#zg a:visited{color:#039;}
#zg p{margin:4px 0 6px 0;padding:0;line-height:18px;}
#zg #zg_centerCol{position:relative;margin-left:200px;width:800px;}
#zg #zg_centerColInner{position:relative;}
#zg #zg_centerCol > div{position:relative;min-height:1300px;}
#zg #zg_leftCol{position:absolute;top:40px;left:0;width:200px;}
#zg #zg_rightCol{position:absolute;top:40px;right:40px; width:200px;}
#zg .crAvgStars *{font-size:11px;}
#zg .zg_clear{clear:both;}
#zg .zg_debug{font-family:monospace;margin:10px 0;color:red;}
#zg h4.zg_debug{line-height:22px;font-size:14px;}
#zg .zg_debug label{display:block;}
#zg .zg_debug a{font-family:monospace;text-decoration:underline;}
#zg .zg_string{display:none;}
#zg .zg_item .zg_whyPaidFree{font-size:11px;line-height:15px;}
#zg .zg_item .zg_whyPaidFree a{font-size:11px;text-decoration:underline;}
#zg .zg_bullet{font-weight:bold;color:#C60;font-size:14px;}
#zg #zg_listTypeDescription{clear:both;padding:10px 0;}
#zg .zg_homeWidget{clear:both;padding:20px 0 0 0;width:750px;position:relative;}
#zg .zg_homeWidget h3{margin:0 0 0 5px;}
#zg .zg_homeListLink{margin:5px 0 10px 5px;}
#zg .zg_homeListLink a{font-weight:bold;text-decoration:underline;}
#zg #zg_paidAndFreeList{width:800px;}
#zg .zg_listCol{float:left;margin:0;width:370px;}
#zg #zg_bsarListTitle h2{display:inline;}
#zg #zg_bsarCalendar h2{clear:both;font-weight:bold;
  color:#E47911;font-size:17px;font-family:arial;
  margin:15px 0 10px 0;padding:0;}
#zg #zg_bsarCalendar ol{margin:10px 0 10px 0;padding:0;}
#zg #zg_bsarCalendar li{display:inline;padding:3px;line-height:20px;}
#zg #zg_bsarCalendar li.zg_selected{border:1px solid #C60;}
#zg #zg_bsarCalendar li.zg_selected a{font-weight:bold;color:#C60;text-decoration:none;}
#zg #zg_bsarCalendar label{display:inline;padding:5px 0;}
#zg #zg_tabs{background:color:#FFF;border-bottom:1px solid #afcee2;font-weight:bold;margin:10px 0 5px 0;padding:0;width:100%;}
#zg #zg_tabs li{display:inline-block;padding:3px 0 0 0;}
#zg #zg_tabs li a{display:inline-block;text-decoration:none;}
#zg #zg_tabs li{background:#ebf1ff url(http://g-ecx.images-amazon.com/images/G/01/zeitgeist/tabs/tab_left._V211696559_.gif) no-repeat scroll left top;color:#032E97;float:left;margin-right:5px;padding:0;position:relative;top:1px;}
#zg #zg_tabs li div{background:transparent url(http://g-ecx.images-amazon.com/images/G/01/zeitgeist/tabs/tab_right._V211696553_.gif) no-repeat scroll right top;padding:5px 10px 4px;border-bottom:1px solid #afcee2;font-size:13px;}
#zg #zg_tabs li div a{text-decoration:none;color:#146EB4;font-family:arial;font-size:13px;line-height:16px;}
#zg #zg_tabs li.zg_selected{background-image:url(http://g-ecx.images-amazon.com/images/G/01/zeitgeist/tabs/tab_selected_left._V211696554_.gif);background-color:#fff;color:#E47911;cursor:default;}
#zg #zg_tabs li.zg_selected div{background-image:url(http://g-ecx.images-amazon.com/images/G/01/zeitgeist/tabs/tab_selected_right._V211696552_.gif);padding-bottom:4px;border-bottom:1px solid #fff;}
#zg #zg_tabs li.zg_selected div a{color:#E47911;}
#zg ul#zg_browseRoot{margin:8px 5px 0 10px;padding:0;}
#zg ul#zg_browseRoot li{padding:8px 0 0 0;margin:0;position:relative;}
#zg ul#zg_browseRoot li.zg_browseUp{left:-5px;}
#zg ul#zg_browseRoot li a{}
#zg ul#zg_browseRoot li a:hover{color:#E47911;}
#zg ul#zg_browseRoot a.zg_selected{font-weight:bold;color:#E47911;}
#zg ul#zg_browseRoot a.zg_selected:hover{text-decoration:none;}
#zg .zg_displayAd{margin:30px 5px 20px 5px;}
#zg .rcmBody{border:1px solid #C9E1F4;padding:5px 8px 8px 8px;margin:0;font-family:verdana,arial,helvetica,sans-serif;}
#zg .rcmBody h2{font-size:13px;font-weight:bold;padding:0;margin:0 0 5px 0;}
#zg div.rcmBody, amabot_widget div.rcmBody{line-height:1.4em;}
#zg div.rcmBody a:link, div.rcmBody a:visited{text-decoration:underline;}
#zg div.unified_widget a:link, div.unified_widget a:visited{text-decoration:underline;}
#zg .zg_arrowSprite{display:inline-block;margin:0 0 0 2px;padding:0;
  position:relative;vertical-align:middle;
  background:url(http://g-ecx.images-amazon.com/images/G/01/x-locale/common/icons/up_down_arrows._V245851576_.png) no-repeat;
}
#zg .zg_arrowSprite{width:15px;height:15px;}
#zg .zg_arrowSprite span{position:absolute;top:-9999px;}
#zg .zg_arrowUp{background-position:0px -8px;}
#zg .zg_arrowDown{background-position:-19px -8px;}
#zg ol.zg_list{list-style:none;margin:0;padding:10px 0;width:100%;}
#zg ol.zg_list li{padding:5px 0 15px 0;clear:both;position:relative;}
#zg .zg_image{width:170px;text-align:center;}
#zg .zg_item .zg_rank{font-weight:bold;font-size:16px;line-height:18px;}
#zg .zg_item a{color:#039;}
#zg .zg_item *{font-family:arial, sans-serif;font-size:13px;}
#zg .zg_item .zg_daysInList{font-size:10px;color:#666;line-height:11px;font-weight:normal;}
#zg .zg_itemDetails{margin-top:2px;line-height:16px;}
#zg .zg_itemByline b{font-size:13px;font-weight:normal;}
#zg .zg_itemPlatform{margin:6px 0 0 0;font-size:11px;}
#zg .zg_itemPlatform b{font-weight:bold;font-size:11px;}
#zg .zg_itemCommunity{margin:5px 0 0 0;line-height:13px;}
#zg .zg_itemCommunity *{font-size:11px;line-height:13px;}
#zg .zg_releaseDate{margin:5px 0 0 0;}
#zg .zg_releaseDate span{font-size:}
#zg .zg_futureRelease{color:#900;}
#zg .zg_itemAvailability{margin:8px 0 0 0;color:#666;font-size:12px;}
#zg .zg_itemPriceBlock{margin:14px 0 0 0;}
#zg .zg_itemPriceBlock *{font-family:arial, sans-serif;}
#zg .zg_itemPriceBlock p{line-height:16px;}
#zg .zg_itemPriceBlock br{line-height:25px;}
#zg .zg_itemPriceBlock b{font-weight:bold;}
#zg .zg_itemRankBlock{margin:14px 0 0 0;font-size:9px;}
#zg .zg_itemRankBlock *{line-height:20px;}
#zg .zg_itemRankBlock .rankTitle{font-weight:bold;}
#zg .zg_itemRankBlock .notRanked{color:#666;font-style:italic;}
#zg #zg_freeList .zg_daysInList{display:none;}
#zg #zg_freeList .zg_arrowSprite{display:none;}
#zg .zg_mp3Play{position:absolute;width:100%;height:24px;#CCC;bottom:0;left:0;cursor:pointer;}
#zg .zg_mp3PlayButton{position:absolute;height:22px;width:22px;left:5px;bottom:2px;background:url(http://g-ecx.images-amazon.com/images/G/01/zeitgeist/mp3player/playbutton._V189045547_.png)}
#zg .zg_mp3PlayText{font-size:11px;padding:0 0 0 30px;line-height:24px;text-align:left;display:none;}
#zg .zg_mp3PlayHover{background:#FFF;opacity:0.9;}
#zg .zg_mp3PlayHover .zg_mp3PlayButton{background-position:-22px 0px;}
#zg .zg_mp3PlayHover .zg_mp3PlayText{display:block;}
#zg .zg_mp3PlayActive .zg_mp3PlayButton{background-position:-22px -22px;}
#zg .zg_sparseListItem .zg_rankInfo{width:30px;}
#zg .zg_listTypeID_bs .zg_sparseListItem .zg_rankInfo{width:60px;}
#zg .zg_listTypeID_bsms .zg_sparseListItem .zg_rankInfo{width:120px;}
#zg .zg_sparseListItem .zg_salesMovement{width:120px;font-size:11px;color:#666;font-weight:normal;}
#zg .zg_percentChange{font-size:12px;color:#390;cursor:default;}
#zg .zg_homeWidgetItem{width:30%;float:left;margin:0 0 10px 15px;}
#zg .zg_homeWidgetItem .zg_title a{font-size:13px;line-height:16px;}
#zg .zg_homeWidgetItem .zg_image{margin:10px 0 5px 0;position:relative;height:176px;}
#zg .zg_homeWidgetItem .zg_reviews{margin-top:5px;}
#zg .zg_homeWidgetItem .zg_salesMovement{display:block;font-size:11px;line-height:16px;color:#666;font-weight:normal;}
#zg .zg_sparseListItem{min-height:160px;position:relative;}
#zg .zg_sparseListItem > div{display:inline;vertical-align:top;position:relative;}
#zg .zg_sparseListItem .zg_title a{font-size:14px;line-height:17px;font-weight:bold;}
#zg .zg_sparseListItem .zg_itemInfo{position:relative;display:inline-block;width:400px;padding:0 0 0 5px;}
#zg .zg_sparseListItem .zg_rankInfo{float:left;position:relative;}
#zg .zg_sparseListItem .zg_image{float:left;position:relative;}
#zg .zg_sparseListItem .zg_salesMovement{width:90px;display:block;font-size:11px;line-height:13px;color:#666;font-weight:normal;}
#zg .zg_paidAndFreeItem{width:350px;clear:both;margin:0 0 20px 0;}
#zg .zg_paidAndFreeItem .zg_image{width:110px;display:inline-block;position:relative;float:left;}
#zg .zg_paidAndFreeItem .zg_itemInfo{width:220px;padding:0 0 0 5px;display:inline-block;vertical-align:top;min-height:110px;}
#zg .zg_paidAndFreeItem .zg_title a{font-size:13px;line-height:16px;font-weight:bold;}
#zg .zg_paidAndFreeItem .zg_rankInfo{line-height:16px;padding:0 3px 0 0;}
#zg .zg_paidAndFreeItem .zg_salesMovement{display:block;font-size:11px;line-height:13px;color:#666;font-weight:normal;}
#zg .zg_pagination{margin:30px 0;text-align:center;clear:both;}
#zg .zg_pagination li{display:inline;}
#zg .zg_pagination a{font-size:13px;line-height:16px;cursor:pointer;font-weight:normal;
  text-decoration:underline;padding:3px;margin:0;font-family:verdana,arial,sans-serif;}
#zg .zg_pagination .zg_selected a{font-weight:bold;color:#C60;text-decoration:none;line-height:16px;border:1px solid #C60;padding:3px;margin:0;}
#zg #zg_loading{height:800px;background:url(http://g-ecx.images-amazon.com/images/G/01/nav2/images/gui/loading-large._V192184511_.gif) 120px 50px no-repeat;min-height:800px;}
#zg .zg_mailIcon{float:left;height:11px;width:16px;line-height:11px;font-size:1px;
  background:url(http://g-ecx.images-amazon.com/images/G/01/x-locale/detail/tell-a-friend._V255324178_.png);margin:3px 3px 0 0;}
#zg #zg_rssLinks{line-height:18px;}
#zg .zg_rssIcon{float:left;height:16px;width:16px;line-height:16px;font-size:1px;
  background:url(http://g-ecx.images-amazon.com/images/G/01/x-locale/common/icons/feed-icon-16x16._V192241152_.gif);margin:0 3px 0 0;}
#zg .zg_learnMore{color:#000;font-size:11px;font-weight:normal;}
#zg .zg_learnMore a{font-size:11px;font-weight:normal;text-decoration:underline;}
#zg #zg_discussions{clear:both;padding:15px 20px;background:#FFF;position:relative;}
#cdZgTeaser th{font-size:11px;}
#cdZgTeaser td.title .dgSubtitle a{font-size:10px;}
#cdZgTeaser td.title a{font-size:12px;}
#cdZgTeaser td.num{font-size:11px;}
#cdZgTeaser td.newness{font-size:11px;}
#cdZgTeaser .cdTL,
#cdZgTeaser .cdTC,
#cdZgTeaser .cdTR,
#cdZgTeaser .cdML,
#cdZgTeaser .cdMR,
#cdZgTeaser .cdBL,
#cdZgTeaser .cdBC,
#cdZgTeaser .cdBR{display:none;}
#cdZgTeaser .cdMC .h1{font-size:16px;}
#rhf .h1{font-size:16px;}
#rhf{position:relative;}
#rhfUpsellColumnTitle,
.rhfHistoryWrapper *,
#shoveler-pagination span,
#shoveler-content *{font-size:12px;}
#zg div.zgChart{border:1px solid #C9E1F4;margin-bottom:20px;padding:8px;}
#zg div.zgChart{font-family:verdana,arial,helvetica,sans-serif;}
#zg div.zgChart h2{font-size:12px;font-weight:bold;}
#zg div.zgChart div.storeTitle{font-weight:bold;}
#zg div.zgChart div.subheadText{font-size:11px;padding:2px 0 8px 0;}
#zg div.zgChart .rankedItemImage{position:relative;margin-bottom:10px;}
#zg div.zgChart .rankedItemNarrowImage{padding-bottom:5px;}
#zg div.zgChart span.rank{font-weight:bold;font-size:16px;font-family:Arial;line-height:10px;}
#zg div.zgChart div.rankedItemInfo{line-height:16px;margin-bottom:5px;}
#zg div.zgChart a.titleLink{font-weight:normal;font-size:12px;text-decoration:none;font-family:Arial;}
#zg div.zgChart a.titleLink:hover,
#zg div.zgChart a.playbackTitleLink:hover{text-decoration:underline;}
#zg div.zgChart a.playbackTitleLink{font-weight:normal;text-decoration:none;}
#zg div.zgChart .byline{font-size:11px;}
#zg div.zgChart .byline a{text-decoration:none;}
#zg div.zgChart .byline a:hover{text-decoration:underline;}
#zg div.zgChart .priceBlock{position:relative;font-size:11px;padding-top:2px;}
#zg div.zgChart .priceBlock .pricePerUnit{color:#990000;}
#zg div.zgChart .mapOrRangePrice{padding-top:2px;}
#zg div.zgChart strong.price{font-size:14px;font-weight:normal;}
#zg div.zgChart .listprice{font-family:verdana,arial,helvetica,sans-serif;color:#666;}
#zg div.zgChart .moverRank{color:#390;}
#zg div.zgChart .dilText{color:#666;font-size:11px;}
#zg div.zgChart .noDil{display:inline;line-height:8px;}
#zg div.zgChart div.platformBinding{padding-top:2px;font-size:11px;color:#666;}